<h2 mat-dialog-title>Modify user {{ data.account.name }}</h2>
<form [formGroup]="rForm" (ngSubmit)="modifyUser(rForm.value)">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Value"
        disableAutocomplete
        formControlName="name" />
    </mat-form-field>
    <mat-form-field class="move-right" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Value"
        type="email"
        formControlName="email" />
    </mat-form-field>
    <mat-form-field class="move-right" appearance="outline">
      <mat-label>User role</mat-label>
      <mat-select formControlName="permission_name">
        <mat-option
          *ngFor="
            let permission of permissions$ | async | keyvalue | sortBy: 'value'
          "
          [value]="permission.value"
          >{{ permission.value }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field class="move-right" appearance="outline">
      <mat-label>Departments</mat-label>
      <mat-select multiple formControlName="departments">
        <mat-option
          *ngFor="let dept of departments$ | async | sortBy: 'department_name'"
          [value]="dept.department_id"
          >{{ dept.department_name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div class="extra-info">
      <strong>Created on: </strong
      >{{
        data.account?.created_on | amParse | amDateFormat: 'yyyy-MM-dd HH:mm a'
      }}
    </div>
    <div class="extra-info">
      <strong>Last login: </strong
      >{{
        data.account?.last_login | amParse | amDateFormat: 'yyyy-MM-dd HH:mm a'
      }}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
    <button
      mat-stroked-button
      color="primary"
      [disabled]="!rForm.valid"
      class="submit">
      Modify
    </button>
  </mat-dialog-actions>
</form>
