:host {
  display: block;
  height: 100%;
  padding: 70px 10vw;
  box-sizing: border-box;
}

.close {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgba(white, 0.2);
  border-radius: 50%;
  background-image: url(^assets/icons/close-white.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  transform: scale(1);
  transition: all 0.15s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
