<!-- l1-filter.component.html

Component containing the new landing search bar and breadcrumbs

Author: dph000

-->
<div class="upper-container">
  <div (click)="toggleSidenav()" class="showFolders" matTooltip="Show+Hide Folders" [class.toggle-search]="openedSearch$ | async">
      <i [class.sidebar-closed]="getSidebarState()"></i>
  </div>
  <div class="return-search" [class.toggle-search]="!(openedSearch$ | async)" (click)="close_search()">
    <!-- Old -->
    <!-- <mat-icon>keyboard_backspace</mat-icon> -->
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="l1Filter"><path d="M360-240 120-480l240-240 56 56-144 144h568v80H272l144 144-56 56Z"/></svg>
  </div>
  <!-- Breadcrumbs container -->
  <div class="breadcrumb-container" [class.toggle-search]="openedSearch$ | async">
    <!-- Breadcrumbs home button -->
      <div class="breadcrumb" matTooltip="Shift + Alt + H" (click)="returnToRoot()">
          <!-- <mat-icon [class.navigable]="(currentRoute$ | async).length > 0">home</mat-icon> -->
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000" class="l1Filter" [class.navigable]="(currentRoute$ | async).length > 0"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg>
          <span>Home</span>
      </div>
      <!-- Breadcrumbs directory list -->
      <div class="breadcrumb" *ngFor="let folder of currentRoute$ | async">
        <!-- Arrow to return to parent folder / department only visible on mobile -->
        <p (click)="returnParent()" class="return_mobile"></p>
        <p class="return"></p>
        <span (click)="returnFolder(folder)">{{ folder.name }}</span>
      </div>
  </div>
  <!-- Search bar -->
  <div class="new-search-input" [class.search-opened]="openedSearch$ | async">
    <mat-form-field>
      <input matInput class="search-input-box" 
        type="text" 
        [(ngModel)]="searchInput" 
        (keydown.enter)="searchFeature()" 
        disableAutocomplete 
        placeholder="Search in co.meta" 
        #addTest 
        (focus)="sendInputFocusToParent(true)" 
        (blur)="sendInputFocusToParent(false)">
    </mat-form-field>
  </div>
  <!-- Filters list, if there is any active -->
  <div class="filters" *ngIf="filters$.length != 0">
    <div class="filter" *ngFor="let filter of filters$; trackBy: getId">
      <span [innerHTML]="filter | filterText:moreOrLessSteps.value | storeSelector | async"></span>
      <div (click)="removeFilter(filter)" class="close" matTooltip="Shift + Alt + X"></div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- Search button -->
  <div *ngIf="filters$.length == 0" class="search-container" (click)="open_search(); searchFeature()">
    <!-- Old -->
    <!-- <mat-icon class="search-button" matTooltip="Shift + Alt + F">search</mat-icon> -->
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" class="l1Filter search-button" matTooltip="Shift + Alt + F"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
  </div>
</div>