<!-- Editor row headers -->
<div class="headers">
  <div class="move-row"></div>
  <div class="more-vert">
    <span class="desktop"></span>
    <span class="mobile"><i></i></span>
    <!-- <span class="select-text">Select</span> -->
  </div>
  <div class="index">
    <span>#</span>
    <!-- <span class="all-text"> all</span> -->
  </div>
  <div class="enable">
    <span class="desktop">Enable</span>
    <span class="mobile"><i></i></span>
    <mat-checkbox
      (change)="selectAllEnable($event)"
      [checked]="isAllEnabled()"
      [matTooltip]="'step_editor.all_steps' | translate"
      matTooltipPosition="above"
      color="primary"
      class="select-all checkbox-blue"></mat-checkbox>
  </div>
  <div class="screenshot">
    <span class="desktop">Screenshot</span>
    <span class="mobile"><i></i></span>
    <mat-checkbox
      (change)="selectAllScreenshot($event)"
      [checked]="isAllScreenshot()"
      [matTooltip]="'step_editor.all_screenshots' | translate"
      matTooltipPosition="above"
      color="primary"
      class="select-all checkbox-blue"></mat-checkbox>
  </div>
  <div class="compare">
    <span class="desktop">Compare</span>
    <span class="mobile"><i></i></span>
    <mat-checkbox
      (change)="selectAllCompare($event)"
      [checked]="isAllCompare()"
      [matTooltip]="'step_editor.all_compare' | translate"
      matTooltipPosition="above"
      color="primary"
      class="select-all checkbox-blue"></mat-checkbox>
  </div>
  <div class="select-step">
    <span class="desktop">Select</span>
    <span class="mobile"><i></i></span>
    <mat-checkbox
      (change)="toggleSelectAllSteps($event)"
      [checked]="areAllStepsSelected()"
      color="primary"
      class="select-all checkbox-blue"
      aria-label="Select all steps"
      [matTooltip]="'step_editor.select_all_steps' | translate"
      matTooltipPosition="above">
    </mat-checkbox>
  </div>
  <div class="step">Step Description</div>
  <div class="warnings">
    <div class="desktop">Status</div>
    <div class="mobile"><i></i></div>
  </div>
  <div class="actions">
    <div class="desktop">Actions</div>
    <div class="mobile"><i></i></div>
    <i 
      class="documentation-icon material-icons"
      [matTooltip]="'Toggle all step documentation'"
      matTooltipPosition="above"
      (click)="toggleAllDocumentation()">
      {{ areAllDocumentationVisible() ? 'visibility_off' : 'visibility' }}
    </i>
  </div>
</div>
<!-- Right click menu -->
<context-menu menuClass="step-contect-menu" #basicMenu>
  <ng-template contextMenuItem let-item>
    <div
      (click)="addEmpty(item, true)"
      [matTooltip]="'step-definition.insert-new-above' | translate" matTooltipPosition="right">
      <mat-icon>unarchive</mat-icon>
      <span>Insert new step above</span>
    </div>
  </ng-template>
  <ng-template contextMenuItem let-item>
    <div
      (click)="addEmpty(item + 1, true)"
      [matTooltip]="'step-definition.insert-new-below' | translate" matTooltipPosition="right">
      <mat-icon>archive</mat-icon>
      <span>Insert new step below</span>
    </div>
  </ng-template>
  <ng-template contextMenuItem let-item>
    <div
      (click)="copyItem(item, 'up')"
      [matTooltip]="'step-definition.copy-new-above' | translate" matTooltipPosition="right">
      <mat-icon>unarchive</mat-icon>
      <span>Copy step above</span>
    </div>
  </ng-template>
  <ng-template contextMenuItem let-item>
    <div
      (click)="copyItem(item + 1, 'down')"
      [matTooltip]="'step-definition.copy-new-below' | translate" matTooltipPosition="right">
      <mat-icon>archive</mat-icon>
      <span>Copy step below</span>
    </div>
  </ng-template>
  <ng-template contextMenuItem let-item>
    <div 
      *ngIf="isApiCallStep(item)"
      [matTooltip]="'Edit current API Call'"
      matTooltipPosition="right"
      (click)="editApiCall(item)">
      <mat-icon class="edit">edit</mat-icon>
      <span>Edit API Call</span>
    </div>
    <div 
      *ngIf="!isApiCallStep(item)"
      [matTooltip]="'Only available for API call steps'"
      matTooltipPosition="right"
      class="disabled-menu-item">
      <mat-icon class="edit">edit</mat-icon>
      <span>Edit API Call</span>
    </div>
  </ng-template>
  <ng-template contextMenuItem let-item>
    <div (click)="deleteStep(item)">
      <mat-icon class="delete">delete</mat-icon>
      <span>Delete</span>
    </div>
  </ng-template>
  <ng-template contextMenuItem let-item>
    <div 
      *ngIf="canPasteSteps()"
      (click)="pasteSteps(item)"
      [matTooltip]="'step_editor.paste_steps_here' | translate" 
      matTooltipPosition="right">
      <mat-icon matBadge="{{ clipboardSteps.length }}" matBadgeColor="primary">archive</mat-icon>
      <span>Paste steps here</span>
    </div>
    <div 
      *ngIf="!canPasteSteps()"
      [matTooltip]="'No steps in clipboard to paste'"
      matTooltipPosition="right"
      class="disabled-menu-item">
      <mat-icon>archive</mat-icon>
      <span>Paste steps here</span>
    </div>
  </ng-template>
  <ng-template contextMenuItem let-item>
    <div 
      *ngIf="hasSelectedSteps()"
      (click)="deleteSelectedSteps()"
      [matTooltip]="'step_editor.delete_selected_steps' | translate" 
      matTooltipPosition="right">
      <mat-icon matBadge="{{ getSelectedStepsCount() }}" matBadgeColor="warn" class="delete">delete_sweep</mat-icon>
      <span>Delete selected steps</span>
    </div>
    <div 
      *ngIf="!hasSelectedSteps()"
      [matTooltip]="'No steps selected to delete'"
      matTooltipPosition="right"
      class="disabled-menu-item">
      <mat-icon class="delete">delete_sweep</mat-icon>
      <span>Delete selected steps</span>
    </div>
  </ng-template>
</context-menu>
<!-- Editor step rows -->
<div class="DragDropContainer" cdkDropList (cdkDropListDropped)="drop($event)">
  <ng-container
    *ngFor="let step of stepsForm.controls; index as i; trackBy: trackStep">
    <ng-container [formGroup]="step">
      <div
        class="step-row"
        [class.invalid-step]="step.get('step_content').errors?.invalidStep"
        [class.disabled]="!step.controls.enabled.value"
        cdkDrag
        cdkDragLockAxis="y"
        [contextMenu]="basicMenu"
        [contextMenuValue]="i">
        <div class="father-block"
             [class.odd-row]="i % 2 !== 0"
             [class.even-row]="i % 2 === 0">
          <div class="first-block">
            <div class="move-row" cdkDragHandle></div>
            <button
              type="button"
              class="more-vert-step" mat-icon-button [matMenuTriggerFor]="stepOptions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <div class="step-extras">
              <div class="index">{{ i + 1 }}</div>
              <mat-checkbox
                formControlName="enabled"
                aria-label="Enable"
                color="primary"
                class="enable checkbox-blue"
                (click)="onEnableCheckboxClick($event, i)"
                >
              </mat-checkbox>
              <mat-checkbox
                formControlName="screenshot"
                aria-label="Screenshot"
                color="primary"
                class="screenshot checkbox-blue"
                (click)="onScreenshotCheckboxClick($event, i)"
                (change)="screenshotChange($event, i)"
                [matTooltip]="'step_editor.screenshot_disabled' | translate"
                matTooltipPosition="above"></mat-checkbox>
              <mat-checkbox
                formControlName="compare"
                aria-label="Compare"
                color="primary"
                class="compare checkbox-blue"
                (click)="onCompareCheckboxClick($event, i)"
                (change)="onCompareChange($event, i)"
                [matTooltip]="'step_editor.compare_enabled' | translate"
                matTooltipPosition="above"></mat-checkbox>
              <mat-checkbox
                formControlName="selected"
                color="primary"
                class="select-step checkbox-blue"
                aria-label="Select step"
                (click)="onSelectCheckboxClick($event, i)"
                (change)="onSelectStepChange($event, i)"
                [matTooltip]="'step_editor.select_step_tooltip' | translate"
                matTooltipPosition="above"></mat-checkbox>
              <div class="prefix">
                <mat-select formControlName="step_keyword">
                  <mat-option
                    *ngFor="let prefix of user.step_keywords"
                    [value]="prefix"
                    >{{ prefix }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
            <div
              class="step_content"
              tabindex="0"
              (focusout)="onStepFocusOut($event)"
              (keydown.esc)="onStepEscape($event)">
            <div 
                *ngIf="isApiCallStep(i) && !isEditingApiCall(i)"
                class="collapsed-api-call"
                (click)="expandApiCall(i)">
                {{ getCollapsedApiCall(i) | truncateApiBody }}
            </div>
            <!-- Textarea with autocomplete enabled -->
             <!-- MAC ShortCuts
              (keydown.alt.arrowup)="insertStep($event, i)"
              (keydown.alt.arrowdown)="insertStep($event, i)"
              (keydown.meta.shift.f)="createFilePathAutocomplete($event, i)"
             -->
            <textarea
              [style.display]="(isApiCallStep(i) && !isEditingApiCall(i)) ? 'none' : 'unset'"
              [style.resize]="(isApiCallStep(i)) ? 'vertical' : 'null'"
              #stepTextarea
              (input)="onStepChange($event, i); autoGrowTextarea($event)"
              (blur)="fixStep($event, i); sendTextareaFocusToParent(false, i)"
              (click)="onStepTextareaClick($event, i, 0)"
              (keydown.arrowdown)="onTextareaArrowKey($event, 'down', variable)"
              (keydown.arrowup)="onTextareaArrowKey($event, 'up')"
              (keydown.enter)="onTextareaEnter($event, i)"
              (keydown.Tab)="onTextareaTab($event, i)"
              (keydown.control.arrowup)="insertStep($event, i)"
              (keydown.alt.arrowup)="insertStep($event, i)"
              (keydown.control.arrowdown)="insertStep($event, i)"
              (keydown.alt.arrowdown)="insertStep($event, i)"
              (keydown.alt.control.arrowup)="copyStep($event, i)"
              (keydown.alt.control.arrowdown)="copyStep($event, i)"
              (keydown.alt.shift.f)="createFilePathAutocomplete($event, i)"
              (keydown.meta.shift.f)="createFilePathAutocomplete($event, i)"
              class="code"
              spellcheck="false"
              autocomplete="off"
              formControlName="step_content"
              [matAutocomplete]="stepHelp"
              placeholder="Step Code"
              (focus)="sendTextareaFocusToParent(true, i); onTextareaFocus($event, i)">
            </textarea>
            <mat-list
              class="var_name_autoComplete"
              [ngStyle]="{
                'bottom.px':
                  displayedVariables.length > 4
                    ? -118
                    : -displayedVariables.length * 30 + 2
              }"
              *ngIf="
                stepVariableData.currentStepIndex == i &&
                displayedVariables.length > 0
              "
              role="list">
              <mat-list-item
                id="{{ variable.id }}"
                tabindex="0"
                *ngFor="let variable of displayedVariables"
                (click)="onClickVariable(variable.variable_name, i)">
                <div
                  class="variable-wrapper"
                  *ngIf="variable.variable_name; else noVariable">
                  <span class="var_name">${{ variable.variable_name }}</span>
                  <span class="var_value">={{ variable.variable_value }}</span>
                </div>
                <ng-template #noVariable>
                  <div class="variable-wrapper" *ngIf="!step.get('step_content').value?.startsWith('Run Javascript function')">
                    <span class="no-variable">No variable with this name</span>
                  </div>
                </ng-template>
              </mat-list-item>
            </mat-list>
          </div>
          <div style="display: none;">
            <!-- <input
              type="hidden"
              formControlName="step_action"
              [value]="step.get('step_action').value"
            /> -->
            <input matInput type="hidden" formControlName="step_action" />
          </div>
          </div>
          <div class="status-container">
            <i
              *ngIf="step.get('step_content').errors?.invalidStep"
              class="invalid-sign"
              matTooltip="Invalid step definition"
              matTooltipPosition="above">
              <div class="little-icon">
                <i class="material-icons">error</i>
              </div>
            </i>
            <i
              *ngIf="step.get('timeout').errors?.max"
              class="invalid-sign"
              matTooltip="Step timeout is invalid, maximum value for timeout is 7200."
              matTooltipPosition="above">
              <div class="little-icon">
                <i class="material-icons">watch_later</i>
              </div>
            </i>
            <ng-container *ngIf="importsSteps$ | async as importedSteps">
              <i
                *ngIf="
                  importedSteps.length > 0 && step.value.step_content
                    | checkDuplicate: importedSteps
                "
                class="duplicate-step-sign"
                matTooltip="This step definition has been found inside an import"
                matTooltipPosition="above">  
                <div class="little-icon">
                  <i class="material-icons">pin</i>
                </div>
              </i>
            </ng-container>
            <i 
              class="feature-link-sign material-icons"
              [style.display]="step.get('step_content').value?.includes('Run feature with') ? 'flex' : 'none'"
              [style.opacity]="stepStates[i]?.showLinkIcon && stepStates[i]?.featureId ? '1' : '0.5'"
              [matTooltip]="(stepStates[i]?.showLinkIcon && stepStates[i]?.featureId) ? ('step_editor.feature_link_tooltip' | translate) : ('step_editor.feature_link_not_found' | translate)"
              matTooltipPosition="above"
              (click)="navigateToFeature(stepStates[i]?.featureId)">
              link
            </i>
          </div>
          <div class="actions-container">
            <i 
              class="documentation-icon material-icons"
              [matTooltip]="'Toggle step documentation'"
              matTooltipPosition="above"
              (click)="toggleStepDocumentation(i)">
              {{ stepVisible[i] ? 'visibility_off' : 'visibility' }}
            </i>
          </div>
          <!-- Step Options Menu -->
          <mat-menu class="step-options-menu" #stepOptions="matMenu">
            <button 
              type="button"
              mat-menu-item stopPropagation>
              <ng-container
                *ngLet="
                  (_editFeature.departmentSettings$ | async)
                    ?.continue_on_failure ||
                  _editFeature.featureForm.value.continue_on_failure ||
                  user.settings?.continue_on_failure as disabled
                ">
                <mat-checkbox
                  matTooltipPosition="before"
                  [matTooltip]="'continue_on_failure.tooltip' | translate"
                  [matTooltipDisabled]="!disabled"
                  color="primary"
                  formControlName="continue_on_failure"
                  >Continue on failure</mat-checkbox
                >
              </ng-container>
            </button>
            <button
              type="button"
              class="custom-timeout"
              mat-menu-item
              stopPropagation
              [matTooltip]="
                (step.get('step_content').value.match('I (can )?sleep')
                  ? 'tooltips.step_timeout_ignored'
                  : 'tooltips.step_timeout'
                ) | translate
              "
              matTooltipPosition="left">
              <span>Customize timeout:</span>
              <input
                formControlName="timeout"
                min="0"
                max="7205"
                maxlength="4"
                type="number"
                [attr.disabled]="
                  step.get('step_content').value.match('I (can )?sleep')
                " />
              <span>seconds</span>
            </button>
            <button
              type="button"
              mat-menu-item
              (click)="deleteStep(i)"
              [matTooltip]="'tooltips.step_delete' | translate"
              matTooltipPosition="left">
              <mat-icon color="warn">delete</mat-icon>Delete
            </button>
          </mat-menu>
        </div>
        <div *ngIf="stepVisible[i]" class="stepContainerDocumentation">
          <div class="containerFather">
            <div class="fake-drop">
            </div>
            <div class="fake-dots">
            </div>
            <div class="fake-hash">
            </div>
            <div class="fake-enable">
            </div>
            <div class="fake-screenshot">
            </div>
            <div class="fake-compare">
            </div>
            <div class="fake-actions">
            </div>
            <div class="stepDescriptionExample">
              <p class="stepDescriptionPar">
                <span class="bluetext">Description:</span> <br>
                <span class="stepDescriptionParText">{{ stepsDocumentation[i]?.description }}</span>
              </p>
              <p class="stepDescriptionPar">
                <span class="bluetext">Examples:</span> <br>
                <span class="stepDescriptionParText">{{ stepsDocumentation[i]?.examples }}</span>
              </p>
            </div>
            <div class="stepDocumentationIcons">
              <p class="stepByStep">Step Documentation</p>
            </div>
            <div class="columnOfIcons">
              <div class="contentCopy">
                <i
                  (click)="importClipboardStepDoc(stepsDocumentation[i]?.examples)"
                  [ngClass]="{ active: isIconActive[i] }"
                  class="material-icons copyClipboardIcon"
                  [color]="isIconActive[i] ? 'primary' : ''"
                  matTooltip="Copy the example"
                  matTooltipPosition="above">
                  content_copy
                </i>
              </div>
              <div class="contentCopy">
                <a
                  class="linkTo"
                  href="https://github.com/cometa-rocks/cometa_documentation/blob/main/docs/user/cometa_actions.md"
                  target="_blank"
                  rel="Link cometa documentation"
                  matTooltip="Open Cometa documentation"
                  matTooltipPosition="above">
                  <i 
                    class="material-icons linkToSteps">
                    link
                  </i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="button-actions">
  <div class="left">
    <button
      type="button"
      color="primary"
      [matMenuTriggerFor]="importJSON"
      mat-stroked-button
      class="json_option">
      IMPORT JSON
    </button>
    <button
      type="button"
      color="primary"
      [matMenuTriggerFor]="exportJSON"
      mat-stroked-button
      class="json_option">
      EXPORT JSON
    </button>
    <button
      type="button"
      color="primary"
      (click)="editVariables()"
      class="amv_custom-tooltip"
      data-tooltip="V or Alt+V while editing a step"
      mat-stroked-button>
      EDIT VARIABLES
    </button>
    <input
      type="file"
      class="upload_json"
      (change)="readJson($event)"
      style="display: none"
      accept="application/json"
      #file />
    <mat-menu #importJSON="matMenu" yPosition="above">
      <button
       type="button"
       (click)="importClipboard()" mat-menu-item>
        <mat-icon>content_copy</mat-icon>From Clipboard
      </button>
      <button 
        type="button"
        (click)="file.click()" mat-menu-item>
        <mat-icon>attach_file</mat-icon>From file
      </button>
    </mat-menu>
    <mat-menu #exportJSON="matMenu" yPosition="above">
      <button 
        type="button"
        (click)="exportClipboard()" mat-menu-item>
        <mat-icon>content_copy</mat-icon>To Clipboard
      </button>
      <button 
        type="button"
        (click)="export()" mat-menu-item>
        <mat-icon>attach_file</mat-icon>To file
      </button>
    </mat-menu>
  </div>
  <div class="right">
    <button
      type="button"
      color="primary"
      (click)="removeAll()"
      mat-stroked-button
      class="remove_all">
      REMOVE ALL STEPS
    </button>
    <button
      type="button"
      color="primary"
      [matMenuTriggerFor]="addStep"
      mat-stroked-button
      class="add">
      ADD STEP
    </button>
    <mat-menu #addStep="matMenu" yPosition="below">
      <button 
        type="button"
        (click)="addEmpty(-1, false)" mat-menu-item>
        <mat-icon>chat_bubble</mat-icon>Empty
      </button>
      <button 
        type="button"
        (click)="add()" mat-menu-item>
        <mat-icon>chat</mat-icon>From Template
      </button>
    </mat-menu>
  </div>
</div>

<!-- Single shared autocomplete instance outside the loop -->
<mat-autocomplete
  #stepHelp="matAutocomplete"
  (opened)="onAutocompleteOpened(currentFocusedStepIndex)"
  (optionSelected)="selectFirstVariable($event, currentFocusedStepIndex)"
  (optionActivated)="onOptionActivated($event, currentFocusedStepIndex)"
  (closed)="closeAutocomplete(currentFocusedStepIndex)">
  
  <ng-container *ngFor="let group of filteredGroupedActions$ | async">
    <mat-optgroup [label]="group.name">
      <mat-option *ngFor="let action of group.actions" [value]="action.action_name">
        {{ action.action_name }}
      </mat-option>
    </mat-optgroup>
  </ng-container>

</mat-autocomplete>

<!-- div for file paths {file_path} -->
<div 
  #filePathAutocompletePanel
  class="custom-file-autocomplete-panel"
  [class.visible]="showFilePathAutocomplete"
  [class.hidden]="!showFilePathAutocomplete">
  
  <div class="custom-autocomplete-header">
    <span class="custom-autocomplete-title">Select File</span>
  </div>
  
  <div class="custom-autocomplete-options">
    <div 
      *ngFor="let option of filePathAutocompleteOptions; let i = index" 
      class="custom-autocomplete-option"
      [class.active]="i === activeOptionIndex"
      (click)="onFilePathSelect({option: {value: option.path}}, currentFilePathStepIndex)"
      (mouseenter)="setActiveOption(i)">
      {{ option.label }}
    </div>
  </div>
</div>
