<div class="general">
  <ng-container *ngLet="details$ | async as details">
    <ng-container *ngLet="account$ | async as account">
      <h3>
        {{ 'profile.h3_user' | translate }}
      </h3>
      <!-- Bloque de información del usuario -->
      <div class="user-container">
        <div class="user-row">
          <div>
            {{ 'profile.div_user' | translate }}
          </div>
          <div class="name">
            {{ account.name }}
          </div>
        </div>
        <div class="user-row">
          <div>
            {{ 'profile.email' | translate }}
          </div>
          <div class="email" *ngIf="account.email">
            {{ account.email }}
          </div>
        </div>
        <div class="user-row">
          <div>
            {{ 'profile.user_role' | translate }}
          </div><div class="type">{{ account.user_permissions.permission_name }}</div>
        </div>
        <div class="user-row">
          <div>
            {{ 'profile.created_on' | translate }}
          </div><div class="extra-info">{{ account.created_on | amParse | amDateFormat: 'yyyy-MM-dd HH:mm a' }}</div>
        </div>
        <div class="user-row">
          <div>
            {{ 'profile.last_login' | translate }}
          </div><div class="extra-info">{{ account.last_login | amParse | amDateFormat: 'yyyy-MM-dd HH:mm a' }}</div>
        </div>
        <div class="user-options">
          <button (click)="inviteUser()" class="see-again" mat-stroked-button>
            {{ 'profile.invite_to_my_team' | translate }}
          </button>
        </div>
        <ng-container *ngIf="account.stripe_customer_id">
          <h3>
            {{ 'profile.h3_payment' | translate }}
          </h3>
          <button (click)="goCustomerPortal()" class="see-again stripe" mat-button>
            {{ 'profile.button_stripe' | translate }}
          </button>
          <br />
          <br />
          <p>
            {{ 'profile.p_stripe' | translate }}
          </p>
          <h3>
            {{ 'profile.h3_usage_invoices' | translate }}
          </h3>
          <ng-container *ngIf="invoices$ | async as invoices">
            <ng-container *ngIf="invoices.length > 0; else noInvoices">
              <table class="invoices">
                <thead>
                  {{ 'profile.table_invoices' | translate }}
                </thead>
                <tbody>
                  <tr *ngFor="let invoice of invoices">
                    <td>
                      {{
                        invoice.period_start | amParse | amDateFormat: 'dd.MM.yyyy'
                      }}
                    </td>
                    <td>
                      {{
                        invoice.period_end | amParse | amDateFormat: 'dd.MM.yyyy'
                      }}
                    </td>
                    <td>
                      {{ invoice.hours }} {{ 'profile.td_hours' | translate }}
                    </td>
                    <td>{{ invoice.cloud | titlecase }}</td>
                    <td>
                      <ng-container *ngIf="invoice.total > 0; else free">
                        {{ invoice.total }}
                      </ng-container>
                      <ng-template #free>
                        {{ invoice.hours }} {{ 'profile.free' | translate }}
                      </ng-template>
                    </td>
                    <td>{{ invoice.status | titlecase }}</td>
                    <td>
                      <button (click)="goInvoice(invoice.id)" mat-icon-button>
                        <mat-icon>link</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-template #noInvoices> 
              {{ 'profile.no_invoices' | translate }}
            </ng-template>
          </ng-container>
          <h3>
            {{ 'profile.h3_budgets' | translate }}
          </h3>
          <p *ngIf="details?.usage_money">
            {{ 'profile.budgets_current_usage' | translate }} {{ details.usage_money }} €
          </p>
          <p>
            {{ 'profile.budgets_p' | translate }}
          </p>
          <div class="description-option">
            <mat-slide-toggle
              color="primary"
              [checked]="account.settings?.enable_budget"
              (change)="handleAccountSetting($event, 'enable_budget')"
              >
              {{ 'profile.budget_mat-slide' | translate }}
            </mat-slide-toggle>
            <mat-form-field
              appearance="outline"
              class="budget-digit expand-on-show"
              [class.show]="account.settings?.enable_budget">
              <mat-label>
                {{ 'profile.select_budget' | translate }}
              </mat-label>
              <input
                matInput
                [value]="account.settings?.budget || 0"
                (change)="handleAccountSetting($event, 'budget')"
                type="number" />
              <span matSuffix>EUR</span>
            </mat-form-field>
          </div>
          <ng-container *ngIf="account.settings?.enable_budget">
            <br />
            <p>
              {{ 'profile.select_budget' | translate }}
            </p>
            <mat-radio-group
              [value]="account.settings?.budget_schedule_behavior || 'prevent'"
              (change)="handleAccountSetting($event, 'budget_schedule_behavior')">
              <mat-radio-button color="primary" value="prevent">
                {{ 'profile.behaviour_prevent_button' | translate }}
              </mat-radio-button
              ><br /><br />
              <mat-radio-button color="primary" value="continue">
                {{ 'profile.behaviour_ignore_button' | translate }}
              </mat-radio-button
              ><br />
            </mat-radio-group>
          </ng-container>
        </ng-container>
      </div>
      <h3>
        {{ 'profile.h3_global_settings' | translate }}
      </h3>
      <div class="global-settings">
        <p>
          {{ 'profile.h3_p_global_settings' | translate }}
          <!-- Language selection options -->
          <mat-form-field>
            <mat-select [value]="config$.language">
              <mat-option
                (click)="setLang(lang.key)"
                *ngFor="
                  let lang of config$.languageCodes | keyvalue | sortBy: 'key'
                "
                [value]="lang.key"
                >{{ lang.value }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </p>
        <div class="reload-language">
          <button
            (click)="reloadLang()"
            class="reload-translations"
            mat-stroked-button>
            {{ 'profile.reload_lenguage' | translate }}
          </button>
        </div>
        <ul>
          <li>
            <mat-slide-toggle
              color="primary"
              [checked]="account.settings?.disableAnimations"
              (change)="handleDisableAnimations($event)"
              >
              {{ 'profile.mat-slide_animations' | translate }}
              </mat-slide-toggle
            >
          </li>
          <li>
            <mat-slide-toggle
              color="primary"
              [checked]="account.settings?.percentMode"
              (change)="handlePercentMode($event)"
              >
              {{ 'profile.mat-slide_percent' | translate }}
              </mat-slide-toggle>
          </li>
          <li>
            <!-- <mat-slide-toggle color="primary" labelPosition="after" [checked]="account.settings?.useNewDashboard" (change)="toggleNewDashboard($event)">Use new dashboard by default</mat-slide-toggle>
            <br /><br /> -->
            <!-- Toggle for people who can help on features -->
          </li>
          <li>
            <ng-container *ngIf="!(isDefaultDepartment$ | async)">
              <mat-slide-toggle
                color="primary"
                matTooltipPosition="after"
                [matTooltip]="'need_help.can_help' | translate"
                [checked]="account.settings?.can_help"
                (change)="handleAccountSetting($event, 'can_help')"
                >
                {{ 'profile.mat-slide_help' | translate }}
                </mat-slide-toggle>
            </ng-container>
          </li>
          <li>
            <mat-slide-toggle
              color="primary"
              labelPosition="after"
              [checked]="account.settings?.logWebsockets"
              (change)="toggleLogWebsockets($event)">
              {{ 'profile.mat-slide_sockets' | translate }}
            </mat-slide-toggle>
          </li>
          <li>
            <mat-slide-toggle
              color="primary"
              labelPosition="after"
              [checked]="
                account.settings?.hasOwnProperty('recordVideos')
                  ? account.settings?.recordVideo
                  : true
              "
              (change)="handleToggle($event, 'recordVideo')"
              >
              {{ 'profile.mat-slide_record' | translate }}
              </mat-slide-toggle>
          </li>
        </ul>
        <div class="edit-feature-toggles">
          <p>
            {{ 'profile.p_pre-select' | translate }}
          </p>
          <ul>
            <li>
              <!-- Department pre-selection options -->
              <mat-form-field>
                <mat-label class="custom-label">
                  {{ 'profile.mat-label_pres_dep' | translate }}
                  <!-- Preselect Department -->
                </mat-label>
                <mat-select [value]="account.settings?.preselectDepartment">
                  <mat-option
                    (click)="
                      preselectSave('preselectDepartment', department.department_id)
                    "
                    *ngFor="let department of (account$ | async).departments"
                    [value]="department.department_id"
                    >{{ department.department_name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </li>
            <li>
              <!-- Application pre-selection options -->
              <mat-form-field>
                <mat-label class="custom-label">
                  {{ 'profile.mat-label_pres_apl' | translate }}
                  <!-- Preselect Application -->
                </mat-label>
                <mat-select [value]="account.settings?.preselectApplication">
                  <mat-option
                    (click)="
                      preselectSave('preselectApplication', application.app_id)
                    "
                    *ngFor="let application of applications$ | async"
                    [value]="application.app_id"
                    >{{ application.app_name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </li>
            <li>
              <!-- Environment pre-selection options -->
              <mat-form-field>
                <mat-label class="custom-label">
                  {{ 'profile.mat-label_pres_env' | translate }}
                  <!-- Preselect Environment -->
                </mat-label>
                <mat-select [value]="account.settings?.preselectEnvironment">
                  <mat-option
                    (click)="
                      preselectSave(
                        'preselectEnvironment',
                        environment.environment_id
                      )
                    "
                    *ngFor="let environment of environments$ | async"
                    [value]="environment.environment_id"
                    >{{ environment.environment_name }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </li>
          </ul>
        </div>
      </div>  
      <h3>
        {{ 'profile.h3_feat_settings' | translate }}
        <!-- Feature Settings -->
      </h3>
      <div class="feature-settings">
        <p>
          {{ 'profile.h3_p_add_edit' | translate }}
          <!-- Select which sections of Add/Edit feature are closed by default. -->
        </p>
        <ul>
          <li>
            <mat-slide-toggle
              color="primary"
              labelPosition="after"
              [checked]="account.settings?.hideInformation"
              (change)="handleToggle($event, 'hideInformation')"
              >
              {{ 'profile.mat-slide_info' | translate }}
              <!-- Information -->
            </mat-slide-toggle>
          </li>
          <li>
            <mat-slide-toggle
              color="primary"
              labelPosition="after"
              [checked]="account.settings?.hideSendMail"
              (change)="handleToggle($event, 'hideSendMail')"
              >
              {{ 'profile.mat-slide_email' | translate }}
              <!-- Email -->
            </mat-slide-toggle>
          </li>
          <li>
            <mat-slide-toggle
              color="primary"
              labelPosition="after"
              [checked]="account.settings?.hideBrowsers"
              (change)="handleToggle($event, 'hideBrowsers')"
              >
              {{ 'profile.mat-slide_browser' | translate }}
              <!-- Browser selection -->
              </mat-slide-toggle>
          </li>
          <li>
            <mat-slide-toggle
              color="primary"
              labelPosition="after"
              [checked]="account.settings?.hideUploadedFiles"
              (change)="handleToggle($event, 'hideUploadedFiles')"
              >
              {{ 'profile.mat-slide_uploaded' | translate }}
              <!-- Uploaded files -->
              </mat-slide-toggle>
          </li>
          <li>
            <mat-slide-toggle
              color="primary"
              labelPosition="after"
              [checked]="account.settings?.hideSteps"
              (change)="handleToggle($event, 'hideSteps')"
              >
              {{ 'profile.mat-slide_steps' | translate }}
              <!-- Steps definition -->
              </mat-slide-toggle>
          </li>
          <li>
            <mat-slide-toggle
              color="primary"
              labelPosition="after"
              [checked]="account.settings?.hideSchedule"
              (change)="handleToggle($event, 'hideSchedule')"
              >
              {{ 'profile.mat-slide_schedule' | translate }}
              <!-- Schedule -->
              </mat-slide-toggle>
          </li>
          <li>
            <mat-slide-toggle
            color="primary"
            labelPosition="after"
            [checked]="account.settings?.continue_on_failure"
            (change)="handleAccountSetting($event, 'continue_on_failure')"
            >
            {{ 'profile.mat-slide_continue' | translate }}
            <!-- Continue on failure -->
            </mat-slide-toggle>
          </li>
        </ul>
      </div>
      <ng-container *ngLet="tours$ | async as tours">
        <h3>
          {{ 'profile.h3_badges' | translate }}
          <!-- BADGES -->
        </h3>
        <div class="badge-container">
          <ng-container
            *ngLet="tours | filterByProperty: 'completed' : true as toursCompleted">
            <ng-container *ngIf="toursCompleted.length > 0; else noBadges">
              <div
                [matTooltip]="tour.description"
                class="badge"
                *ngFor="let tour of toursCompleted">
                <i class="icon"></i>
                <div class="text" [innerHTML]="'profile.div_badges' | translate:{'tour.name': tour.name}">
                  <!-- You have completed the <i>{{ tour.name }}</i> tour -->
                </div>
                <button (click)="startTour(tour)" class="see-again" mat-button>
                  {{ 'profile.button_badges' | translate }}
                  <!-- See again -->
                </button>
              </div>
            </ng-container>
            <ng-template #noBadges>
              {{ 'profile.template_no_badges' | translate }}
              <!-- No badges found. -->
            </ng-template>
          </ng-container>
        </div>
        <h3>
          {{ 'profile.h3_tours' | translate }}
          <!-- TOURS -->
        </h3>
        <div class="tour-container">
          <p>{{ 'user.tour_description' | translate }}</p>
          <div
            [matTooltip]="tour.description"
            class="tour"
            (click)="startTour(tour)"
            *ngFor="let tour of tours">
            {{ tour.name }}
          </div>
        </div>
        <h3>{{ 'integrations.title' | translate | uppercase }}</h3>
        <div class="integration-container">
          <p>{{ 'user.webhooks_desc' | translate }}</p>
          <div class="int-dept" *ngFor="let dept of integrationsDept | keyvalue">
            <div class="dept-name">
              {{ 'profile.integrations_department' | translate }} {{ dept.key }}:
            </div>
            <div
              class="integration"
              *ngFor="let integration of dept.value; let i = index">
              <div class="icon" [ngClass]="integration.application"></div>
              <div class="details">
                <div class="description" *ngIf="integration.description as desc">
                  {{ 'profile.intergations_description' | translate }} {{ desc }}
                </div>
                <div class="hook">
                  {{ 'profile.integrations_webhooks' | translate }} {{ integration.hook }}
                </div>
                <div class="send">
                  {{ 'integrations.send_on' | translate }}:
                  {{ integration.send_on | sendOn }}
                </div>
              </div>
              <div
                [matTooltip]="'integrations.edit' | translate"
                class="edit"
                (click)="
                  _sharedActions.editIntegration({
                    type: 'edit',
                    integration: integration
                  })
                "></div>
              <div
                [matTooltip]="'integrations.delete' | translate"
                class="delete"
                (click)="removeIntegration(integration.id)"></div>
            </div>
          </div>
          <button
            (click)="_sharedActions.editIntegration({ type: 'new' })"
            class="see-again"
            mat-stroked-button>
            <mat-icon>add</mat-icon>
            {{ 'integrations.add' | translate }}
          </button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>