// api-testing.component.scss

// Scss file fo 

// Author: Nico
.container {
    height: 90vh;
    line-height: 90vh;
    text-align: center;
    h2 {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
  