<ng-container *ngIf="feature$ | async as feature">
  <span *ngIf="feature.department_name as dep">
    <b>{{ "main_view.department" | translate }}</b>: {{ dep }}
  </span>
  <span *ngIf="feature.app_name as app"> 
    | <b>{{ "main_view.application" | translate }}</b>: {{ app }}
  </span>
  <span *ngIf="feature.environment_name as env">
    | <b>{{ "main_view.environment" | translate }}</b>: {{ env }}
  </span>
  <span *ngIf="feature.feature_name as name" [matTooltip]="feature.description">
    | <b> {{ "main_view.test" | translate }}</b>: {{ name }}
  </span>
</ng-container>
