h1,
.blue {
  color: #0171bc;
}

.blue {
  font-weight: bold;
}

.margin {
  margin-left: 10px;
  list-style-type: none;
  line-height: 20px;
  & > li:before {
    content: '• ';
    color: #0171bc;
  }
}

.pointer {
  cursor: pointer;
}

li {
  line-height: 30px;
}

ul > li > ul {
  margin-left: 30px;
  & > li {
    list-style-type: none;
  }
}

a {
  color: #0171bc;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
