# ######################################## #
# This file executes command on merge-requests
# for every installation / server / client
# ######################################## #
# Changelog:
# 2023-02-17 RRO Changed docker-compose recreated check and start without changing directory, as entry point is now /code/front & changeing owner of front directory to gitlab-runner at the beginning, as it is changed later to root
# 2022-01-26 RRO Added GITCLIENTID, GITCLIENTSECRET
# 2022-01-06 RRO Added gunicorn reload for behave and django
# ######################################## #

# include all server configuration
# files from local repository
include:
  - 'gitlab-ci-yamls/*.yml'

# pulling content accidentally and 
# losing old changes
variables:
  #########################################################
  # Build Images names
  #########################################################
  COMETA_FRONT: "cometa/front"

  # This images are not build in this pipeline
  # Need to add this to pipeline
  COMETA_DJANGO: "cometa/django"
  COMETA_BEHAVE: "cometa/behave"
  COMETA_SOCKET: "cometa/socket"
  COMETA_CRONTAB: "cometa/crontab"
  COMETA_REDIS: "cometa/redis"
  COMETA_NOVNC: "cometa/novnc"
  
#  CI_DEBUG_TRACE: "true" # show verbose information 
#  GIT_STRATEGY: clone
  COMETA_EMAIL_ENABLED: 'True'
#  COMETA_REPLACE_FAVICON_IN: "front/src/index.html front/src/manifest.json front/src/welcome.html"
  COMETA_REPLACE_FAVICON_IN: "/usr/local/apache2/htdocs/index.html /usr/local/apache2/htdocs/manifest.json /usr/local/apache2/htdocs/welcome.html"
  COMETA_TOTAL_BROWSER_VERSION: 10 # number of latest browser version that will be pulled.

  CONFIG_FILE: "front/src/assets/config.json"
# set deploy order in which jobs
# will be executed
stages:
  - build
  - deploy

# THIS SECTION OF CODE IS NOT IN USE, Just keeping to for any reference purpose in the server
.deployment_script: &deployment_script
  stage: deploy
  script:
    #########################################################
    # REPLACE
    #########################################################
    # update docker-compose file depending on server variables
    - sed -i 's/<outside_port>/'$DOCKER_HTTP_PORT'/g;s/<server>/'$DOCKER_OPENIDC_CONFIG_EXT'/g' docker-compose.yml
    # Replace secrets in openidc
    - sed -i 's/@@COMETA_CRYPTO_PASSPHRASE@@/'$COMETA_CRYPTO_PASSPHRASE'/g' front/apache2/conf/openidc.conf_${DOCKER_OPENIDC_CONFIG_EXT}
    # Replace Stripe client keys
    # - sed -i 's/@@COMETA_STRIPE_PUBLIC_LIVE_KEY@@/'$COMETA_STRIPE_PUBLIC_LIVE_KEY/'g' front/src/app/deploy-tokens.ts
    # - sed -i 's/@@COMETA_STRIPE_PUBLIC_TEST_KEY@@/'$COMETA_STRIPE_PUBLIC_TEST_KEY'/g' front/src/app/deploy-tokens.ts

    #########################################################
    # Make gitlab-runner the owner of front directory
    # ... needed as later it will be owned by root
    #########################################################
    # - echo "Setting permissions to gitlab-runner on front directory"
    # - echo "$DEPLOY_BACKEND_FOLDER/front"
    # - sudo chown -R gitlab-runner $DEPLOY_BACKEND_FOLDER/front

    #########################################################
    # COPY CODE TO DEPLOY_BACKEND_FOLDER
    #########################################################
    # make sure the deployment folder exists
    - mkdir -p $DEPLOY_BACKEND_FOLDER
    # copy all the data from current directory to the deployment directory
    - rsync -av --exclude={".git/","*.so"} ./ $DEPLOY_BACKEND_FOLDER/.
    # change directory to deployment folder
    - cd $DEPLOY_BACKEND_FOLDER

    #########################################################
    # BACKEND
    #########################################################
    # spin up dockers if not started yet
    # - docker-compose up -d db django behave ws selenoid novnc
    # save all environment variables that start with COMETA_ to secret_variables.py
    # these variables come from CI/CD variables from gitlab and variables set inside
    # gitlab-ci yaml files.
    # Commenting below line since from 22-08-2024 secret_variables will be stored in the database
    # - env | grep "^COMETA_" | sed -E "s/([A-Z_])=(.*)/\1='\2'/" > backend/secret_variables.py
    # Build Selenoid browsers
    # Install new python packages in django and behave container
    - docker exec cometa_django poetry install
    - docker exec cometa_behave poetry install
    # Detect & Install Django migration
    - docker exec cometa_django ./start_common.sh
    # Update steps in database
    - echo -e "\e[0Ksection_start:`date +%s`:parse_actions\r\e[0KParsing actions to update database"
    - docker exec cometa_django bash -c "curl http://localhost:8000/parseActions/ --silent --retry 5 --retry-delay 5"
    - echo -e "\e[0Ksection_end:`date +%s`:parse_actions\r\e[0K"
    # Update selenoid browsers in database
    # - echo -e "\e[0Ksection_start:`date +%s`:parse_browsers\r\e[0KParsing selenoid browsers to update database"
    # - docker exec cometa_django bash -c "curl http://localhost:8000/parseBrowsers/ --silent --retry 5 --retry-delay 5"
    # - echo -e "\e[0Ksection_end:`date +%s`:parse_browsers\r\e[0K"

    #########################################################
    # FRONTEND
    #########################################################
    # start container or if already started then compile else start from zero
    - OLD_FRONT_IMAGE_TAG=$(docker inspect cometa_front | jq -r '.[0].Config.Image')
    - echo "Old cometa_front image version is $OLD_FONT_IMAGE_TAG"
    - echo "Fetching new version from config.yaml file"
    - BUILD_VERSION=$(jq -r '.version' "$CONFIG_FILE") # Extract versions
    - echo "Pull the cometa_front with version-> $BUILD_VERSION"

    # Check if OLD_FRONT_IMAGE_TAG is not equal to BUILD_VERSION or if cometa_front container is not running
    - FRONT_CONTAINER_STATUS=$(docker inspect -f '{{.State.Status}}' cometa_front)
    - echo "$OLD_FRONT_IMAGE_TAG container status is $FRONT_CONTAINER_STATUS"

    - if [ "$OLD_FRONT_IMAGE_TAG" != "$COMETA_FRONT:$BUILD_VERSION" ] || [ "$FRONT_CONTAINER_STATUS" != "running" ]; then
        docker pull $COMETA_FRONT:$BUILD_VERSION;
        echo "Replace 'cometa/front:latest' with $COMETA_FRONT:$BUILD_VERSION in the docker-compose.yml file";
        sed -i "s#cometa/front:latest#"$COMETA_FRONT":"$BUILD_VERSION"#" docker-compose.yml;
        echo "Recrating cometa_front";
        docker compose up --force-recreate apache -d;
        for FILE in ${COMETA_REPLACE_FAVICON_IN}; do docker exec cometa_front sed -i 's/@@BRANCH@@/'$CI_COMMIT_BRANCH'/g' $FILE; done
      else
        echo "Front container is up to date, will not do deployment";
      fi

    - if [ "$OLD_FRONT_IMAGE_TAG" != "$COMETA_FRONT:$BUILD_VERSION" ]; then
        echo "Removing old $OLD_FRONT_IMAGE_TAG image from docker";
        docker rmi -f $OLD_FRONT_IMAGE_TAG;
      fi

    # - echo "Checking if cometa_front is already running else start it..."
    # - echo "If there are changes to docker-compose file it will recreate the container..."
    # - docker-compose up -d apache 2>&1 | grep -E "up-to-date|cometa_front.*?Running" && docker exec cometa_front bash -c "./start.sh $script_options" || ( timeout 360 docker-compose logs -f --tail=0 apache || true )

    # ############## Update Crontab and Websocket ######################
    # Since pull_policy is set to always it will pull image each time it deployed with "latest" tag
    - docker compose up --force-recreate crontab ws -d

    #########################################################
    # RELOAD GUNICORNS
    #########################################################
    # Reload project files in gunicorn
    - echo -e "\e[0Ksection_start:`date +%s`:reloading_gunicorn\r\e[0KPreparing to reload project in gunicorn"
    - echo -e "Now reloading gunicorn for django"
    - docker exec cometa_django pkill -HUP -f gunicorn || true
    - echo -e "Now reloading gunicorn for behave"
    - docker exec cometa_behave pkill -HUP -f gunicorn || true
    - docker exec cometa_behave bash -c "supervisorctl restart django-rq:"
    - echo -e "\e[0Ksection_end:`date +%s`:reloading_gunicorn\r\e[0K"

# main script anchor to avoid code
# redundancy. 
.kubernetes_deployment_script: &kubernetes_deployment_script
  stage: deploy
  script:
    bash scripts/kubernetes_cicd_deployment.sh

.docker_deployment_script: &docker_deployment_script
  stage: deploy
  # main script anchor to avoid code
  # redundancy. 
  script:
    bash scripts/docker_cicd_deployment.sh
    

# create a deploy job for amvara3 for branch prod
deploy:amvara3.prod:
  <<: *docker_deployment_script
  extends: .amvara3.prod

# create a deploy job for amvara6 for branch stage
deploy:amvara6.stage: 
  <<: *docker_deployment_script
  extends: .amvara6.stage

# pre stage deploy to amvara8 and it usages the docker-compose-build.yml file to deploy the application
# this used to make sure Dockerfile for all services are working correctly
# Deploy to amvara8
deploy:amvara8.pre-stage:
  extends: .amvara8.pre-stage


# # create a deploy job for amvara3 for branch prod
# deploy:kubernetes.client1.prod:
#   <<: *kubernetes_deployment_script
#   tags: # on what runners we'd like to run this job
#     - amvara3
#   only: # on what branch we'd like to run this job
#     refs:
#       - master

# # create a deploy job for client01 for branch prod
# deploy:client01.int:
#  <<: *deployment_script
#  extends: .client01.int

# # create a deploy job for client01 for branch prod
# deploy:client01.prod:
#  <<: *deployment_script
#  extends: .client01.prod

# # create a deploy job for client04 for branch prod
# deploy:client04.prod:
#  <<: *deployment_script
#  extends: .client04.prod


# build cometa front, django and behave in amvara8 server  and push to docker hub
build:amvara8.build-1:
  stage: build
  tags: # on what runners we'd like to run this job
    - build
  only: # on what branch we'd like to run this job
    refs:
      - build
  before_script:
    #########################################################
    # FRONTEND
    #########################################################
    # Get the version of build from front config.json
    - BUILD_VERSION=$(jq -r '.version' "$CONFIG_FILE") # Extract versions
    - echo "Build Versions -> $BUILD_VERSION"
  
  script:
    #########################################################
    # BUILD IMAGES (Front, Behave, Django)
    ########################################################
      - cd scripts
      - ./build_cometa_container_images.sh
 

# build cometa browser images and push to docker hub 
build:amvara8.build-2:
  stage: build
  
  tags: # on what runners we'd like to run this job
    - build
  only: # Indicates this job is set to run on a schedule.
    refs:
      - schedules
  script:
    #########################################################
    # BUILD BROWSER IMAGES (Chrome, Firefox and Edge)
    ########################################################
      - ./backend/browsers/check_and_build_browser_image.sh ./backend/browsers


      
