<h2 mat-dialog-title>Max Emulator Limit Reached</h2>
<mat-dialog-content>
  <p>You cannot run more than <span>3</span> emulators at the same time.</p>

  <mat-hint>
    The following departments have emulators running:
  </mat-hint>

  <mat-list>
    <ng-container *ngFor="let department of departments">
      <ng-container *ngIf="emulatorsByDepartment[department.department_id]">
        <mat-list-item>
          <strong>{{ department.department_name }}</strong> has the following emulators running:
        </mat-list-item>

        <!-- Mostrar los emuladores de ese departamento -->
        <mat-list-item *ngFor="let emulator of emulatorsByDepartment[department.department_id]">
          Emulator ID: {{ emulator.id }} - <strong>{{ department.department_name }}</strong>
        </mat-list-item>
      </ng-container>
    </ng-container>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" (click)="closeDialog()">OK</button>
</mat-dialog-actions>
