@import 'color';
@import 'breakpoints';

p {
  span {
    font-weight: bold;
    color: $blue;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item {
  strong {
    font-weight: bold;
    color: $blue;
  }
}
