<div (click)="$event.stopPropagation()" tabindex="0" class="dialog-container">
  <h2 mat-dialog-title>{{ data?.title }}</h2>
  <mat-dialog-content>
    <pre class="error-message">{{ data?.message }}</pre>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="warn" [mat-dialog-close]="'ignore'" 
    matTooltip="{{ 'mobile_validation.ignore_tooltip' | translate }}"
    matTooltipPosition="above">
    Ignore
  </button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="'correct'"
          matTooltip="{{ 'mobile_validation.correct_tooltip' | translate }}"
          matTooltipPosition="above">
    Correct
  </button>
  </mat-dialog-actions>
</div>
