---
description: RPC Service boilerplate
globs:
alwaysApply: false
language: english
---

- Use our internal RPC pattern when defining services
- Always use snake_case for service names.

@service-template.ts