# Backend Cursor Rules - Cometa Python/Django/Behave/Selenium Application
# Language: English
# Communication: Always respond in English

---
@description: Cometa Python/Django/Behave/Selenium Application
globs:
alwaysApply: false
language: english
---