<h2 mat-dialog-title>Edit environment variables</h2>
<mat-dialog-content>
  <ng-container *ngIf="variables.length > 0; else text">
    <mat-form-field class="search-wrapper">
      <input matInput (keyup)="applyFilter($event)" placeholder="Inclusive search"/>
    </mat-form-field>
    <div class="table-wrapper">
      <table mat-table matSort [dataSource]="dataSource" (matSortChange)="announceSortChange($event)"  class="mat-elevation-z8">
        <ng-container matColumnDef="variable_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element" >
            <input [disabled]="element.disabled" [type]="text" value="{{element.variable_name}}" [(ngModel)]="element.variable_name" #variable_name="ngModel" (input)="setInputStatus(variable_name?.errors, 'name')" pattern="^[\w.-]+$" required>
              <small class="validation-error" *ngIf="variable_name.errors?.['required']">Variable name is required.</small>
              <small class="validation-error" *ngIf="variable_name.errors?.['pattern']">Special characters and space are not allowed.</small>
          </td>
        </ng-container>
        <ng-container matColumnDef="variable_value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
          <td mat-cell *matCellDef="let element">
            <input [disabled]="element.disabled" [type]="element.encrypted ? 'password' : 'text'" value="{{element.variable_value}}" [(ngModel)]="element.variable_value" #variable_value="ngModel" (input)="setInputStatus(variable_value?.errors, 'value')" required>
            <small class="validation-error" *ngIf="variable_value.errors?.['required']">Variable value is required.</small>
          </td>
        </ng-container>
        <ng-container matColumnDef="encrypted">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Encrypted </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [disabled]="(element.id != 0 && element.encrypted) || element.disabled" [(ngModel)]="element.encrypted" [checked]="element.encrypted" color="primary"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="based">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Based on</th>
          <td mat-cell *matCellDef="let element">
            <mat-select [(value)]="element.based" [disabled]="element.disabled">
              <mat-option *ngFor="let base of bases" [value]="base">
                {{base}}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>
        <ng-container matColumnDef="created_by">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by </th>
          <td mat-cell *matCellDef="let element">
            <p disabled>{{element.created_by}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <div class="actions-wrapper">
              <div *ngIf="canEdit" [matTooltip]="element.disabled && isEditing ? 'Please save changes!' : 'Edit variable'" matTooltipPosition="above">
                <button mat-menu-item  *ngIf="element.disabled; else save"  [disabled]="isEditing" (click)="onEditVar(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
              <div *ngIf="canDelete" [matTooltip]="element.in_use.length > 0 ? 'Warning! This variable is being used' : 'Delete variable'" matTooltipPosition="above">
                <button mat-menu-item (click)="onDeleteVar(element)" [disabled]="element.id == 0 || (isEditing && element.disabled)">
                  <p *ngIf="element.in_use.length > 0" class="inuse">!</p>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <ng-template #save>
                <div [matTooltip]="(errors.name || errors.value) && element.id === 0 ? 'Please introduce correct data' : 'Save variable'" matTooltipPosition="above">
                  <button mat-menu-item [disabled]="errors.name || errors.value" (click)="onSaveVar(element)">
                    <mat-icon>save</mat-icon>
                  </button>
                </div>
              </ng-template>
              <div [matTooltip]="!element.disabled ? 'Cancel changes' : ''" matTooltipPosition="above">
                <button mat-menu-item [disabled]="element.disabled" (click)="onCancelVar(element)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
    </div>
  </ng-container>
  <ng-template #text>
    <div>This environment has no variables yet.</div>
  </ng-template>
  <div class="add-variable" *ngIf="canCreate" [matTooltip]="isEditing ? 'Please save changes before creating new variable' : 'Create new variable'" matTooltipPosition="above">
    <button color="primary" (click)="onAddVar()" class="add" [disabled]="isEditing" mat-stroked-button>Add variable</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>