@import 'color';


.mat-dialog-title {
    margin: 0;
    height: 70px;
}

.mat-dialog-content {
    display: unset;
}

.search-wrapper {
    display: block;

    mat-icon {
        margin-right: 15px;
    }
}

.table-wrapper {
    height: 40vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    table {
        width: 100%;

        .var-row.edit {
            td.mat-cell {
                border-bottom: 1px solid $blue;
            }
        }

        td.mat-cell {
            &:nth-child(3) {
                text-align: center;
            }
            small {
                display: block;
                font-size: 10px;
            }
        }

        th.mat-header-cell {
            font-size: 13px;
            font-weight: bold;
            color: $blue;
        }

        td.mat-cell,
        th.mat-header-cell {
            padding-right: 20px;
        }

        tr.mat-header-row {
            position: sticky;
            z-index: 1;
            top: 0;
        }

        input {
            background-color: transparent;
            border: 0;
            box-sizing: border-box;
            width: 100%;
            outline: 0;
        }

        .validation-error {
            color: $blue;
        }

        .actions-wrapper {
            display: flex;
            button {
                padding: 0;
            }
        }
    }
}

.add-variable {
    display: inline-block;
}


.mat-elevation-z8 {
    box-shadow: none;
}

p.inuse {
    display: inline;
    color: $bad;
    font-weight: bold;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}

mat-dialog-actions {
    gap: 8px;
}