  <h2 mat-dialog-title>Edit environment variables</h2>
  <mat-dialog-content>
    <ng-container *ngIf="variables.length > 0; else text">
      <mat-form-field appearance="fill" class="search-wrapper">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input  matInput (keyup)="applyFilter($event)" placeholder="Type a search term">
      </mat-form-field>

      <div class="table-wrapper" #tableWrapper>
        <table mat-table matSort [dataSource]="dataSource" (matSortChange)="announceSortChange($event)"  class="mat-elevation-z8">
          <ng-container matColumnDef="variable_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element">
              <input #variable_name="ngModel"
                    id="{{element.id}}"
                    [disabled]="element.disabled"
                    [type]="text"
                    [(ngModel)]="element.variable_name"
                    (input)="setInputStatus(variable_name?.errors, 'name')"
                    value="{{element.variable_name}}"
                    pattern="^[\w.-]+$"
                    aria-label="var_name"
                    required>
                <small class="validation-error" *ngIf="variable_name.errors?.['required']">Variable name is required.</small>
                <small class="validation-error" *ngIf="variable_name.errors?.['pattern']">Special characters and space are not allowed.</small>
            </td>
          </ng-container>
          <ng-container matColumnDef="variable_value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Value </th>
            <td mat-cell *matCellDef="let element">
              <input #variable_value="ngModel"
                    [disabled]="element.disabled"
                    [type]="element.encrypted ? 'password' : 'text'"
                    [(ngModel)]="element.variable_value"
                    value="{{element.variable_value}}"
                    (input)="setInputStatus(variable_value?.errors, 'value')"
                    aria-label="var_value"
                    required>
              <small class="validation-error" *ngIf="variable_value.errors?.['required']">Variable value is required.</small>
            </td>
          </ng-container>
          <ng-container matColumnDef="encrypted">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Encrypted </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox [disabled]="(element.id != 0 && element.encrypted) || element.disabled"
                            [(ngModel)]="element.encrypted" [checked]="element.encrypted"
                            aria-label="var_encrypted"
                            color="primary"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="based">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Based on</th>
            <td mat-cell *matCellDef="let element">
              <mat-select [(value)]="element.based" [disabled]="element.disabled" aria-label="var_basedOn">
                <mat-option *ngFor="let base of bases" [value]="base">
                  {{base}}
                </mat-option>
              </mat-select>
            </td>
          </ng-container>
          <ng-container matColumnDef="created_by_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by </th>
            <td mat-cell *matCellDef="let element">
              <p disabled>{{element.created_by_name}}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
              <div class="actions-wrapper">
                <div *ngIf="canEdit" [matTooltip]="element.disabled && isEditing ? 'Please save changes!' : 'Edit variable'" matTooltipPosition="above">
                  <button mat-menu-item  *ngIf="element.disabled; else save"  [disabled]="isEditing" (click)="onEditVar(element)" aria-label="action_edit_var">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div *ngIf="canDelete" [matTooltip]="element.in_use.length > 0 ? 'Warning! This variable is being used' : 'Delete variable'" matTooltipPosition="above">
                  <button mat-menu-item (click)="onDeleteVar(element)" [disabled]="element.id == 0 || (isEditing && element.disabled)" aria-label="action_delete_var">
                    <p *ngIf="element.in_use.length > 0" class="inuse">!</p>
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <ng-template #save>
                  <div [matTooltip]="(errors.name || errors.value) && element.id === 0 ? 'Please introduce correct data' : 'Save variable'" matTooltipPosition="above">
                    <button mat-menu-item [disabled]="errors.name || errors.value" (click)="onSaveVar(element)" aria-label="action_save_var">
                      <mat-icon>save</mat-icon>
                    </button>
                  </div>
                </ng-template>
                <div [matTooltip]="!element.disabled ? 'Cancel changes' : ''" matTooltipPosition="above">
                  <button mat-menu-item [disabled]="element.disabled" (click)="onCancelVar(element)" aria-label="action_cancel_var">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onEditVar(row)" (keydown.enter)="onSaveVar(row)" (keydown.esc)="onCancelVar(row, $event)" class="var-row" [class.edit]="!row.disabled"></tr>
        </table>
      </div>
    </ng-container>
    <ng-template #text>
      <div>This environment has no variables yet.</div>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="add-variable" *ngIf="canCreate" [matTooltip]="isEditing ? 'Please save changes before creating new variable' : 'Create new variable'" matTooltipPosition="above">
      <button color="primary" (click)="onAddVar()" class="add" [disabled]="isEditing" mat-stroked-button>Add variable</button>
    </div>
    <button mat-stroked-button color="warn" mat-dialog-close>Close</button>
  </mat-dialog-actions>