@import 'color';
@import 'breakpoints';

:host {
  display: flex;
  z-index: 98;
  flex: 0 80%;
  height: 32px;
  justify-content: space-between;
  flex: initial;
  align-items: center;
  width: 100%;
  @include for-tablet-portrait-up {
    flex: 0 25%;
  }

  // style all immediate children (div/a) uniformly
  & > * {
    flex: 0 0 auto;
    vertical-align: top;
    cursor: pointer;
  }
}

.edit,
.log {
  height: 32px;
  width: 32px;
  background: url(^assets/internal/COM_Edit_Icon.svg) no-repeat;
  background-size: contain;
  transform: scale(1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1) rotate(10deg);
  }
}

.log {
  background: transparent;
  border: 1px solid;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
}

.schedule {
  height: 30px;
  width: 30px;
  opacity: 0.7;
  border: 1px solid black;
  border-radius: 50%;
  background: url(^assets/icons/calendar.svg) no-repeat;
  background-size: 16px;
  background-position: 8px 7px;
  transform: scale(1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1) rotate(10deg);
  }
}

.run {
  height: 32px;
  width: 32px;
  background: url(^assets/play-button.svg) no-repeat;
  background-size: contain;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  position: relative;
  &:hover:not(.disabled) {
    transform: scale(1.1);
  }
  &.disabled {
    background: none;
    cursor: not-allowed;
    pointer-events: none;
  }
  .run-spinner {
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.pdf,
.csv {
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  transform: scale(1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1) rotate(10deg);
  }
}

.pdf {
  height: 30px;
  width: 30px;
  background-size: 22px 20px;
  background-image: url(^assets/icons/pdf.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.csv {
  height: 30px;
  width: 30px;
  background-image: url(^assets/icons/csv.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.video {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  opacity: 0.7;
  transform: scale(1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
  
  &::before {
    content: "videocam";
    font-family: 'Material Icons';
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  
  &:hover {
    transform: scale(1.1) rotate(10deg);
  }
}

.more {
  height: 32px;
  width: 30px;
  opacity: 0.7;
  background-image: url(^assets/icons/more.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.running {
  cursor: pointer;
  pointer-events: auto;
  position: relative;
  left: -6%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notification {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  opacity: 0.7;
  background-image: url(^assets/icons/bell.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1) rotate(0deg);
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1) rotate(10deg);
  }
  &.enabled {
    border-color: $blue;
    background-color: $blue;
    opacity: 1;
    background-image: url(^assets/icons/bell-white.svg);
  }
}

::ng-deep .options-menu-panel {
  min-width: 90px !important;
  .mat-menu-item {
    // padding-right: 15px;
    // padding-left: 15px;
    &:after {
      display: none;
    }
  }
}
