<draggable-window></draggable-window>
<form [formGroup]="featureForm">
  <ng-container *ngIf="data.mode === 'new'; else editTitle">
    <h2 mat-dialog-title>Create new feature</h2>
  </ng-container>
  <ng-template #editTitle>
    <ng-container *ngIf="data.mode === 'edit'; else cloneTitle">
      <h2 mat-dialog-title>
        Edit feature {{ featureForm.get('feature_name').value }}
      </h2>
    </ng-container>
    <ng-template #cloneTitle>
      <h2 mat-dialog-title>Clone feature</h2>
    </ng-template>

  </ng-template>
  <mat-dialog-content class="editFeatureContent">
    <mat-accordion multi>

      <!-- INFORMATION -->
      <mat-expansion-panel
        [expanded]="data.mode == 'new' ? getPanelExpansionState('1', true) : getPanelExpansionState('1', false)"
        (opened)="onExpansionChange('1', true);"
        (closed)="onExpansionChange('1', false);">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Information</span>
          </mat-panel-title>
          <mat-panel-description>
            Edit information of the feature
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="edit-feature-info">
            <mat-form-field appearance="fill" class="edit-dep">
              <mat-label>Department</mat-label>
              <mat-select
                formControlName="department_name"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()">
                <mat-option
                  *ngFor="let dep of departments$ | sortBy: 'department_name'"
                  [value]="dep.department_name">
                  {{ dep.department_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="edit-app">
              <mat-label>Application</mat-label>
              <mat-select
                formControlName="app_name"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()">
                <mat-option
                  *ngFor="let app of applications$ | sortBy: 'app_name'"
                  [value]="app.app_name">
                  {{ app.app_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="edit-env">
              <mat-label>Environment</mat-label>
              <mat-select
                formControlName="environment_name"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()">
                <mat-option
                  *ngFor="let env of environments$ | sortBy: 'environment_name'"
                  [value]="env.environment_name">
                  {{ env.environment_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="edit-name" [class.error-highlight]="highlightInput">
              <mat-label>Name</mat-label>
              <input
                matInput
                spellcheck="false"
                formControlName="feature_name"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()"
                [matTooltip]="'Please enter a name to create/save the feature'"
                matTooltipPosition="above"
                />
            </mat-form-field>
            <mat-form-field appearance="fill" class="edit-description">
              <mat-label>Description</mat-label>
              <textarea
                spellcheck="false"
                formControlName="description"
                matInput
                rows="1"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()"
                ></textarea>
            </mat-form-field>
          </div>
          <div
            *ngIf="featureForm.get('department_name').value === 'Default' && departments$.length > 1"
            class="department-warning">
            <mat-icon>info</mat-icon>
            <span
              >Selecting <strong>Default</strong> department will make this
              feature visible to everyone, use it with caution!</span
            >
          </div>
          <div class="depends">
            <!-- Checkboxes Section - Four Columns with Headers -->
            <div class="checkboxes-section">
              <!-- Basic Options Column -->
              <div class="checkbox-column">
                <div class="column-header">
                  <mat-icon class="header-icon">settings</mat-icon>
                  <span class="header-title">Basic Options</span>
                </div>
                <div class="checkbox-container amv_custom-tooltip" [attr.data-tooltip]="'edit_feature.depends_on_other_feature' | translate">
                  <mat-checkbox color="primary" formControlName="depends_on_others" >
                    <mat-icon class="checkbox-icon">link</mat-icon>
                    Depends on other feature
                  </mat-checkbox>
                </div>
                <div class="checkbox-container amv_custom-tooltip" [attr.data-tooltip]="'edit_feature.explanation' | translate">
                  <mat-checkbox color="primary" formControlName="need_help" >
                    <mat-icon class="checkbox-icon">help</mat-icon>
                    {{ 'need_help.ask_for' | translate }}
                  </mat-checkbox>
                </div>
                <div class="checkbox-container">
                  <ng-container *ngLet="((departmentSettings$ | async)?.continue_on_failure === true || user.settings?.continue_on_failure === true) as disabled">
                    <!-- <mat-checkbox [matTooltip]="'continue_on_failure.tooltip' | translate" [matTooltipDisabled]="!disabled" color="primary" [disabled]="disabled" formControlName="continue_on_failure"> -->
                    <mat-checkbox color="primary" formControlName="continue_on_failure">
                      <mat-icon class="checkbox-icon">error_outline</mat-icon>
                      Continue on failure
                    </mat-checkbox>
                  </ng-container>
                </div>
              </div>

              <!-- Recording Options Column -->
              <div class="checkbox-column">
                <div class="column-header">
                  <mat-icon class="header-icon">videocam</mat-icon>
                  <span class="header-title">Recording Options</span>
                </div>
                <div class="checkbox-container notification-parent amv_custom-tooltip" [attr.data-tooltip]="'Enable notifications (email and/or Telegram) when test finishes'">
                  <div class="main-checkbox-wrapper">
                    <mat-checkbox color="primary" formControlName="send_notification" >
                      <mat-icon class="checkbox-icon">notifications</mat-icon>
                      Send notification on finish
                    </mat-checkbox>
                  </div>
                  
                  <!-- Notification sub-options -->
                  <div class="notification-sub-options" *ngIf="featureForm.value.send_notification">
                    <div class="checkbox-container sub-checkbox amv_custom-tooltip" [attr.data-tooltip]="'edit_feature.send_mail' | translate">
                      <mat-checkbox color="primary" formControlName="send_mail" >
                        <mat-icon class="checkbox-icon">email</mat-icon>
                        Email
                      </mat-checkbox>
                    </div>
                    <div class="checkbox-container sub-checkbox amv_custom-tooltip" [attr.data-tooltip]="'Send test results via Telegram notification'">
                      <mat-checkbox color="primary" formControlName="send_telegram_notification" >
                        <mat-icon class="checkbox-icon">chat</mat-icon>
                        Telegram
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
                <div class="checkbox-container amv_custom-tooltip" [attr.data-tooltip]="videoDisabled ? ('record_video.tooltip' | translate) : ('edit_feature.record_video' | translate)">
                  <ng-container *ngLet="(user.settings?.hasOwnProperty('recordVideo') ? user.settings?.recordVideo === true : false) as videoDisabled">
                    <mat-checkbox color="primary" *ngIf="!featureForm.value.depends_on_others" formControlName="video" >
                      <mat-icon class="checkbox-icon">videocam</mat-icon>
                      Record video
                    </mat-checkbox>
                  </ng-container>
                </div>
              </div>

              <!-- Advanced Options Column -->
              <div class="checkbox-column">
                <div class="column-header">
                  <mat-icon class="header-icon">build</mat-icon>
                  <span class="header-title">Advanced Options</span>
                </div>
                <div class="checkbox-container amv_custom-tooltip" [attr.data-tooltip]="'edit_feature.generate_dataset' | translate">
                  <mat-checkbox
                    color="primary"
                    *ngIf="!featureForm.value.depends_on_others"
                    formControlName="network_logging"
                    >
                    <mat-icon class="checkbox-icon">network_check</mat-icon>
                    Network Logging
                  </mat-checkbox>
                </div>
                <div class="checkbox-container amv_custom-tooltip" [attr.data-tooltip]="'edit_feature.generate_dataset' | translate">
                  <mat-checkbox
                    color="primary"
                    *ngIf="!featureForm.value.depends_on_others"
                    formControlName="generate_dataset"
                    >
                    <mat-icon class="checkbox-icon">storage</mat-icon>
                    Generate Dataset
                  </mat-checkbox>
                </div>
              </div>
            
              <!-- Buttons Section - Single Column -->
              <div class="checkbox-column buttons-section">
                <div class="column-header">
                  <mat-icon class="header-icon">play_arrow</mat-icon>
                  <span class="header-title">Actions</span>
                </div>
                <ng-container *ngLet="(!featureForm.value.environment_name || !featureForm.value.department_name) as disableVariables">
                  <div class="button-container">
                    <span class="edit-variables" [matTooltip]="'tooltips.variables_requires' | translate" [matTooltipDisabled]="!disableVariables">
                      <button
                        type="button"
                        color="primary"
                        [disabled]="disableVariables"
                        (click)="editVariables()"
                        mat-stroked-button
                        [matTooltip]="'edit_feature.edit_variable' | translate" matTooltipPosition="above">
                        Edit Variables
                      </button>
                    </span>
                    <div class="hover-box-Vshortcut">(V)</div>
                  </div>
                </ng-container>
                
                <ng-container *ngLet="(!featureForm.value.environment_name || !featureForm.value.department_name) as disableMobile">
                  <div class="button-container">
                    <span class="edit-variables" [matTooltip]="'tooltips.variables_requires' | translate" [matTooltipDisabled]="!disableMobile">
                      <div class="button-container">
                        <button
                          type="button"
                          color="primary"
                          [disabled]="disableMobile"
                          (click)="openStartEmulatorScreen()"
                          mat-stroked-button
                          class="start-mobile-btn"
                          [matTooltip]="'mobile_list.emulator_mobile' | translate"
                          matTooltipPosition="above">
                          Start Mobile
                        </button>
                        <mat-icon
                          class="memberShip"
                          [matTooltip]="'To use this functionality, you need to purchase a Cometa license.'">
                          card_membership
                        </mat-icon>
                      </div>
                    </span>
                    <div class="hover-box-Vshortcut">(S)</div>
                  </div>
                </ng-container>
              </div>
            
            </div>

            <!-- Divider -->
            <!-- <mat-divider vertical class="section-divider"></mat-divider> -->

            <!-- Buttons Section - Single Column -->
            <!-- Moved into the Checkboxes Section -->
            <!-- <div class="buttons-section">
              <div class="column-header">
                <mat-icon class="header-icon">play_arrow</mat-icon>
                <span class="header-title">Actions</span>
              </div>
              <ng-container *ngLet="(!featureForm.value.environment_name || !featureForm.value.department_name) as disableVariables">
                <div class="button-container">
                  <span class="edit-variables" [matTooltip]="'tooltips.variables_requires' | translate" [matTooltipDisabled]="!disableVariables">
                    <button
                      type="button"
                      color="primary"
                      [disabled]="disableVariables"
                      (click)="editVariables()"
                      mat-stroked-button
                      [matTooltip]="'edit_feature.edit_variable' | translate" matTooltipPosition="above">
                      Edit Variables
                    </button>
                  </span>
                  <div class="hover-box-Vshortcut">(V)</div>
                </div>
              </ng-container>
              
              <ng-container *ngLet="(!featureForm.value.environment_name || !featureForm.value.department_name) as disableMobile">
                <div class="button-container">
                  <span class="edit-variables" [matTooltip]="'tooltips.variables_requires' | translate" [matTooltipDisabled]="!disableMobile">
                    <div class="button-container">
                      <button
                        type="button"
                        color="primary"
                        [disabled]="disableMobile"
                        (click)="openStartEmulatorScreen()"
                        mat-stroked-button
                        class="start-mobile-btn"
                        [matTooltip]="'mobile_list.emulator_mobile' | translate"
                        matTooltipPosition="above">
                        Start Mobile
                      </button>
                      <mat-icon
                        class="memberShip"
                        [matTooltip]="'To use this functionality, you need to purchase a Cometa license.'">
                        card_membership
                      </mat-icon>
                    </div>
                  </span>
                  <div class="hover-box-Vshortcut">(S)</div>
                </div>
              </ng-container>
            </div>
             -->
          </div>

        </ng-template>
      </mat-expansion-panel>

      <!-- EMAIL -->
      <mat-expansion-panel
        *ngIf="
          featureForm.value.send_notification && featureForm.value.send_mail && !featureForm.value.depends_on_others
        "
        [expanded]="getPanelExpansionState('2')"
        (opened)="onExpansionChange('2', true); "
        (closed)="onExpansionChange('2', false); ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Email template</span>
          </mat-panel-title>
          <mat-panel-description>
            Edit email address, subject and body
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email address, use tab to separate emails. </mat-label>
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let addr of featureForm.get('email_address').value"
                [removable]="true"
                (removed)="removeAddress(addr, 'email_address')"
                >{{ addr }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                formControlName="address_to_add"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addAddress($event, 'email_address')"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()" />
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label
              >CC (Carbon Copy): Enter email addresses, use tab to separate emails.
            </mat-label>
            <mat-chip-list #ccChipList>
              <mat-chip
                *ngFor="let addr of featureForm.get('email_cc_address').value"
                [removable]="true"
                (removed)="removeAddress(addr, 'email_cc_address')"
                >{{ addr }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            <input
              formControlName="address_to_add"
              [matChipInputFor]="ccChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addAddress($event, 'email_cc_address')"
              (focus)="onInputFocus()"
              (blur)="onInputBlur()"
              />
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label
              >BCC (Blind Carbon Copy): Enter email addresses, use tab to separate emails.
            </mat-label>
            <mat-chip-list #bccChipList>
              <mat-chip
                *ngFor="let addr of featureForm.get('email_bcc_address').value"
                [removable]="true"
                (removed)="removeAddress(addr, 'email_bcc_address')"
                >{{ addr }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            <input
              formControlName="address_to_add"
              [matChipInputFor]="bccChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addAddress($event, 'email_bcc_address')"
              (focus)="onInputFocus()"
              (blur)="onInputBlur()"
              />
            </mat-chip-list>
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label
              >Subject. Leave it empty for a default subject.
            </mat-label>
            <input
              matInput
              spellcheck="false"
              formControlName="email_subject"
              (focus)="onInputFocus()"
              (blur)="onInputBlur()"
              />
          </mat-form-field>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label
              >Message Body. Leave it empty for a default message with info
              about the feature.</mat-label
            >
            <textarea
              matInput
              spellcheck="false"
              formControlName="email_body"
              (focus)="onInputFocus()"
              (blur)="onInputBlur()"
              ></textarea>
          </mat-form-field>
          <br>
          <mat-radio-group formControlName="send_mail_on_error">
            When to send email:
            <mat-radio-button color="primary" [value]="false"
              >Always</mat-radio-button
            >
            <mat-radio-button color="primary" [value]="true"
              >On error</mat-radio-button
            >
          </mat-radio-group>

          <!-- Group maximum notifications checkbox with its input -->
          <div class="maximum-notifications-group">
          <!-- Keep other checkboxes in a row -->
            <mat-checkbox
              formControlName="check_maximum_notification_on_error"
              aria-label="Screenshot"
              color="primary"
              [matTooltip]="'edit_feature.maximum_notification_on_error' | translate" matTooltipPosition="above"
              class="screenshot checkbox-blue maximum-notifications-check"
              > Set maximum notifications on errors 
            </mat-checkbox>
            <mat-checkbox
              formControlName="do_not_use_default_template"
              aria-label="Screenshot"
              color="primary"
              [matTooltip]="'edit_feature.default_template' | translate" matTooltipPosition="above"
              class="screenshot checkbox-blue default_template"
              > Do not use default template 
            </mat-checkbox>
            <mat-checkbox
              formControlName="attach_pdf_report_to_email"
              aria-label="Screenshot"
              color="primary"
              [matTooltip]="'edit_feature.attach_pdf' | translate" matTooltipPosition="above"
              class="screenshot checkbox-blue report_to_email"
              > Attach PDF report to email </mat-checkbox>
            <div class="maximum-notifications-input" *ngIf="featureForm.value.check_maximum_notification_on_error">
              <mat-form-field appearance="fill" class="">
                <mat-label
                  > Maximum notifications on errors
                </mat-label>
                <input
                  type="number"
                  matInput
                  spellcheck="false"
                  formControlName="maximum_notification_on_error"
                  (focus)="onInputFocus()"
                  (blur)="onInputBlur()"
                  />
              </mat-form-field>
            </div>
          </div>

          <button
            type="button"
            (click)="openEmailHelp()"
            stopPropagation
            [matTooltip]="'menu.help' | translate"
            matTooltipPosition="left"
            class="edit-feature-help-icon"
            color="primary"
            mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>

        </ng-template>
      </mat-expansion-panel>

      <!-- TELEGRAM -->
      <mat-expansion-panel
        *ngIf="
          featureForm.value.send_notification && featureForm.value.send_telegram_notification && !featureForm.value.depends_on_others
        "
        [expanded]="getPanelExpansionState('3')"
        (opened)="onExpansionChange('3', true); "
        (closed)="onExpansionChange('3', false); ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Telegram notification</span>
          </mat-panel-title>
          <mat-panel-description>
            Configure Telegram message content and format
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="telegram-config-section">
            <h4>Telegram Notification Options</h4>
            <div formGroupName="telegram_options">
              
              <!-- Override Settings Section -->
              <div class="telegram-override-section">
                <mat-checkbox 
                  color="primary" 
                  formControlName="override_telegram_settings"
                  [matTooltip]="'Override global Telegram settings for this feature only'" 
                  matTooltipPosition="above">
                  Override Telegram Notification Settings
                </mat-checkbox>
                
                <!-- Override Input Fields -->
                <div class="telegram-override-inputs" *ngIf="featureForm.value.telegram_options?.override_telegram_settings">
                  <div class="override-inputs-row">
                    <mat-form-field appearance="fill" class="override-field">
                      <mat-label>Chatbot Token</mat-label>
                      <input
                        matInput
                        formControlName="override_bot_token"
                        placeholder="Enter bot token for this feature"
                        type="password"
                        (focus)="onInputFocus()"
                        (blur)="onInputBlur()">
                      <mat-hint>Override the global bot token for this feature</mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" class="override-field">
                      <mat-label>Chat IDs</mat-label>
                      <input
                        matInput
                        formControlName="override_chat_ids"
                        placeholder="123456789,987654321"
                        (focus)="onInputFocus()"
                        (blur)="onInputBlur()">
                      <mat-hint>Overrides department settings</mat-hint>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" class="override-field">
                      <mat-label>Message Thread ID</mat-label>
                      <input
                        matInput
                        formControlName="override_message_thread_id"
                        placeholder="Optional thread ID"
                        type="number"
                        (focus)="onInputFocus()"
                        (blur)="onInputBlur()">
                      <mat-hint>Optional: Send to specific thread in group chat</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <mat-divider *ngIf="featureForm.value.telegram_options?.override_telegram_settings"></mat-divider>
              <div class="telegram-options-grid">
                <div class="telegram-option-group">
                  <h5>Basic Information</h5>
                  <mat-checkbox color="primary" formControlName="include_department">Include Department</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_application">Include Application</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_environment">Include Environment</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_feature_name">Include Feature Name</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_feature_url">Include Feature URL</mat-checkbox>
                </div>

                <div class="telegram-option-group">
                  <h5>Execution Details</h5>
                  <mat-checkbox color="primary" formControlName="include_datetime">Include Date & Time</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_execution_time">Include Execution Time</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_browser_timezone">Include Browser Timezone</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_browser">Include Browser</mat-checkbox>
                </div>

                <div class="telegram-option-group">
                  <h5>Test Results</h5>
                  <mat-checkbox color="primary" formControlName="include_overall_status">Include Overall Status</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_step_results">Include Step Results</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_pixel_diff">Include Pixel Differences</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="include_failed_step_details">Include Failed Step Details</mat-checkbox>
                </div>

                <div class="telegram-option-group">
                  <h5>Attachments</h5>
                  <mat-checkbox color="primary" formControlName="attach_pdf_report">Attach PDF Report</mat-checkbox>
                  <mat-checkbox color="primary" formControlName="attach_screenshots">
                    Attach Screenshots
                    <span class="screenshot-limit-hint">(max 10 images)</span>
                  </mat-checkbox>
                </div>
              </div>

              <div class="telegram-custom-message">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Custom Message (Optional)</mat-label>
                  <textarea
                    matInput
                    formControlName="custom_message"
                    rows="3"
                    placeholder="Add a custom message that will appear at the top of your notification..."
                    (focus)="onInputFocus()"
                    (blur)="onInputBlur()">
                  </textarea>
                  <mat-hint>This message will be displayed at the beginning of your Telegram notification. You can use variables like $var_name, $var_name2, $var_name3, etc.</mat-hint>
                </mat-form-field>
              </div>

              <mat-radio-group formControlName="send_on_error">
                When to send notification:
                <mat-radio-button color="primary" [value]="false">Always</mat-radio-button>
                <mat-radio-button color="primary" [value]="true">On error</mat-radio-button>
              </mat-radio-group>

              <!-- Group maximum notifications checkbox with its input -->
              <div class="maximum-notifications-group-telegram">
                <mat-checkbox
                  formControlName="check_maximum_notification_on_error_telegram"
                  aria-label="Maximum Telegram notifications"
                  color="primary"
                  [matTooltip]="'Set maximum number of Telegram notifications when errors occur'" matTooltipPosition="above"
                  class="screenshot checkbox-blue maximum-notifications-check-telegram"
                  > Set maximum notifications on errors </mat-checkbox>

                <mat-checkbox
                  formControlName="do_not_use_default_template"
                  aria-label="Do not use default Telegram template"
                  color="primary"
                  [matTooltip]="'When checked, only the custom message will be sent (no default template)'" matTooltipPosition="above"
                  class="screenshot checkbox-blue default_template"
                  > Do not use default template </mat-checkbox>

                <div class="maximum-notifications-input-telegram" *ngIf="featureForm.value.telegram_options?.check_maximum_notification_on_error_telegram">
                  <mat-form-field appearance="fill" class="">
                    <mat-label
                      > Maximum Telegram notifications on errors
                    </mat-label>
                    <input
                      type="number"
                      matInput
                      spellcheck="false"
                      formControlName="maximum_notification_on_error_telegram"
                      (focus)="onInputFocus()"
                      (blur)="onInputBlur()"
                      />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <button
            type="button"
            (click)="openTelegramHelp()"
            stopPropagation
            [matTooltip]="'Telegram notification help'"
            matTooltipPosition="left"
            class="edit-feature-help-icon"
            color="primary"
            mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>

        </ng-template>
      </mat-expansion-panel>

      <!-- UPLOADED FILES -->
      <mat-expansion-panel
        #uploadPanel
        [expanded]="getPanelExpansionState('4')"
        (opened)="onExpansionChange('4', true); "
        (closed)="onExpansionChange('4', false); ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Files</span>
          </mat-panel-title>
          <mat-panel-description>Upload/Download department files</mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-files-management
            #filesManagement
            *ngIf="department"
            [department]="department"
            [isExpanded]="true"
            [showPagination]="true"
            [fileColumns]="fileColumns"
            [showPanel]="false"
            [file_type]="undefined"
            (fileUploaded)="onFilesUploaded($event)"
            (fileDeleted)="onFileDeleted($event)"
            (fileDownloaded)="onFileDownloaded($event)"
            (panelToggled)="onFilePanelToggled($event)"
            (paginationChanged)="onFilePaginationChanged($event)"
            (searchFocusChange)="onSearchFocusChanged($event)">
          </app-files-management>
        </ng-template>
      </mat-expansion-panel>
      
      <!-- BROWSERS -->
      <mat-expansion-panel
        *ngIf="!featureForm.value.depends_on_others"
        [expanded]="data.mode == 'new' ? getPanelExpansionState('5', true) : getPanelExpansionState('5', false)"
        (opened)="onExpansionChange('5', true); "
        (closed)="onExpansionChange('5', false); ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Browser selection</span>
            <ng-container *ngIf="hasSubscription">
              ({{ (browserstackBrowsers | async).length }} selected)
            </ng-container>
          </mat-panel-title>
          <mat-panel-description
            >Select which browsers will run this feature</mat-panel-description
          >
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ng-container *ngIf="hasSubscription; else noCloudsAvailable">
            <cometa-browser-selection
              *ngIf="feature | async as feat"
              [feature]="feat"
              (selectionChange)="
                handleBrowserChange($event)
              "></cometa-browser-selection>
          </ng-container>
          <ng-template #noCloudsAvailable>
            <div class="no-clouds">
              No clouds are available. Please go see our
              <a (click)="dialogRef.close()" routerLink="/pricing">pricing</a>
              page.
            </div>
          </ng-template>
        </ng-template>
      </mat-expansion-panel>

      <!-- STEPS -->
      <mat-expansion-panel 
        [expanded]="data.mode == 'new' ? getPanelExpansionState('6', true) : getPanelExpansionState('6', false)"
        (opened)="onExpansionChange('6', true); "
        (closed)="onExpansionChange('6', false); ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Steps definition</span>
            ({{ (steps$ | async)?.length || 0 }} defined)
          </mat-panel-title>
          <mat-panel-description
            >Edit the steps for the current feature (applies to all selected
            browsers)</mat-panel-description
          >
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <!-- <cometa-step-editor
            *ngIf="feature | async as feat"
            [mode]="data.mode"
            [department]="department"
            [feature]="feat"
            [variables]="variables"
            [name]="featureForm.get('feature_name').value">
          </cometa-step-editor> -->
          <cometa-step-editor
            (textareaFocusToParent)="receiveDataFromChild($event)"
            (editVariablesRequested)="editVariables()" 
            *ngIf="feature | async as feat"
            [mode]="data.mode"
            [department]="department"
            [feature]="feat"
            [variables]="variables"
            [name]="featureForm.get('feature_name').value">
            <!--Added (editVariablesRequested) to listen to editVariables button in step-editor component-->
          </cometa-step-editor>
        </ng-template>
      </mat-expansion-panel>

      <!-- SCHEDULE -->
      <mat-expansion-panel 
        [expanded]="getPanelExpansionState('7')"
        (opened)="onExpansionChange('7', true); "
        (closed)="onExpansionChange('7', false); ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Schedule</span>
          </mat-panel-title>
          <mat-panel-description
            >When the feature will be executed</mat-panel-description
          >
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="run-now">
            <mat-checkbox formControlName="run_now" color="primary"
              >Enable schedule</mat-checkbox
            >
          </div>
          <div class="schedule-header-inline">
            <h5 (click)="openScheduleHelp()" class="schedule-help">
              How to format a cron schedule (click)
            </h5>
            <div class="timezone-selection-inline">
              <mat-form-field class="form-field-blue compact" appearance="fill">
                <mat-label>Preview Timezone</mat-label>
                <mat-select 
                  [(ngModel)]="timezone" 
                  [ngModelOptions]="{standalone: true}"
                  (selectionChange)="onTimezoneChange($event)"
                  (focus)="onInputFocus()"
                  (blur)="onInputBlur()">
                  
                  <!-- UTC Options -->
                  <mat-optgroup label="UTC">
                    <mat-option value="UTC">UTC (UTC+0)</mat-option>
                    <mat-option value="Etc/UTC">Etc/UTC (UTC+0)</mat-option>
                    <mat-option value="Etc/GMT">Etc/GMT (UTC+0)</mat-option>
                  </mat-optgroup>
                  
                  <!-- All Americas Timezones -->
                  <mat-optgroup label="Americas - All">
                    <mat-option *ngFor="let tz of getTimezonesByContinent('America')" [value]="tz">
                      {{ tz }} ({{ getTimezoneOffset(tz) }})
                    </mat-option>
                  </mat-optgroup>
                  
                  <!-- All Europe Timezones -->
                  <mat-optgroup label="Europe - All">
                    <mat-option *ngFor="let tz of getTimezonesByContinent('Europe')" [value]="tz">
                      {{ tz }} ({{ getTimezoneOffset(tz) }})
                    </mat-option>
                  </mat-optgroup>
                  
                  <!-- All Asia Timezones -->
                  <mat-optgroup label="Asia - All">
                    <mat-option *ngFor="let tz of getTimezonesByContinent('Asia')" [value]="tz">
                      {{ tz }} ({{ getTimezoneOffset(tz) }})
                    </mat-option>
                  </mat-optgroup>
                  
                  <!-- Africa Timezones -->
                  <mat-optgroup label="Africa">
                    <mat-option *ngFor="let tz of getTimezonesByContinent('Africa')" [value]="tz">
                      {{ tz }} ({{ getTimezoneOffset(tz) }})
                    </mat-option>
                  </mat-optgroup>
                  
                  <!-- Australia & Oceania Timezones -->
                  <mat-optgroup label="Australia & Oceania">
                    <mat-option *ngFor="let tz of getTimezonesByContinent('Australia|Pacific')" [value]="tz">
                      {{ tz }} ({{ getTimezoneOffset(tz) }})
                    </mat-option>
                  </mat-optgroup>
                  
                  <!-- User's Browser -->
                  <mat-optgroup label="Your Location">
                    <mat-option value="browser-timezone">{{ userTimezone }} ({{ getTimezoneOffset(userTimezone) }}) - Your Browser</mat-option>
                  </mat-optgroup>
                </mat-select>
                <mat-hint>Preview timezone only</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <!-- Show help text when schedule is disabled -->
          <!-- <h5 (click)="openScheduleHelp()" class="schedule-help" *ngIf="!featureForm.value.run_now">
            How to format a cron schedule (click)
          </h5> -->
          <table  class="schedule">
            <tr>
              <td>
                <mat-form-field class="form-field-blue">
                  <mat-label>Minute</mat-label>
                  <input
                    matInput
                    formControlName="minute"
                    disableAutocomplete 
                    (focus)="onInputFocus()"
                    (blur)="onInputBlur()" />
                  <mat-error
                    *ngIf="featureForm.get('minute').hasError('pattern')"
                    >Invalid format</mat-error
                  >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-blue">
                  <mat-label>Hour</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="hour"
                    disableAutocomplete 
                    (focus)="onInputFocus()"
                    (blur)="onInputBlur()" />
                  <mat-error *ngIf="featureForm.get('hour').hasError('pattern')"
                    >Invalid format</mat-error
                  >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-blue">
                  <mat-label>Day (month)</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="day_month"
                    disableAutocomplete 
                    (focus)="onInputFocus()"
                    (blur)="onInputBlur()" />
                  <mat-error
                    *ngIf="featureForm.get('day_month').hasError('pattern')"
                    >Invalid format</mat-error
                  >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-blue">
                  <mat-label>Month</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="month"
                    disableAutocomplete 
                    (focus)="onInputFocus()"
                    (blur)="onInputBlur()" />
                  <mat-error
                    *ngIf="featureForm.get('month').hasError('pattern')"
                    >Invalid format</mat-error
                  >
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="form-field-blue">
                  <mat-label>Day (week)</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="day_week"
                    disableAutocomplete 
                    (focus)="onInputFocus()"
                    (blur)="onInputBlur()" />
                  <mat-error
                    *ngIf="featureForm.get('day_week').hasError('pattern')"
                    >Invalid format. Use numbers (0-7) or day names (SUN, MON, TUE, etc.)</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>
          <div class="next_run" >
            <ng-container *ngIf="!parseError.error">
              <p>
                <strong>Note:</strong> Your feature will be scheduled in
                <strong>"{{ getDisplayTimezone() }}"</strong> timezone.
              </p>
              <p>
                Here are some executions (in
                <strong>"{{ getDisplayTimezone() }}"</strong> timezone) based on the crontab
                expression:
              </p>
              <li *ngFor="let nextRun of nextRuns">
                <strong>Next Run:</strong> {{ nextRun }}
              </li>
            </ng-container>
            <ng-container *ngIf="parseError.error">
              <p>
                <strong>Error:</strong> Found error while parsing crontab
                expression, please check.
              </p>
            </ng-container>
          </div>
        </ng-template>
      </mat-expansion-panel>

    </mat-accordion>
    <div
      class="last-edition"
      [matTooltip]="edition.email"
      matTooltipPosition="after"
      *ngIf="(feature | async)?.last_edited as edition">
      <b>Last edit by:</b> {{ edition.name }} <b> on:</b> {{ (feature | async)?.last_edited_date | date:'medium' }}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="right">
      <ng-container *ngLet="saving$ | async as saving">
        <button
          type="button"
          color="warn"
          [disabled]="getButtonsDisabledState()"
          mat-stroked-button
          (click)="handleCancel()">
          CANCEL
        </button>
        <button
          type="button"
          color="primary"
          [disabled]="getButtonsDisabledState()"
          mat-stroked-button
          class="submit"
          (click)="editOrCreate()">
          <ng-container *ngIf="data.mode === 'new'; else editText"
            >CREATE</ng-container
          >
          <ng-template #editText>SAVE</ng-template>
        </button>
      </ng-container>
    </div>
  </mat-dialog-actions>
</form>
