@import 'color';
@import 'breakpoints';

:host {
  display: flex;
  margin: 85px 50px 60px;
  justify-content: center;
  height: calc(100vh - 85px - 60px);
  align-items: center;
  flex-direction: column;
}

.checked {
  display: block;
  height: 100px;
  width: 100px;
  background-image: url(^assets/icons/checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.completed {
  font-size: 2rem;
  color: $good;
  font-weight: bold;
  margin: 30px 0 20px;
}

.desc {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgba(black, 0.5);
}

button {
  margin-top: 30px;
  font-size: 1.05rem;
}
