// l1-feature-team-list.component.scss

// Scss file for the team shared features list

// Author: dph000
.container {
  height: 90vh;
  line-height: 90vh;
  text-align: center;
  h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
