
@import 'breakpoints';
@import 'color';

:host {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    max-height: calc(100vh - var(--header-height));
    height: calc(100vh - var(--header-height));
    @include maxHeight(850px) {
      overflow-y: auto;
    }
}

.data {
  @include minHeight(850px) {
    height: 100%;
    overflow: hidden;
  }
}

.edit, .log {
    display: block;
    position: absolute;
    top: 110px;
    right: 28px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background: url(^assets/internal/COM_Edit_Icon.svg) no-repeat;
    background-size: contain;
    transform: scale(1) rotate(0deg);
    transition: transform .2s ease-in-out;
    z-index: 1;
    &:hover {
        transform: scale(1.1) rotate(10deg);
    }
}

.log{
    right: 172px;
    background: transparent;
    border: 1px solid;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
}

.stats {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 30px 30px 50px;
    box-sizing: border-box;
    @include maxWidth(700px) {
        padding: 15px;
    }
    .return {
        opacity: .6;
        display: flex;
        cursor: pointer;
        height: 50px;
        align-items: center;
        .return-text {
            flex: initial;
            line-height: 50px;
            font-size: 14pt;
            font-weight: bold;
            color: rgba(black, .6);
            &:first-letter {
                text-transform: uppercase;
            }
        }
        i {
            flex: initial;
            height: 15px;
            width: 15px;
            margin-right: 20px;
            background: url(^assets/left-arrow.svg) no-repeat;
            background-size: contain;
        }
    }
}

.current_filters {
    margin: 15px 20px 0;
    @include for-tablet-portrait-up {
        margin: 20px 30px 0;
        flex-wrap: nowrap;
    }
    display: flex;
    flex-wrap: wrap;
    br {
        line-height: 25px;
    }
}

.result-stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    @include for-tablet-portrait-up {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
        justify-content: space-between;
    }
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include for-tablet-portrait-up {
            flex: 0 400px;
        }
        .circular-progress {
            flex: initial;
        }
    }
}

.circular-progress {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 110px;
    .value {
        position: absolute;
        height: 25px;
        width: 100%;
        top: 40px;
        font-size: 20pt;
        font-weight: 500;
        margin: auto;
        text-align: center;
    }
    .title {
        margin-top: 20px;
        font-weight: bold;
        color: rgba(0,0,0,0.6);
        text-align: center;
    }
}

.info {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
.total_pixel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
    @include for-tablet-portrait-up {
        flex: 0 105px;
        max-width: 105px;
        flex-direction: column;
    }
    .red {
        flex: 0 33.33333%;
        font-size: 40pt;
        color: #D4145A;
        text-transform: uppercase;
        @include for-tablet-portrait-up {
            flex: initial;
            font-size: 30pt;
        }
    }
    .total-pixel-title {
        flex: 0 33.33333%;
        padding: 0 15px;
        box-sizing: border-box;
        font-size: 18pt;
        @include for-tablet-portrait-up {
            flex: initial;
            font-size: 15pt;
        }
    }
    .pixel_graphic {
        flex: 0 33.33333%;
        height: 50px;
    }
}

.pixel_graphic {
    display: block;
    width: 130px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    background: url(^assets/pixels_grafic.svg) no-repeat;
    background-size: contain;
}

.run {
    display: block;
    position: absolute;
    top: 110px;
    right: 100px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background: url(^assets/play-button.svg) no-repeat;
    background-size: contain;
    transform: scale(1);
    transition: transform .2s ease-in-out;
    z-index: 1;
    &:hover {
        transform: scale(1.2);
    }
}

.running {
    display: block;
    position: absolute;
    top: 105px;
    right: 100px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background: url(^assets/running_loading_blue.svg) no-repeat;
    background-size: contain;
}

:host::ng-deep network-paginated-list {
    .header {
        flex: 1 100%;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #474747;
        color: white;
        text-transform: uppercase;
        padding: 12px 0;
        box-sizing: border-box;
        padding-right: 10px;
        @include for-tablet-portrait-up {
            padding-right: 85px;
        }
    }
    .name {
        flex: 0 60%;
        max-width: 60%;
        @include for-tablet-portrait-up {
            flex: 0 40%;
            max-width: 40%;
        }
    }
    .status,
    .time,
    .difference {
        flex: 0 20%;
        max-width: 20%;
        text-align: center;
    }
    .difference-desktop {
        flex: 0 20%;
        max-width: 20%;
        text-align: center;
        display: none;
        @include for-tablet-portrait-up {
            display: initial;
        }
    }
    .difference-mobile {
        flex: 0 20%;
        max-width: 20%;
        @include for-tablet-portrait-up {
            display: none;
        }
    }
    .step-row {
        display: flex;
        align-items: center;
        min-height: 53px;
        box-sizing: border-box;
        font-weight: bold;
        cursor: pointer;
        padding-right: 10px;
        @include for-tablet-portrait-up {
            padding-right: 0;
        }
        &:nth-child(odd) {
            background-color: #e6e6e6;
            border-bottom: 2px solid rgba(black, .05);
        }
        &:nth-child(even) {
            background-color: #f2f2f2;
            border-bottom: 2px solid rgba(black, .1);
        }
        &:hover .name {
            color: $blue;
        }
        .status-bar {
            flex: 0 5px;
            max-width: 5px;
            height: 100%;
            &.success {
                background-color: $good;
            }
            &.failed {
                background-color: $bad;
            }
            @include for-tablet-portrait-up {
                display: none;
            }
        }
        .name {
            padding-left: 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: .9rem;
            @include for-tablet-portrait-up {
                padding-left: 20px;
                font-size: 1rem;
            }
            .step-index {
                margin-right: 15px;
                color: $blue;
                min-width: 30px;
                text-align: center;
                display: none;
                @include for-tablet-portrait-up {
                    display: initial;
                }
            }
            .step-content {
                padding: 10px 0;
                .feature-reference {
                    color: rgba(black, .55);
                    font-size: .8rem;
                    margin-bottom: 3px;
                    display: inline-flex;
                    position: relative;
                    transform: translate3d(0, 0, 0);
                    transition: transform .15s ease-in-out;
                    &:hover {
                        transform: translate3d(10px, 0, 0);
                    }
                }
                .step-name {
                    word-break: break-all;
                }
            }
        }
        .item-options {
            margin-right: 10px;
            width: 80px;
            display: flex;
            justify-content: flex-end;
            .option {
                flex: 0 40px;
            }
        }
        .status {
            display: none;
            @include for-tablet-portrait-up {
                display: initial;
            }
            &.ok {
                color: $good;
            }
            &.nok {
                color: $medium;
            }
        }
        .time {
            color: $bad;
        }
        .item-options {
            display: none;
            @include for-tablet-portrait-up {
                display: flex;
            }
        }
    }
    .header {
        .status {
            display: none;
            @include for-tablet-portrait-up {
                display: initial;
            }
        }
    }
    .pagination {
        @include pagination-mobile {
            margin-top: 37px;
        }
    }
}

.screenshot-content {
    position: fixed;
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;
    .col {
        display: inline-block;
        width: 100%;
        max-width: 350px;
        height: 320px;
        position: relative;
        margin-bottom: 50px;
        margin: 30px 0;
        .image {
            display: block;
            height: calc(100% - 40px);
            margin-top: 20px;
            width: 100%;
            position: relative;
            background-color: rgba(black, .05);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 3px;
            &:hover .image-actions {
                display: block;
            }
            .image-actions {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 3px;
                background-color: rgba(black, .3);
                @include for-tablet-portrait-up {
                    display: none;
                }
                .action-btn {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 55px;
                    width: 55px;
                    cursor: pointer;
                    border-radius: 50%;
                    background-color: rgba(black, .85);
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: scale(1);
                    transition: transform .1s ease-in-out;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
                .zoom {
                    right: 100px;
                    background-image: url(^assets/eye.svg);
                    background-size: 30px;
                    @include for-tablet-portrait-up {
                        right: 80px;
                    }
                }
                .remove {
                    left: 100px;
                    background-image: url(^assets/trash.svg);
                    background-size: 25px;
                    @include for-tablet-portrait-up {
                        left: 80px;
                    }
                }
            }
        }
        .image-type {
            text-align: left;
            font-weight: bold;
            font-size: 1.1rem;
        }
        .image-type:before {
            content: "";
            display: inline-block;
            height: 14px;
            width: 14px;
            position: relative;
            top: 1px;
            margin-right: 15px;
            border-radius: 50%;
        }
        &.red .image-type:before {
            background: #FC0D1B;
        }
        &.orange .image-type:before {
            background: #E49033;
        }
        &.green .image-type:before {
            background: #6F9F4B;
        }
    }
    .col:not(:first-child) {
        margin-left: 70px;
        @include maxWidth(700px) {
            margin-left: 0;
         }
    }
}