// folder-tree.component.scss

// Scss file for the main fodler tree component

// Author: dph000
@import 'color';

:host::ng-deep > cometa-folder-item-tree > div {
  line-height: 40px !important;
  padding-left: 5px !important;
  box-sizing: border-box;
}

div {
  display: flex;
  width: 100%;
  align-items: center;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
  color: $darker-step;
  padding: 0px 10px;
  box-sizing: border-box;
  cursor: pointer;
  padding-left: 29px;
  mat-icon {
    flex: 0 24px;
    margin-right: 8px;
  }
  &:hover {
    background: $medium-black;
  }
}

.selected {
  background-color: rgba($blue, 0.1) !important;
  cursor: unset;
  color: $blue;
  mat-icon {
    color: $darker-step;
  }
}

// .container-wrapper {
//   border-top: 1px solid goldenrod;
//   padding-left: 0px;
//   box-shadow: goldenrod  0px 27px 16px -32px inset;
//   .mobile {
//     position: relative;
//     left: -66px;
//     margin-right: 8px;
//   }
//   span {
//     position: relative;
//     left: -66px;
//   }
// }

// .memberShip {
//   position: relative;
//   top: -13px;
//   left: 125px;
//   font-size: 21px;
//   color: goldenrod !important;
//   // z-index: 999;
// }

// .backgroundLine,
// .backgroundLineTwo {
//   color: white !important;
//   position: relative;
//   top: -21px;
// }

// .backgroundLine {
//   left: 179px;
// }

// .backgroundLineTwo {
//   left: 164px;
// }

// .containerFather {
//   padding-left: 0px;
//   border: 1px solid goldenrod;
//   width: 70%;
//   mat-icon {
//     margin-right: 8px;
//   }
// }
