<!-- folder-tree-item.component.html

Component containing each single directory in the folder tree

Author: dph000

-->
<ng-container *ngLet="expanded$ | async as expanded">
  <!--folderState[this.folder.name]?.open will check if folder state is set to open: true, and adapt arrow icon's direction depending on value-->
  <div
    (click)="toggleExpand()"
    [class.opened]="folderState[folder.name]?.open"
    [style.paddingLeft.px]="level * 25"
    matRipple
    class="row"
    *ngLet="lastFolder$ | async as lastFolder"
    [class.selected]="lastFolder === folder.folder_id">
    <!-- Arrow to show / hide the folder -->
    <mat-icon class="arrow" [class.hidden]="folder.folders.length === 0">
      keyboard_arrow_right</mat-icon
    >
    <!-- Folder icon and name -->
    <div
      class="item"
      [style.--itemMinWidth]="level * 25 + 'px'"
      [style.--folderNameWidth]="level === 1 ? '0px' : (level - 1) * 25 + 'px'">
      <!-- Show different depending if the item is a folder or department -->
      <mat-icon *ngIf="department === true; else folderIcon">domain</mat-icon>
      <ng-template #folderIcon>
        <div class="icon-relative">
          <ng-container *ngIf="folder.features.length > 0 && folder.folders.length === 0; else checkFolders">
            <mat-icon>folder</mat-icon>
            <span class="feature-run-text">Run</span>
            <div class="feature-run"></div>
            <div class="feature-sheet"></div>
            <div class="feature-sheet-line"></div>
            <div class="feature-sheet-line-two"></div>
            <div class="folder-line"></div>
            <div class="folder-line-two"></div>
          </ng-container>
      
          <ng-template #checkFolders>
            <ng-container *ngIf="folder.folders.length > 0 && folder.features.length === 0; else checkFeatAndFold">
              <mat-icon>folder</mat-icon>
              <mat-icon class="little-folder">folder</mat-icon>
              <mat-icon class="second-little-folder">folder</mat-icon>
              <div class="sec-folder-title"></div>
              <div class="sec-folder-line"></div>
              <div class="sec-folder-line-two"></div>
            </ng-container>
          </ng-template>
      
          <ng-template #checkFeatAndFold>
            <ng-container *ngIf="folder.folders.length > 0 && folder.features.length > 0; else emptyTemplate">
              <mat-icon>folder</mat-icon>
              <span class="both-feature-run-text">Run</span>
              <div class="both-feature-run"></div>
              <div class="both-feature-sheet"></div>
              <div class="both-feature-sheet-line"></div>
              <div class="both-feature-sheet-line-two"></div>
              <mat-icon class="both-little-folder">folder</mat-icon>
              <mat-icon class="both-second-little-folder">folder</mat-icon>
              <div class="both-sec-folder-title"></div>
              <div class="both-sec-folder-line"></div>
              <div class="both-sec-folder-line-two"></div>
            </ng-container>
          </ng-template>
      
          <ng-template #emptyTemplate>
            <mat-icon>folder</mat-icon>
            <div class="both-sec-folder-line"></div>
            <div class="both-sec-folder-line-two"></div>
          </ng-template>
        </div>
      </ng-template>
      <div class="folderName">{{ folder.name }}</div>
    </div>
  </div>
  <!--folderState[this.folder.name]?.open will check if folder state is set to open: true, and expand folder or not depending on the value-->
  <div *ngIf="folderState[folder.name]?.open" class="container">
    <!-- Recursion of directories -->
    <!-- The department boolean is used to know wheter the sent object is a department or not -->
    <cometa-folder-item-tree
      [department]="false"
      [parent]="parent.concat(folder)"
      [level]="level + 1"
      [folder]="folder"
      *ngFor="let folder of folder.folders">
    </cometa-folder-item-tree>
  </div>
</ng-container>