// folder-item-tree.component.scss

// Scss file for each folder tree item

// Author: dph000
@import 'color';

.row {
  display: flex;
  width: 100%;
  align-items: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 600;
  color: $darker-step;
  padding: 0px 10px;
  margin: 0 0 0 7px;
  box-sizing: border-box;
  cursor: pointer;
  .item {
    width: 100%;
    display: grid;
    place-items: center start;
    grid-template-columns: 30px calc(100% - var(--itemMinWidth));
    overflow: hidden;

    .folderName {
      display: block;
      max-width: calc(100% + var(--folderNameWidth));
      overflow: hidden;
      text-overflow: ellipsis;
    }

    mat-icon {
      flex: 0 24px;
      margin-right: 8px;
    }
  }
  mat-icon {
    flex: 0 20px;
    transition: transform 0.15s ease-in-out;
  }
  &:hover {
    background: $medium-black;
  }
}

.selected {
  background-color: rgba($blue, 0.1) !important;
}

.selected .item {
  .folderName {
    color: $blue;
  }
}

.opened {
  .arrow {
    transform: rotate(90deg);
  }
}

.hidden {
  visibility: hidden;
}

.feature-run-text {
  font-size: 1px;
  font-weight: 100;
  color: #ffffff;
  position: absolute;
  top: -8px;
  left: 15.5px;
  z-index: 9999;
}

.feature-run {
  height: 3px;
  width: 7px;
  background-color: #1565c0;
  position: absolute;
  top: 5px;
  left: 12.4px;
}

.feature-sheet {
  height: 3px;
  width: 15px;
  background-color: #e8e8e8;
  position: absolute;
  top: 8px;
  left: 4.4px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.feature-sheet-line {
  height: 1px;
  width: 7px;
  background-color: #636363;
  position: absolute;
  top: 9px;
  left: 6px;
}

.folder-line {
  height: 1px;
  width: 21px;
  background-color: #bab9b9;
  position: absolute;
  top: 11.5px;
  left: 2px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.icon-relative {
  display: flex;
  position: relative;
}