<!-- l1-landing.component.html

Main component for the new landing. Contains the whole structure

Author: dph000

-->
<!-- This is a hamburger menu that opens and closes the folder sturcture -->
<div class="backdrop" [class.opened]="showFolders$ | async" (click)="hideSidenav()"></div>
<div class="container">
  <!--

  This is the right of new landing containing search bar on top and the big list of features and folders below.
  This forms part of new landing together with the components "new-folder" + "folder-tree"

  -->
  <div class="searcher" [class.opened]="showFolders$ | async" [class.closed]="(showFolders$ | async) == false">
    <!-- Buttons to either create a feature or a folder -->
    <div class="add-from-sidenav" #addFromSidenav>
      <!-- Div used to hide the buttons when clicked elsewhere but them (only mobile) -->
      <div (click)="openedAdd = false" [class.desktop_backdrop]="openedAdd"></div>
      <!-- Button to display / hide the other 2 buttons -->
      <button class="addIcon" mat-raised-button aria-label="Add button" (click)="openedAdd = !openedAdd">
        <mat-icon>add</mat-icon>
        Add
      </button>
      <!-- Add folder button -->
      <button class="addFolderIcon" mat-raised-button aria-label="Create folder button" (click)="createFolder()" [class.hideAdd]="!openedAdd">
        <mat-icon>folder_open</mat-icon>
        Create folder
      </button>
      <!-- Add feature button -->
      <button *ngIf="canCreateFeature && hasSubscription" class="addFeatureIcon" mat-raised-button aria-label="Create feature button" (click)="SAopenCreateFeature()" [class.hideAdd]="!openedAdd">
        <div class="icon">
          <i class="feature-icon"></i>
        </div>
        Create feature
      </button>
    </div>
    <!-- The whole directory tree and options to switch the shown list -->
    <div class="folder-tree">
      <cometa-folder-tree></cometa-folder-tree>
    </div>
  </div>
  <!-- Main div, containing the filter and the different lists -->
  <div *ngLet="(data$ | async) as table" class="viewer">
    <!-- Feature list view container -->
    <ng-container *ngIf="(aciveList$ | async) == 'list'">
      <!-- Featurre list filter -->
      <cometa-l1-filter class="filter-bar" [filters$]="filters$ | async"></cometa-l1-filter>
      <!-- Feature list options and the list itself -->
      <div class="feature-list" [class.hide-features]="openedSearch$ | async">
        <ng-container>
          <div>
            <div class="features-header">
              <!-- How many features and folders were found -->
              <div *ngIf="table?.rows?.length > 0" class="features_folders_count">
                Found <span *ngIf='table.featureCount > 0'><span class="blue">{{ table.featureCount }}</span> features </span> <span *ngIf='table.folderCount > 0 && table.featureCount > 0'>and </span><span *ngIf='table.folderCount > 0'><span class="blue">{{ table.folderCount }}</span> folders</span>
              </div>
              <!-- Feature list view selector -->
              <div class="view-selector">
                <div matRipple (click)="setView('with', 'tiles')" matTooltip="Tiles view" [class.selected]="itemsViewWith === 'tiles'" class="tiles view"></div>
                <div matRipple (click)="setView('with', 'list')" matTooltip="List view" [class.selected]="itemsViewWith === 'list'" class="list view"></div>
              </div>
            </div>
            <ng-container *ngIf="table?.rows?.length > 0; else noFeaturesFound">
              <!-- Feature list with item view -->
              <ng-container *ngIf="itemsViewWith === 'tiles'; else listView">
                <cometa-l1-feature-item-list [item]="item" class="feature-item" [feature_id]="item.id" *ngFor="let item of table.rows"></cometa-l1-feature-item-list>
              </ng-container>
              <!-- Feature list with list view -->
              <ng-template #listView>
                <cometa-l1-feature-list (closeAdd)="closeAdd()" [data$]='table'></cometa-l1-feature-list>
              </ng-template>
              <!-- Section ending -->
              <div style="clear: both"></div>
            </ng-container>
            <!-- Template to show when there is nothing inside of a folder -->
            <ng-template #noFeaturesFound>
              <ng-container>
                <p class='noFeaturesFound'>This folder is empty. <span *ngIf="canCreateFeature && hasSubscription">Would you like to <span class="new-feature-text" (click)="SAopenCreateFeature()">create a new feature</span>?</span></p>
              </ng-container>
            </ng-template>
          </div>
        </ng-container>
        <!-- Div used to hide the buttons when clicked elsewhere but them (only mobile) -->
        <div (click)="openedAdd = false" [class.mobile_backdrop]="openedAdd"></div>
        <!-- Button to create a feature (only mobile) -->
        <div *ngIf="canCreateFeature && hasSubscription" class="add-feature-container" [class.hide-add]="!openedAdd" #addFeatureContainer>
          <div class="add-feature-tooltip" [class.mat-elevation-z2]="openedAdd" [class.hide-add]="!openedAdd">Add feature</div>
          <div class="add-feature" [class.hide-add]="!openedAdd">
            <button class="addIcon" mat-fab aria-label="Create feature button" (click)="SAopenCreateFeature()">
              <div class="icon">
                <i class="feature-icon"></i>
              </div>
            </button>
          </div>
        </div>
        <!-- Button to create a folder (only mobile) -->
        <div class="add-folder-container" [class.hide-add]="!openedAdd" #addFolderContainer>
          <div class="add-folder-tooltip" [class.mat-elevation-z2]="openedAdd" [class.hide-add]="!openedAdd">Add folder</div>
          <div class="add-folder" [class.hide-add]="!openedAdd">
            <button class="addIcon" mat-fab aria-label="Create folder button" (click)="createFolder()">
              <mat-icon>folder_open</mat-icon>
            </button>
          </div>
        </div>
        <!-- Button to show the other 2 buttons (only mobile) -->
        <div class="add-button-container" #addContainer #addButtonContainer>
          <div class="add-button">
              <button class="addIcon" mat-fab aria-label="Open folder / feature creation" (click)="openedAdd = !openedAdd" #addIcon>
                  <mat-icon #addButtonIcon>add</mat-icon>
              </button>
          </div>
        </div>
      </div>
    </ng-container>


    <!-- Cometa welcome page-->
    <!-- home -->
    <ng-container *ngIf="(aciveList$ | async) == 'home'">
      <cometa-welcome> </cometa-welcome>
    </ng-container>

    <!-- List of the features within team drives -->
    <!-- TEAM DRIVE -->
    <ng-container *ngIf="(aciveList$ | async) == 'team'">
      <cometa-l1-filter class="filter-bar" [filters$]="filters$ | async"></cometa-l1-filter>
      <cometa-l1-feature-team-list [data$]='table'></cometa-l1-feature-team-list>
    </ng-container>

    <!-- List of the recently modified features -->
    <!-- RECENT -->
    <ng-container *ngIf="(aciveList$ | async) == 'recent'">
      <cometa-l1-filter class="filter-bar" [filters$]="filters$ | async"></cometa-l1-filter>
      <cometa-l1-feature-recent-list class="feature-list" (closeAdd)="closeAdd()" [data$]='table'></cometa-l1-feature-recent-list>
    </ng-container>

    <!-- List of the starred features -->
    <!-- STARRED -->
    <ng-container *ngIf="(aciveList$ | async) == 'starred'">
      <cometa-l1-filter class="filter-bar" [filters$]="filters$ | async"></cometa-l1-filter>
      <cometa-l1-feature-starred-list [data$]='table'></cometa-l1-feature-starred-list>
    </ng-container>

    <!-- List of the features in the trash bin -->
    <!-- TRASH BIN -->
    <ng-container *ngIf="(aciveList$ | async) == 'trashbin'">
      <cometa-l1-filter class="filter-bar" [filters$]="filters$ | async"></cometa-l1-filter>
      <cometa-l1-feature-trashbin-list [data$]='table'></cometa-l1-feature-trashbin-list>
    </ng-container>
  </div>
</div>