
@import 'color';

:host::ng-deep .mat-dialog-content {
    width: initial !important;
}

.mat-dialog-title {
    color: $blue;
}

:host::ng-deep pre {
    font-family: monospace;
    width: 100%;
    font-size: 13px;
    border: 2px solid rgba(black, .2);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    // Allow the user to select text
    // user-select: text;
    span {
        font-family: monospace;
        font-size: 13px;
        &.insert {
            background-color: #c7f0d2;
        }
        &.delete {
            background-color: #fac5cd;
        }
    }
}