@import 'color';
@import 'breakpoints';

:host {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
  position: relative;
}

h2 {
  color: #1565c0;
  margin-bottom: 10px;
}

h3, h4 {
  color: $blue;
  margin-left: 10px;
}


@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

.devices {
  .mobile-selector-box {
    .mobiles {
      display: flex;
      gap: 50px;
      margin: 20px 0 20px 10px;
      flex-wrap: wrap;
      overflow-x: hidden;
      .mobile {
        padding: 20px 20px;
        margin-bottom: 15px;
        min-height: 230px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 390px;
        min-width: 390px;
        .mobile-icon {
          width: 100px;
          height: 200px;
          background-size: 82px;
          /* No quotes around pixel values */
          background-position: left;
          background-repeat: no-repeat;
          position: relative;
        }

        .mobile-details {
          // margin-left: 220px; /* Adjust to give space for background image */
          display: flex;
          flex-direction: column;
          justify-content: center;

          div {
            margin-bottom: 10px;
            font-size: 14px;
          }

          .moreOrLess {
            text-align: left;
            padding: 0 0 0 10px;
            margin-bottom: 5px;
            background-color: transparent;
          }

          // .moreOrLess:hover {
          //   background-color: transparent;
          // }

          .moreOrLessNotRunning {
            text-align: left;
            padding: 0 0 0 10px;
            margin-bottom: 5px;
            background-color: transparent;
          }

          

          .moreInfo{
            display: flex;
            flex-direction: column;
            // height: 100px;
            margin-left: 0px;
          }
        }
      }
    }
  }
}

.not-running {
  height: 20px;
}

.not-running-2 {
  height: 25px;
}

.dialog-header {
  padding: 0px 0px 15px 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 0px;
  width: 100%;
  overflow: hidden;
}

.dialog-footer {
  padding: 29px 18px 0px;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: -15px;
  width: 100%;
}

mat-dialog-content {
  width: 100%;
  height: 100%;
}

.mobiles {
  display: flex;
  flex-direction: row;
}

.disabled-div {
  pointer-events: none; 
  opacity: 0.5;          
}

.mobile-buttons-install {
  height: 40px;
}

.mobile-buttons-shared {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

  .inspect-shared {
    margin-right: 10px;
  }

  .start-stop-inpect-buttons {
    font-weight: bold;
  }

  .start{
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
  }

  .restart {
    background-color: #ffbf59;
    color: black;
  }

  .icon-on-hover {
    display: none;
  }
  
  button:hover .inspect-text {
    display: none;
  }
  
  button:hover .icon-on-hover {
    display: inline-block;
    width: 41px;  
  }
  
  .inspect-text {
    display: inline-block;
  }
}

.mobile-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 28px;
  height: 55px;
  align-items: center;
  justify-content: center;

  .start-stop-inpect-buttons {
    font-weight: bold;
  }

  .start{
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
  }

  .restart {
    background-color: #ffbf59;
    color: black;
  }

  .icon-on-hover {
    display: none;
  }
  
  button:hover .inspect-text {
    display: none;
  }
  
  button:hover .icon-on-hover {
    display: inline-block;
    width: 41px;  
  }
  
  .inspect-text {
    display: inline-block;
  }
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: -5px;
  right: 0px;
  margin-bottom: -10px;
}

.clipped {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  // clip-path: polygon(100% 0, 0 0, 100% 100%);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  background-color: #ef5350;
}

.clipped mat-icon {
  font-size: 18px;
  transition: font-size 0.3s ease;
  text-align: center;
  width: 100%;
  height: 100%;
  align-content: center;
  cursor: pointer;
}

.clipped:hover mat-icon {
  font-size: 20px;
}


.mobile-details {
  div {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    strong {
      align-items: center;
      margin-left: 5px;
      margin-right: 5px;
    }
    i {
      font-size: 17px;
    }
    mat-icon {
      font-size: 17px;
      color: black;
      margin-right: 5px;
    }
  }
}

.apk-selection {
  display: flex;
  flex-direction: column !important;
  margin-right: 10px;
  .mat-slider-toggle {
    transform: scale(0.8);
    margin-left: -40px;
    margin-bottom: 10px;
  }
}

.row-content {
  display: flex;
  flex-direction: row;
  mat-icon {
    margin-left: -10px;
  }
}

mat-divider {
  margin-bottom: 15px !important;
}

.status-container {
  display: flex;
  align-items: center;
}

.running-text {
  font-weight: bold;
  color: $success;
}

.stopped-text {
  font-weight: bold;
  color: $bad; 
}

.status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
}

.status-circle.running {
  background-color: $success;
}

.status-circle.stopped {
  background-color: $bad;
}

.disabled-content {
  opacity: 0.5; 
  pointer-events: none; 
}

.closeButton {
  margin-top: 10px;
  text-align: right;
}

.created-by {
  text-align: right;
  margin-top: 27px;
  margin-right: 10px;
}


.emulator-info {
  .copyClipboardIcon {
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;

    &.active {
      animation: changeColor 3s forwards;
    }
  }
}

@keyframes changeColor {
  0% {
    color: $blue;
  }
  100% {
    color: inherit;
  }
}

.scrollable-content {
  max-height: 60vh; 
  overflow-y: auto;
}

.dialog-title {
  flex-grow: 1; 
  margin: 0;
}

.toggle-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
}

.toggle-button:hover {
  text-decoration: none;
}

.rotate-icon {
  transition: transform 0.3s ease;
  margin-left: 4px;
  margin-bottom: 3px;
  font-size: 20px;
}

.rotated {
  transform: rotate(90deg);
}

.handle {
  top: -13px !important;
}

.inspect-hover, .novnc-hover {
  font-weight: bold;
}