<div *ngIf="!isLoading">
  <div *ngIf="!configValueBoolean; else boughtLicense">
    <div *ngIf="isDialog; else notDialog"
      [ngClass]="{ 'mobile-emulator-panel': !configValueBoolean, 'bought-license-panel': configValueBoolean }">
      <div class="containerFather">
        <!-- <span> Contract Mobile Device </span> -->
        <mat-icon>card_membership</mat-icon>
      </div>
      <div class="license-info-container">
        <div class="containerContract">
          <img class="mobileContactImage" src="assets/img/contract_mobile_device.svg" alt="Image contract mobile device"/>
          <div class="containerExplanations">
            <p class="license-text">
              <mat-icon
                class="license-icon"
                [matTooltip]="'Please buy the license to use mobile testing. For assistance, contact support@cometa.rocks.'"
                matTooltipPosition="above"
                color="primary">
                info
              </mat-icon>
              Please buy the license to use mobile testing.
            </p>
            <p class="contactMail">
              <mat-icon class="email">
                email
              </mat-icon>
              Contact mail:
            </p>
            <p class="mailTo">
              <a href="mailto:support@cometa.rocks">support@cometa.rocks</a>
            </p>
          </div>
          <mat-dialog-actions class="dialog-footer-nolicense">
            <button mat-stroked-button color="warn" mat-dialog-close class="closeButton">
              Close
            </button>
          </mat-dialog-actions>
        </div>
      </div>
    </div>
    <ng-template #notDialog>
      <!-- <p>Hola</p> -->
      <div class="info-section">
        <div class="content-wrapper">
          <img class="image-large" src="assets/img/contract_mobile_device.svg" alt="Image contract mobile device" />
          <div class="text-column">
            <p class="text-row">
              <mat-icon
                class="icon-tooltip"
                [matTooltip]="'Please buy the license to use mobile testing. For assistance, contact support@cometa.rocks.'"
                matTooltipPosition="above"
                color="primary">
                info
              </mat-icon>
              Please buy the license to use mobile testing.
            </p>
            <p class="text-row">
              <mat-icon class="icon-email">
                email
              </mat-icon>
              Contact mail:
            </p>
            <p class="email-link">
              <a href="mailto:support@cometa.rocks">support@cometa.rocks</a>
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>



  <ng-template #boughtLicense>
    <div *ngIf="isDialog; else notDialog">
      <draggable-window></draggable-window>
      <ng-container>
        <h2 class="dialog-title">Mobile Devices</h2>
      </ng-container>
      <mat-dialog-actions class="dialog-header">
        <!-- <h3 class="dialog-title">Mobile Devices</h3> -->
        <!-- <div class="dialog-draggable-wrapper">
          <draggable-window style="margin-top: -23px !important; margin-right: 10px;"></draggable-window>
        </div> -->
      </mat-dialog-actions>

      <mat-dialog-content class="scrollable-content">
          <!-- <h2 mat-dialog-title>Mobile Devices</h2> -->
          <!-- Available Devices -->
          <div class="devices">
            <!-- <div *ngIf="container.length > 0"> -->
              <!-- Mobile selection section -->
              <div class="mobile-selector-box">
                <div class="mobiles">
                  <!-- Iterate over mobile containers list -->
                  <div class="mobile" *ngFor="let mobile of mobiles">
                    <div
                      *ngLet="
                        isThisMobileContainerRunning(
                          mobile.mobile_id
                        ) as runningContainer
                      ">
                      <div class="container-buttons">
                        <div
                          class="container-inspect-left"
                          *ngIf="runningContainer; else notRunningTemplate">
                          <div
                            (click)="inspectMobile(runningContainer, mobile)"
                            mat-raised-button
                            class="start-stop-inpect-buttons"
                            [disabled]="runningContainer.isTerminating"

                            [matTooltip]="'mobile_list.inspect_emulator' | translate" matTooltipPosition="above">
                            <span class="inspect-text">Inspect</span>
                            <i class="material-icons icon-on-hover">visibility</i>
                          </div>
                          <div class="hideShadow"></div>
                        </div>
                        <div
                          class="container-novnc-left"
                          *ngIf="runningContainer; else notRunningTemplate">
                          <div
                            (click)="noVNCMobile(runningContainer, mobile)"
                            mat-raised-button
                            class="start-stop-inpect-buttons"

                            [matTooltip]="'mobile_list.inspect_novnc' | translate"
                            matTooltipPosition="above">
                            <span class="inspect-text">noVNC</span>
                            <i class="material-icons icon-on-hover">visibility</i>
                          </div>
                          <div class="hideShadow"></div>
                        </div>
                        <div
                          class="border-left-close"
                          *ngIf="runningContainer; else notRunningTemplate">
                          <div
                            [matTooltip]="'mobile_list.close_emulator' | translate"
                            matTooltipPosition="above"
                            mat-raised-button
                            color="warn"
                            class="close"
                            (click)="!runningContainer?.isTerminating && terminateMobile(runningContainer)"
                            [ngClass]="{ 'spinner-active': runningContainer?.isTerminating }">
                            <ng-container
                              *ngIf="!runningContainer?.isTerminating; else showSpinner">
                              <mat-icon class="close-icon">close</mat-icon>
                            </ng-container>

                            <ng-template #showSpinner>
                              <mat-spinner
                                class="spinner"
                                color="accent"
                                diameter="16">
                              </mat-spinner>
                            </ng-template>
                          </div>
                        </div>
                        <div class="border-left-start-restart"
                          [ngClass]="{ 'disabled-button-border': !selectedDepartment || !selectedDepartment.id }"
                          *ngIf="!runningContainer">
                          <div
                            (click)="startMobile(mobile.mobile_id)"
                            [disabled]="!selectionsDisabled"
                            [ngClass]="{ 'disabled-button': !selectedDepartment || !selectedDepartment.id }"
                            mat-raised-button
                            color="primary"
                            class="start">
                            Start
                          </div>
                        </div>
                        <ng-container *ngIf="runningContainer">
                          <div class="skewed-button-container"
                            [ngClass]="{
                              'restart-bg': runningContainer.service_status === 'Stopped' || runningContainer.service_status === 'Restarting',
                              'pause-bg': runningContainer.service_status === 'Running' || runningContainer.service_status === 'Stopping'
                            }">

                            <div
                              mat-raised-button
                              class="skewed-button"
                              (click)="handleMobileState(runningContainer)"
                              [disabled]="runningContainer.service_status === 'Restarting' || runningContainer.service_status === 'Stopping'"
                              [matTooltip]="
                              runningContainer.service_status === 'Running' ? 'Click to pause' :
                              (runningContainer.service_status === 'Stopped' ? 'Click to restart' : '')"
                              matTooltipPosition="above">

                              <ng-container *ngIf="runningContainer.service_status === 'Stopping' || runningContainer.service_status === 'Restarting'; else showIcon">
                                <mat-spinner
                                  class="spinnerPause"
                                  [color]="runningContainer.service_status === 'Restarting' ? 'warn' : 'primary'"
                                  diameter="16">
                                </mat-spinner>
                              </ng-container>

                              <ng-template #showIcon>
                                <mat-icon class="skewed-content">
                                  {{ runningContainer.service_status === 'Running' ? 'pause' : 'play_arrow' }}
                                </mat-icon>
                                <span class="skewed-content">
                                  {{ runningContainer.service_status === 'Running' ? 'Pause' : 'Restart' }}
                                </span>
                              </ng-template>

                            </div>
                          </div>
                        </ng-container>

                      </div>

                       <!-- Button more vert (modify etc) -->
                       <div class="mobile-details">
                        <button
                          [matTooltip]="'mobile_list.emulator_options' | translate"
                          matTooltipPosition="after"
                          class="emulatorOptions"
                          mat-icon-button
                          [matMenuTriggerFor]="emulatorOptions">
                          <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #emulatorOptions="matMenu">
                          <!-- Start -->
                          <button
                            (click)="startMobile(mobile.mobile_id)"
                            class="startMenu"
                            [disabled]="runningContainer"
                            [matTooltip]="'tooltips.run_feature' | translate"
                            matTooltipPosition="after"
                            mat-menu-item>
                            <mat-icon>play_circle_filled</mat-icon>
                            <span>Start</span>
                          </button>

                          <!-- Restart -->
                          <button
                            (click)="restartMobile(runningContainer)"
                            class="restartMenu"
                            [disabled]="
                              runningContainer?.service_status === 'Running' ||
                              runningContainer?.service_status === 'Restarting' ||
                              runningContainer?.service_status === 'Stopping' ||
                              !runningContainer"
                            mat-menu-item>
                            <img class="iconImgRestart" alt="Not started icon" src="assets/not_started.svg">
                            <span>Restart</span>
                          </button>

                          <!-- Pause -->
                          <button
                            (click)="pauseMobile(runningContainer)"
                            class="pauseMenu"
                            [disabled]="
                              runningContainer?.service_status === 'Stopped' ||
                              runningContainer?.service_status === 'Stopping' ||
                              runningContainer?.service_status === 'Restarting' ||
                              !runningContainer"
                            mat-menu-item>
                            <mat-icon>pause_circle_filled</mat-icon>
                            <span>Pause</span>
                          </button>

                          <mat-divider></mat-divider>

                          <!-- Modify -->
                          <button
                            [disabled]="runningContainer?.service_status !== 'Running'"
                            [matTooltip]="(runningContainer?.service_status !== 'Running'
                            ? 'mobile_list.modify_emulator_not_started'
                            : 'mobile_list.modify_emulator_started') | translate"
                            matTooltipPosition="after"
                            (click)="openModifyEmulatorDialog(mobile, runningContainer)"
                            class="modifyMenu"
                            mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Modify</span>
                          </button>

                          <mat-divider></mat-divider>

                          <!-- Close -->
                          <button
                            (click)="terminateMobile(runningContainer)"
                            class="closeMenu"
                            [disabled]="!runningContainer"
                            mat-menu-item>
                            <mat-icon class="close-icon">cancel</mat-icon>
                            <span class="modifySpan">Close</span>
                          </button>
                        </mat-menu>

                        <div class="mobile-information">
                          <div class="emulator-info">
                            <i class="material-icons">adb</i>
                            <strong>Mobile Name:</strong>
                            {{ mobile.mobile_image_name }}
                            <mat-icon
                              (click)="importClipboard(mobile.mobile_image_name)"
                              [ngClass]="{ active: isIconActive[mobile.mobile_image_name] }"
                              class="copyClipboardIcon"
                              [color]="isIconActive[mobile.mobile_image_name] ? 'primary' : ''">
                              content_copy
                            </mat-icon>
                          </div>
                          <div
                            class="emulator-info"
                            *ngIf="runningContainer">
                            <i class="material-icons">code</i>
                            <strong>Mobile Code:</strong> {{ runningContainer.hostname }}
                            <mat-icon
                              (click)="importClipboard(runningContainer.hostname); $event.stopPropagation();"
                              [ngClass]="{ active: isIconActive[runningContainer.hostname] }"
                              class="copyClipboardIcon"
                              [color]="isIconActive[runningContainer.hostname] ? 'primary' : ''">
                              content_copy
                            </mat-icon>
                          </div>

                          <div class="emulator-info">
                            <button
                              class="moreInfo"
                              matTooltip="Show more information"
                              matTooltipPosition="above"
                              mat-icon-button
                              [matMenuTriggerFor]="moreInfo">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <strong class="moreInfoStrong">
                              More information
                            </strong>
                          </div>

                          <mat-menu #moreInfo="matMenu">
                            <mat-menu-item class="pop-up-info">

                              <mat-menu-item>
                                <i class="material-icons">info</i>
                                <strong>Device Name:</strong> {{ mobile.mobile_json.deviceName }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">memory</i>
                                <strong>Architecture:</strong> {{ mobile.mobile_json.architecture }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">phone_android</i>
                                <strong>Android Version:</strong> {{ mobile.mobile_json.android_version }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">layers</i>
                                <strong>API Level:</strong> {{ mobile.mobile_json.api_level }}
                              </mat-menu-item>
                            </mat-menu-item>
                          </mat-menu>
                          <div
                            class="emulator-info">
                            <mat-icon
                              [matBadge]="runningContainer?.apk_file?.length"

                              class="get-app"
                              [matTooltip]="'mobile_list.apk_file' | translate"
                              matTooltipPosition="above">
                              file_download
                            </mat-icon>
                            <p
                              class="installedApp"
                              [matTooltip]="'mobile_list.apk_file' | translate"
                              matTooltipPosition="above">
                              Number installed Apps

                            </p>
                              <!-- <mat-form-field class="select-app">
                                <mat-label>Select App (extension <strong>.apk</strong>)</mat-label>
                                <mat-select
                                  [disabled]="!runningContainer"
                                  id="apkFileSelectBox_{{ mobile.mobile_id }}"
                                  [(value)]="selectedApps[mobile.mobile_id]"
                                  (selectionChange)="updateAPKSelection($event, mobile, runningContainer)">
                                  <mat-option
                                    *ngFor="let apk_file of this.apkFiles"
                                    [value]="apk_file.id">
                                    {{ apk_file.name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field> -->
                          </div>
                        </div>
                      </div>
                      <div
                      class="sharedEmulator">
                      <mat-slide-toggle
                        [matTooltip]="(runningContainer?.shared ? 'mobile_list.shared' : 'mobile_list.not_shared') | translate"
                        matTooltipPosition="above"
                        color="primary"
                        [ngClass]="{'disabled-toggle': runningContainer?.shared || !runningContainer?.shared}"
                        [disableRipple]="runningContainer?.shared || !runningContainer?.shared"
                        (change)="preventToggle($event, runningContainer?.shared)"
                        id="isShared_{{ mobile.mobile_id }}"
                        [checked]="runningContainer?.shared">
                      </mat-slide-toggle>
                    </div>
                  </div>
                </div>
              </div>




            <div class="dialog-header">
              <h3 class="not-dialog-title">Shared Mobile Devices</h3>
            </div>
            <div class="mobiles">
              <!-- Iterate over shared containers list -->
              <div class="mobile" *ngFor="let container of sharedMobileContainers">
                <div *ngLet="container.service_status == 'Running' as isRunning">
                  <p> {{ conatiner }}</p>
                  <!-- Shared device details -->
                  <div class="mobile-details-shared">
                    <!-- <h4>Shared Device Information</h4>
                    <mat-divider></mat-divider> -->
                    <div class="container-buttons-shared">
                      <div
                        class="container-novnc-left-shared">
                        <div
                          (click)="noVNCMobile(container, mobile)"
                          mat-raised-button
                          class="start-stop-inpect-buttons"
                          [disabled]="container.service_status !== 'Running'"
                          [matTooltip]="'mobile_list.inspect_novnc_shared' | translate"
                          matTooltipPosition="above">
                          <span class="inspect-text">noVNC</span>
                          <i class="material-icons icon-on-hover">visibility</i>
                        </div>
                        <div class="hideShadow"></div>
                      </div>

                      <div
                        class="container-inspect-left-shared">
                        <div
                          (click)="inspectMobile(container, container.image)"
                          mat-raised-button
                          class="start-stop-inpect-buttons"
                          [disabled]="container.service_status !== 'Running'"
                          [matTooltip]="'mobile_list.inspect_emulator_shared' | translate"
                          matTooltipPosition="above">
                          <span class="inspect-text">Inspect</span>
                          <i class="material-icons icon-on-hover">visibility</i>
                        </div>
                        <div class="hideShadow"></div>
                      </div>
                    </div>
                    <div class="mobile-information-shared">
                      <div class="emulator-info">
                        <i class="material-icons">adb</i>
                        <strong>Mobile Name:</strong>
                        {{ container.image.mobile_image_name }}
                        <mat-icon
                          (click)="importClipboard(container.image.mobile_image_name)"
                          [ngClass]="{ active: isIconActive[container.image.mobile_image_name] }"
                          class="copyClipboardIcon"
                          [color]="isIconActive[container.image.mobile_image_name] ? 'primary' : ''">
                          content_copy
                        </mat-icon>
                      </div>
                      <div class="emulator-info" *ngIf="isRunning">
                        <i class="material-icons">code</i>
                        <strong>Device Code:</strong>
                        {{ container.hostname }}
                        <mat-icon
                          (click)="importClipboard(container.hostname)"
                          [ngClass]="{ active: isIconActive }"
                          class="copyClipboardIcon"
                          [color]="isIconActive ? 'primary' : ''">
                          content_copy
                        </mat-icon>
                      </div>
                      <ng-container>
                        <div class="status-container">
                          <i class="material-icons">{{ isRunning ? 'check_circle' : 'highlight_off' }}</i>
                          <strong>Status:</strong>
                          <span [ngClass]="{ 'running-text': isRunning, 'stopped-text': !isRunning }">
                            {{ container.service_status}}
                          </span>
                          <span [ngClass]="{ 'running': isRunning, 'stopped': !isRunning }" class="status-circle"></span>
                        </div>
                      </ng-container>

                      <div class="emulator-info">
                        <button
                          class="moreInfoShared"
                          matTooltip="Show more information"
                          matTooltipPosition="above"
                          mat-icon-button
                          [matMenuTriggerFor]="moreInfo">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <strong class="moreInfoStrongShared">
                          More information
                        </strong>
                      </div>

                      <mat-menu #moreInfo="matMenu">
                        <mat-menu-item class="pop-up-info">


                          <mat-menu-item>
                            <i class="material-icons">info</i>
                            <strong>Device Name:</strong> {{ container.image.mobile_json.deviceName }}
                          </mat-menu-item>

                          <mat-menu-item>
                            <i class="material-icons">memory</i>
                            <strong>Architecture:</strong> {{ container.image.mobile_json.architecture }}
                          </mat-menu-item>

                          <mat-menu-item>
                            <i class="material-icons">phone_android</i>
                            <strong>Android Version:</strong> {{ container.image.mobile_json.android_version }}
                          </mat-menu-item>

                          <mat-menu-item>
                            <i class="material-icons">layers</i>
                            <strong>API Level:</strong> {{ container.image.mobile_json.api_level }}
                          </mat-menu-item>
                        </mat-menu-item>
                      </mat-menu>
                    </div>
                  </div>
                </div>
                <div class="created-by">
                  <strong>Created by:</strong> {{ container.created_by_name }}
                </div>
              </div>
              <p *ngIf="sharedMobileContainers.length == 0" class="nonMobileShared">
                There are no shared mobiles available for you. You can ask your
                teammates to share their mobile emulators so you can collaborate on
                the same machine.
              </p>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions >
        <button mat-stroked-button color="warn" mat-dialog-close>
          Close
        </button>
      </mat-dialog-actions>
    </div>














    <ng-template #notDialog>

      <div class="notDialog-landing">

        <div class="mobile-devices-header">
          <p>
            Found <span class="mobile-results"> {{ mobiles.length }} </span> mobile devices and <span class="mobile-results"> {{ sharedMobileContainers.length }} </span> shared mobile devices.
          </p>
        </div>

        <div class="columns-button-wrapper">
          <div class="container-father">
            <ng-container>
              <mat-form-field class="selectFormField">
                <mat-label><mat-icon>domain</mat-icon> Select Department</mat-label>
                <mat-select [(ngModel)]="selectedDepartment" (selectionChange)="onDepartmentSelect($event)">
                  <mat-option
                    class="mobile-options"
                    *ngFor="let department of departments"
                    [value]="{ id: department.department_id, name: department.department_name }">
                    <mat-card>{{ department.department_name }}</mat-card>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>

            <div *ngIf="!selectedDepartment || selectedDepartment.name === ''" class="department-warning">
              <mat-icon>info</mat-icon>
              <span>
                Selecting a <strong>department</strong> will make the container buttons available for use.
              </span>
            </div>
          </div>
        </div>


        <div class="dialog-header">
          <h3 class="not-dialog-title">Mobile Devices</h3>
        </div>

        <div class="not-dialog-scrollable-content" *ngIf="selectedDepartment">
            <!-- <h2 mat-dialog-title>Mobile Devices</h2> -->
            <!-- Available Devices -->
            <div class="devices">
              <!-- Mobile selection section -->
              <div class="mobile-selector-box">
                <div class="mobiles">
                  <!-- Iterate over mobile containers list -->
                  <div class="mobile" *ngFor="let mobile of mobiles">
                    <div *ngLet="isThisMobileContainerRunning(mobile.mobile_id) as runningContainer">
                      <!-- In developement -->
                      <div class="container-buttons">
                        <div
                          class="container-inspect-left"
                          *ngIf="runningContainer; else notRunningTemplate">
                          <div
                            (click)="inspectMobile(runningContainer, mobile)"
                            mat-raised-button
                            class="start-stop-inpect-buttons"
                            [disabled]="runningContainer.isTerminating"

                            [matTooltip]="'mobile_list.inspect_emulator' | translate" matTooltipPosition="above">
                            <span class="inspect-text">Inspect</span>
                            <i class="material-icons icon-on-hover">visibility</i>
                          </div>
                          <div class="hideShadow"></div>
                        </div>
                        <div
                          class="container-novnc-left"
                          *ngIf="runningContainer; else notRunningTemplate">
                          <div
                            (click)="noVNCMobile(runningContainer, mobile)"
                            mat-raised-button
                            class="start-stop-inpect-buttons"

                            [matTooltip]="'mobile_list.inspect_novnc' | translate"
                            matTooltipPosition="above">
                            <span class="inspect-text">noVNC</span>
                            <i class="material-icons icon-on-hover">visibility</i>
                          </div>
                          <div class="hideShadow"></div>
                        </div>
                        <div
                          class="border-left-close"
                          *ngIf="runningContainer; else notRunningTemplate">
                          <div
                            [matTooltip]="'mobile_list.close_emulator' | translate"
                            matTooltipPosition="above"
                            mat-raised-button
                            color="warn"
                            class="close"
                            (click)="!runningContainer?.isTerminating && terminateMobile(runningContainer)"
                            [ngClass]="{ 'spinner-active': runningContainer?.isTerminating }">
                            <ng-container
                              *ngIf="!runningContainer?.isTerminating; else showSpinner">
                              <mat-icon class="close-icon">close</mat-icon>
                            </ng-container>

                            <ng-template #showSpinner>
                              <mat-spinner
                                class="spinner"
                                color="accent"
                                diameter="16">
                              </mat-spinner>
                            </ng-template>
                          </div>
                        </div>


                        <div class="border-left-start-restart"
                          [ngClass]="{ 'disabled-button-border': !selectedDepartment || !selectedDepartment.id }"
                          *ngIf="!runningContainer">
                          <div
                            (click)="startMobile(mobile.mobile_id)"
                            [disabled]="!selectionsDisabled"
                            [ngClass]="{ 'disabled-button': !selectedDepartment || !selectedDepartment.id }"
                            mat-raised-button
                            color="primary"
                            class="start">
                            Start
                          </div>
                        </div>
                        <ng-container *ngIf="runningContainer">
                          <div class="skewed-button-container"
                            [ngClass]="{
                              'restart-bg': runningContainer.service_status === 'Stopped' || runningContainer.service_status === 'Restarting',
                              'pause-bg': runningContainer.service_status === 'Running' || runningContainer.service_status === 'Stopping'
                            }">

                            <div
                              mat-raised-button
                              class="skewed-button"
                              (click)="handleMobileState(runningContainer)"
                              [disabled]="runningContainer.service_status === 'Restarting' || runningContainer.service_status === 'Stopping'"
                              [matTooltip]="
                              runningContainer.service_status === 'Running' ? 'Click to pause' :
                              (runningContainer.service_status === 'Stopped' ? 'Click to restart' : '')"
                              matTooltipPosition="above">

                              <ng-container *ngIf="runningContainer.service_status === 'Stopping' || runningContainer.service_status === 'Restarting'; else showIcon">
                                <mat-spinner
                                  class="spinnerPause"
                                  [color]="runningContainer.service_status === 'Restarting' ? 'warn' : 'primary'"
                                  diameter="16">
                                </mat-spinner>
                              </ng-container>

                              <ng-template #showIcon>
                                <mat-icon class="skewed-content">
                                  {{ runningContainer.service_status === 'Running' ? 'pause' : 'play_arrow' }}
                                </mat-icon>
                                <span class="skewed-content">
                                  {{ runningContainer.service_status === 'Running' ? 'Pause' : 'Restart' }}
                                </span>
                              </ng-template>

                            </div>
                          </div>
                        </ng-container>
                      </div>
                      <!-- Take it and put it above on the mobile div with X  -->
                      <!-- Popup a confirmation box to Yes/No -->

                      <ng-template #notRunningTemplate>
                        <div class="not-running">
                        </div>
                      </ng-template>

                      <!-- Button more vert (modify etc) -->
                      <div class="mobile-details">
                        <button
                          [matTooltip]="'mobile_list.emulator_options' | translate"
                          matTooltipPosition="after"
                          class="emulatorOptions"
                          mat-icon-button
                          [matMenuTriggerFor]="emulatorOptions">
                          <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #emulatorOptions="matMenu">
                          <!-- Start -->
                          <button
                            (click)="startMobile(mobile.mobile_id)"
                            class="startMenu"
                            [disabled]="runningContainer"
                            [matTooltip]="'tooltips.run_feature' | translate"
                            matTooltipPosition="after"
                            mat-menu-item>
                            <mat-icon>play_circle_filled</mat-icon>
                            <span>Start</span>
                          </button>

                          <!-- Restart -->
                          <button
                            (click)="restartMobile(runningContainer)"
                            class="restartMenu"
                            [disabled]="
                              runningContainer?.service_status === 'Running' ||
                              runningContainer?.service_status === 'Restarting' ||
                              runningContainer?.service_status === 'Stopping' ||
                              !runningContainer"
                            mat-menu-item>
                            <img class="iconImgRestart" alt="Not started icon" src="assets/not_started.svg">
                            <span>Restart</span>
                          </button>

                          <!-- Pause -->
                          <button
                            (click)="pauseMobile(runningContainer)"
                            class="pauseMenu"
                            [disabled]="
                              runningContainer?.service_status === 'Stopped' ||
                              runningContainer?.service_status === 'Stopping' ||
                              runningContainer?.service_status === 'Restarting' ||
                              !runningContainer"
                            mat-menu-item>
                            <mat-icon>pause_circle_filled</mat-icon>
                            <span>Pause</span>
                          </button>

                          <mat-divider></mat-divider>

                          <!-- Modify -->
                          <button
                            [disabled]="runningContainer?.service_status !== 'Running'"
                            [matTooltip]="(runningContainer?.service_status !== 'Running'
                            ? 'mobile_list.modify_emulator_not_started'
                            : 'mobile_list.modify_emulator_started') | translate"
                            matTooltipPosition="after"
                            (click)="openModifyEmulatorDialog(mobile, runningContainer)"
                            class="modifyMenu"
                            mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Modify</span>
                          </button>

                          <mat-divider></mat-divider>

                          <!-- Close -->
                          <button
                            (click)="terminateMobile(runningContainer)"
                            class="closeMenu"
                            [disabled]="!runningContainer"
                            mat-menu-item>
                            <mat-icon class="close-icon">cancel</mat-icon>
                            <span class="modifySpan">Close</span>
                          </button>
                        </mat-menu>

                        <div class="mobile-information">
                          <div class="emulator-info">
                            <i class="material-icons">adb</i>
                            <strong>Mobile Name:</strong>
                            {{ mobile.mobile_image_name }}
                            <mat-icon
                              (click)="importClipboard(mobile.mobile_image_name)"
                              [ngClass]="{ active: isIconActive[mobile.mobile_image_name] }"
                              class="copyClipboardIcon"
                              [color]="isIconActive[mobile.mobile_image_name] ? 'primary' : ''">
                              content_copy
                            </mat-icon>
                          </div>
                          <div
                            class="emulator-info"
                            *ngIf="runningContainer">
                            <i class="material-icons">code</i>
                            <strong>Mobile Code:</strong> {{ runningContainer.hostname }}
                            <mat-icon
                              (click)="importClipboard(runningContainer.hostname); $event.stopPropagation();"
                              [ngClass]="{ active: isIconActive[runningContainer.hostname] }"
                              class="copyClipboardIcon"
                              [color]="isIconActive[runningContainer.hostname] ? 'primary' : ''">
                              content_copy
                            </mat-icon>
                          </div>

                          <div class="emulator-info">
                            <button
                              class="moreInfo"
                              matTooltip="Show more information"
                              matTooltipPosition="above"
                              mat-icon-button
                              [matMenuTriggerFor]="moreInfo">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <strong class="moreInfoStrong">
                              More information
                            </strong>
                          </div>

                          <mat-menu #moreInfo="matMenu">
                            <mat-menu-item class="pop-up-info">

                              <mat-menu-item>
                                <i class="material-icons">info</i>
                                <strong>Device Name:</strong> {{ mobile.mobile_json.deviceName }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">memory</i>
                                <strong>Architecture:</strong> {{ mobile.mobile_json.architecture }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">phone_android</i>
                                <strong>Android Version:</strong> {{ mobile.mobile_json.android_version }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">layers</i>
                                <strong>API Level:</strong> {{ mobile.mobile_json.api_level }}
                              </mat-menu-item>
                            </mat-menu-item>
                          </mat-menu>
                          <div
                            class="emulator-info">
                            <mat-icon
                              [matBadge]="runningContainer?.apk_file?.length"

                              class="get-app"
                              [matTooltip]="'mobile_list.apk_file' | translate"
                              matTooltipPosition="above">
                              file_download
                            </mat-icon>
                            <p
                              class="installedApp"
                              [matTooltip]="'mobile_list.apk_file' | translate"
                              matTooltipPosition="above">
                              Number installed Apps

                            </p>
                              <!-- <mat-form-field class="select-app">
                                <mat-label>Select App (extension <strong>.apk</strong>)</mat-label>
                                <mat-select
                                  [disabled]="!runningContainer"
                                  id="apkFileSelectBox_{{ mobile.mobile_id }}"
                                  [(value)]="selectedApps[mobile.mobile_id]"
                                  (selectionChange)="updateAPKSelection($event, mobile, runningContainer)">
                                  <mat-option
                                    *ngFor="let apk_file of this.apkFiles"
                                    [value]="apk_file.id">
                                    {{ apk_file.name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field> -->
                          </div>
                        </div>
                      </div>
                      <div
                        class="sharedEmulator">
                        <mat-slide-toggle
                          [matTooltip]="(runningContainer?.shared ? 'mobile_list.shared' : 'mobile_list.not_shared') | translate"
                          matTooltipPosition="above"
                          color="primary"
                          [ngClass]="{'disabled-toggle': runningContainer?.shared || !runningContainer?.shared}"
                          [disableRipple]="runningContainer?.shared || !runningContainer?.shared"
                          (change)="preventToggle($event, runningContainer?.shared)"
                          id="isShared_{{ mobile.mobile_id }}"
                          [checked]="runningContainer?.shared">
                        </mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                </div>





                <div class="dialog-header">
                  <h3 class="not-dialog-title">Shared Mobile Devices</h3>
                </div>
                <div class="mobiles">
                  <!-- Iterate over shared containers list -->
                  <div class="mobile" *ngFor="let container of sharedMobileContainers$ | async">
                    <div *ngLet="container.service_status == 'Running' as isRunning">
                      <!-- Shared device details -->
                      <div class="mobile-details-shared">
                        <!-- <h4>Shared Device Information</h4>
                        <mat-divider></mat-divider> -->
                        <div class="container-buttons-shared">
                          <div
                            class="container-novnc-left-shared">
                            <div
                              (click)="noVNCMobile(container, mobile)"
                              mat-raised-button
                              class="start-stop-inpect-buttons"
                              [disabled]="container.service_status !== 'Running'"
                              [matTooltip]="'mobile_list.inspect_novnc_shared' | translate"
                              matTooltipPosition="above">
                              <span class="inspect-text">noVNC</span>
                              <i class="material-icons icon-on-hover">visibility</i>
                            </div>
                            <div class="hideShadow"></div>
                          </div>

                          <div
                            class="container-inspect-left-shared">
                            <div
                              (click)="inspectMobile(container, container.image)"
                              mat-raised-button
                              class="start-stop-inpect-buttons"
                              [disabled]="container.service_status !== 'Running'"
                              [matTooltip]="'mobile_list.inspect_emulator_shared' | translate"
                              matTooltipPosition="above">
                              <span class="inspect-text">Inspect</span>
                              <i class="material-icons icon-on-hover">visibility</i>
                            </div>
                            <div class="hideShadow"></div>
                          </div>
                        </div>
                        <div class="mobile-information-shared">
                          <div class="emulator-info">
                            <i class="material-icons">adb</i>
                            <strong>Mobile Name:</strong>
                            {{ container.image.mobile_image_name }}
                            <mat-icon
                              (click)="importClipboard(container.image.mobile_image_name)"
                              [ngClass]="{ active: isIconActive[container.image.mobile_image_name] }"
                              class="copyClipboardIcon"
                              [color]="isIconActive[container.image.mobile_image_name] ? 'primary' : ''">
                              content_copy
                            </mat-icon>
                          </div>
                          <div class="emulator-info" *ngIf="isRunning">
                            <i class="material-icons">code</i>
                            <strong>Device Code:</strong>
                            {{ container.hostname }}
                            <mat-icon
                              (click)="importClipboard(container.hostname)"
                              [ngClass]="{ active: isIconActive }"
                              class="copyClipboardIcon"
                              [color]="isIconActive ? 'primary' : ''">
                              content_copy
                            </mat-icon>
                          </div>
                          <ng-container>
                            <div class="status-container">
                              <i class="material-icons">{{ isRunning ? 'check_circle' : 'highlight_off' }}</i>
                              <strong>Status:</strong>
                              <span [ngClass]="{ 'running-text': isRunning, 'stopped-text': !isRunning }">
                                {{ container.service_status}}
                              </span>
                              <span [ngClass]="{ 'running': isRunning, 'stopped': !isRunning }" class="status-circle"></span>
                            </div>
                          </ng-container>

                          <div class="emulator-info">
                            <button
                              class="moreInfoShared"
                              matTooltip="Show more information"
                              matTooltipPosition="above"
                              mat-icon-button
                              [matMenuTriggerFor]="moreInfo">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <strong class="moreInfoStrongShared">
                              More information
                            </strong>
                          </div>

                          <mat-menu #moreInfo="matMenu">
                            <mat-menu-item class="pop-up-info">


                              <mat-menu-item>
                                <i class="material-icons">info</i>
                                <strong>Device Name:</strong> {{ container.image.mobile_json.deviceName }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">memory</i>
                                <strong>Architecture:</strong> {{ container.image.mobile_json.architecture }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">phone_android</i>
                                <strong>Android Version:</strong> {{ container.image.mobile_json.android_version }}
                              </mat-menu-item>

                              <mat-menu-item>
                                <i class="material-icons">layers</i>
                                <strong>API Level:</strong> {{ container.image.mobile_json.api_level }}
                              </mat-menu-item>
                            </mat-menu-item>
                          </mat-menu>
                        </div>
                      </div>
                    </div>
                    <div class="created-by">
                      <strong>Created by:</strong> {{ container.created_by_name }}
                    </div>
                  </div>
                  <p *ngIf="sharedMobileContainers.length == 0" class="nonMobileShared">
                    There are no shared mobiles available for you. You can ask your
                    teammates to share their mobile emulators so you can collaborate on
                    the same machine.
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
