@import 'color';
@import 'breakpoints';

// :host {
//   display: flex;
//   flex-wrap: wrap;
//   width: 100%;
//   min-height: 200px;
//   position: relative;
// }

h4 {
  color: #1565c0;
  // height: 30px;
  // margin-top: 10px;
  // margin-bottom: 10px;
}

h3 {
  color: $blue;
  margin-left: 10px;
}

mat-dialog-container {
  overflow: hidden;
}

::ng-deep .mobile-emulator-panel {
  background-color: #f7f7f7;
}



@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

.devices {
  .mobile-selector-box {
    .mobiles {
      display: flex;
      gap: 50px;
      margin: 30px 0 20px 10px;
      flex-wrap: wrap;
      // overflow-x: hidden;
      .mobile {
        padding: 20px 20px;
        margin-bottom: 15px;
        // min-height: 230px;
        border: 1px solid #ddd;
        border-radius: 5px 0px 5px 5px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 185px;
        min-width: 390px;
        background-color: rgba(255, 255, 255, 0.4);
        .mobile-icon {
          width: 100px;
          height: 200px;
          background-size: 82px;
          /* No quotes around pixel values */
          background-position: left;
          background-repeat: no-repeat;
          position: relative;
        }

        .mobile-details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 10px;

          .moreOrLess {
            text-align: left;
            padding: 0 0 0 10px;
            margin-bottom: 5px;
            background-color: transparent;
          }

          // .moreOrLess:hover {
          //   background-color: transparent;
          // }

          .moreOrLessNotRunning {
            text-align: left;
            // margin-top: 30px;
            padding: 0 0 0 10px;
            background-color: transparent;
          }

          .moreInfo{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

.not-running {
  height: 30px;
}

.not-running-2 {
  height: 25px;
}

.dialog-header {
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 0px;
  width: 100%;
  overflow: hidden;
}

.dialog-footer {
  padding: 29px 0px 0px;
  display: flex;
  width: 100%;
}

.dialog-footer-nolicense {
  padding: 29px 18px 0px;
  display: flex;
  flex-wrap: wrap;
  min-height: 52px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: -15px;
  width: 37%;
  position: fixed;
  bottom: 130px;
}

mat-dialog-content {
  width: 100%;
  height: 100%;
}

.mobiles {
  display: flex;
  flex-direction: row;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;
}

.mobile-buttons-install {
  height: 40px;
}

.mobile-buttons-shared {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

  .inspect-shared {
    margin-right: 10px;
  }

  .start-stop-inpect-buttons {
    font-weight: bold;
  }

  .start{
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
  }

  .restart {
    background-color: #ffbf59;
    color: black;
  }

  .icon-on-hover {
    display: none;
  }

  button:hover .inspect-text {
    display: none;
  }

  button:hover .icon-on-hover {
    display: inline-block;
    width: 41px;
  }

  .inspect-text {
    display: inline-block;
  }
}

.mobile-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 28px;
  align-items: center;
  justify-content: center;

  .start-stop-inpect-buttons {
    font-weight: bold;
  }

  .start{
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
  }

  .restart {
    background-color: #ffbf59;
    color: black;
  }

  .icon-on-hover {
    display: none;
  }

  button:hover .inspect-text {
    display: none;
  }

  button:hover .icon-on-hover {
    display: inline-block;
    width: 41px;
  }

  .inspect-text {
    display: inline-block;
  }
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

.clipped {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  // clip-path: polygon(100% 0, 0 0, 100% 100%);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  background-color: #ef5350;
}

.clipped {
  font-size: 18px;
  transition: font-size 0.3s ease;
  text-align: center;
  width: 100%;
  height: 100%;
  align-content: center;
  cursor: pointer;
}

.clipped:hover, .close-icon:hover {
  font-size: 20px;
}


.mobile-details {
  div {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 14px;
    strong {
      align-items: center;
      margin-left: 5px;
      margin-right: 5px;
    }
    i {
      font-size: 17px;
      width: 16px;
    }
    mat-icon {
      font-size: 17px;
      color: black;
      margin-right: 5px;
    }
  }
  .emulator-info {
    margin-left: 10px;
    font-size: 14px;
  }
  .status-container {
    margin-left: 10px;
    font-size: 14px;
  }

}

.status-container {
  display: flex;
  align-items: center;
}

.running-text {
  font-weight: bold;
  color: $success;
}

// .stopped-text {
//   font-weight: bold;
//   color: rgb(152, 145, 145) !important;
// }


// .apk-selection {
//   display: flex;
//   flex-direction: column !important;
//   margin-right: 10px;
//   margin-left: 10px;
//   .mat-slider-toggle {
//     transform: scale(0.7);
//     margin-left: -60px;
//     margin-bottom: 10px;
//     p {
//       font-size: 20px;
//     }
//   }
// }

.pop-up-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-size: 14px;
  padding: 10px;
  color: #000000b3;
}

.pop-up-info mat-menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  strong {
    margin-left: -10px;
  }
}

.pop-up-info i,
.pop-up-info mat-icon {
  font-size: 18px;
  margin-right: 8px;
}

.pop-up-info strong {
  flex-grow: 1;
}

.row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    font-weight: bold;
    font-size: 14px;
    mat-label {
      // font-weight: bold;
      // font-size: 14px;
    }
  }

}

mat-divider {
  margin-bottom: 15px !important;
}

.status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
}

.status-circle.running {
  background-color: $success;
}

.status-circle.stopped {
  background-color: $bad;
}

.disabled-content {
  opacity: 0.5;
  pointer-events: none;
}

.closeButton {
  margin-top: 10px;
  text-align: right;
  margin-right: 20px;
}

.created-by {
  text-align: right;
  margin-top: 27px;
  margin-right: 10px;
}


.emulator-info {
  .copyClipboardIcon {
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;

    &.active {
      animation: changeColor 3s forwards;
    }
  }
}

@keyframes changeColor {
  0% {
    color: $blue;
  }
  100% {
    color: inherit;
  }
}

.scrollable-content {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.not-dialog-scrollable-content::-webkit-scrollbar {
  display: none;
}

.not-dialog-scrollable-content {
  // max-height: 60vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  // max-height: calc(100vh - var(--header-height) - var(--new-landing-filters-height));
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

mobile-list {
  height: 100%;
  display: flex;
}

.notDialog-landing {
  padding: 25px 15px 15px 15px;
  height: calc(100% + 50px);
  min-height: 1200px;
}

.dialog-title {
  flex-grow: 1;
  margin: 15px 0 15px 0;
}

.not-dialog-title {
  flex-grow: 1;
  margin: 0;
}

.toggle-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
}

.toggle-button:hover {
  text-decoration: none;
}

.rotate-icon {
  transition: transform 0.3s ease;
  margin-left: 4px;
  margin-bottom: 3px;
  font-size: 20px;
}

.rotated {
  transform: rotate(90deg);
}

.handle {
  top: -13px !important;
}

.inspect-hover, .novnc-hover {
  font-weight: bold;
}

.not-running-dialog{
  height: 30px;
}

// ####################################
// # NO DIALOG                        #
// ####################################

.container-father {
  display: flex;
  // flex-direction: column !important;

  margin-right: 10px;
  width: 1000px;
}

.selectFormField {
  width: 300px;
}

@include for-phone-only {
  .container-father {
    position: relative;
    height: 15vh;
  }

  .selectFormField {
    width: 145px;
  }

  .container-father .selectFormField:nth-last-of-type(2) {
    position: absolute;
    left: 0;
    top: 0;
  }

  .container-father .selectFormField:nth-last-of-type(1) {
    position: absolute;
    right: 0;
    top: 0;
  }

  button {
    align-self: flex-end;
  }

  .add, .button-column{
    margin-bottom: 10px;
    width: auto;
  }
}

.feature {
  height: 15px;
  margin-right: 8px;
}

.columns-button-wrapper {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.department-name {
  display: flex;
}

// #mobile-actions {
//   margin-top: 9px;
// }

.get-app {
  font-size: 18px !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.selectDepExplan {
  margin-left: 10px;
}

.options {
  display: flex;
  align-items: center;
  margin-left: 5px;
  // margin-bottom: -11px;
  button {
    margin-left: -10px;
  }
  mat-icon {
    color: black;
    font-size: 19px;
    margin-bottom: 0px;
  }
  span {
    margin-left: -8px;
    font-weight: bold;
    font-size: 14px;
  }
}

.mat-form-field-wrapper {
  font-size: 13px;
}

.mobile-information{
  display: flex;
  flex-direction: column !important;
  margin-bottom: 20px;
  position: relative;
  top: -50px;
}

.mobile-devices-header {
  display: flex;
  padding: 0 20px 0 10px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  .mobile-results {
    color: $blue;
  }
}

.spinner-active {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

::ng-deep mat-spinner circle {
  color: #4A4A4A;
}

.spinner {
  position: relative;
  top: 0px;
  right: 2px;
}

.department-warning {
  display: inline-flex;
  align-items: center;
  color: $blue;
  margin-bottom: 15px;
  .mat-icon {
    font-size: 19px;
    margin-right: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
}

.nonMobileShared {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

mat-card {
  mat-icon {
    color: rgba(0, 0, 0, 0.5);
  }
}

.mobile-options {
  // position: absolute;
  // top: 20px;
}

.containerFather {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: goldenrod;
  mat-icon {
    font-size: 24px;
    margin-right: 5px;
  }
  span {
    font-size: 14px;
    line-height: 1.4;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 3px;
    letter-spacing: 0.8px;
  }
}

.license-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  .containerContract {
    height: 650px;
    width: 30%;
    display: flex;
    align-items: center;
    .mobileContactImage {
      height: 400px;
    }
  }
}

.license-icon {
  font-size: 22px;
  cursor: pointer;
  margin-right: 5px;
}

.email {
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.containerExplanations {
  margin-left: 10px;
}

.license-text,
.contactMail {
  display: flex;
  align-items: center;
}

.license-text {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
  width: 600px;
}

.license-text a {
  color: #1976d2;
  text-decoration: underline;
}

.contactMail,
.mailTo  {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
}

.contactMail {
  margin-top: 20px;
}

.mailTo {
  margin-left: 30px;
  a {
    text-decoration: none;
  }
}

.mailTo:hover {
  a {
    text-decoration: underline;
  }
}

.email {
  color: #1565c0;
}

.mat-tooltip {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}

// ::ng-deep .mobile-emulator-panel {
//   width: 40vw;
// }

.mobile-emulator-panel {
  width: 40vw;
}

.bought-license-panel {
  width: 81vw;
}

/* Para pantallas más pequeñas */
@media (max-width: 1800px) {
  .license-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerContract {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .mobileContactImage {
    height: auto;
    max-width: none;
    margin-bottom: 20px;
  }

  .containerExplanations {
    width: 100%;
    padding: 10px;
  }
}

// Landing mobile ( Not dialog)

.info-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.image-large {
  width: 50%;
  height: auto;
}

.text-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  flex: 1;
}

.text-row {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.icon-tooltip {
  font-size: 22px;
  margin-right: 10px;
  color: #1565c0;
}

.icon-email {
  font-size: 20px;
  margin-right: 10px;
  color: #1565c0;
}

.email-link a {
  text-decoration: none;
  color: #1565c0;
  font-size: 16px;
  line-height: 1.4;
  margin-left: 35px;
}

.email-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .image-large {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .text-column {
    width: 100%;
    padding: 20px;
  }
}

.container-buttons {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: -45px;
  left: -42px;
  // margin-right: -48px;
}

.start, .restart, .pause, .close {
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  min-width: 64px;
  height: 26px;
  color: rgb(255, 255, 255);
  // border-radius: 0 5px 0 0;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  letter-spacing: 1px;
}

.restart, .pause {
  transform: skew(-30deg);
}


// Only start
.border-left-start-restart {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-bottom: 26px solid #1565c0;
  z-index: 99;
}

// Only restart
.border-left-restart {
  width: 0;
  height: 0;
  // border-left: 15px solid transparent;
  border-bottom: 26px solid #1565c0;
  z-index: 99;
  margin-right: 61px;
}

.restart {
  background-color: #1565c0;
  width: 82px;
}

.restart {
 span, mat-icon {
  transform: skew(30deg);
 }
 mat-icon {
  font-size: 18px;
  position: relative;
  top: 3px;
  left: 7px;
 }
}

// Restarting class
.disabled-button-restart {
  background-color: rgba(21, 101, 192, 0.9);
  pointer-events: none;
  opacity: 0.9;
  width: 82px;
  // margin-right: 61px;
  // color: black;
}

.disabled-button-border-restart {
  border-bottom: 26px solid rgba(21, 101, 192, 0.9);
  opacity: 0.6;
  z-index: 99;
  // color: black;
  margin-right: 61px;
}

// Stopping class
.disabled-button-pause {
  transform: skew(0deg);
  pointer-events: none;
  // opacity: 0.5;
  color: black;
}

.border-left-start-pause {
  transform: skew(-30deg);
  height: 0px;
  border-bottom: 26px solid #ef5350;
  width: 75px;
  span, mat-icon {
    transform: skew(50deg);
  }
  mat-icon {
    font-size: 18px;
    position: relative;
    top: 3px;
    left: 7px;
  }
}

.disabled-button-border-pause {
  transform: skew(-30deg);
  border-bottom: 26px solid orange;
  opacity: 0.5;
  span {
    transform: skew(30deg);
  }
}

.stopping-button-pause {
  pointer-events: none;
  color: black;
  .spinnerPause {
    transform: skew(50deg);
  }
  span {
    transform: skew(50deg);
  }
}

.stopping-button-border-pause {
  border-bottom: 26px solid orange;
  opacity: 0.5;
}

.spinnerPause {
  position: relative;
  left: -2px;
  top: -0.5px;
}

.spinnerRestart {
  position: relative;
  left: -12px;
  top: -1.5px;
}

.not-allowed {
  pointer-events: none;
  opacity: 0.9;
}

.start {
  background-color: #1565c0;
  border-radius: 0 5px 0 0;
}

// Close
.border-left-close {
  height: 0px;
  border-left: 15px solid transparent;
  border-bottom: 26px solid #ef5350;
  position: absolute;
  top: 0px;
  right: -63px;
  z-index: 999;
  border-radius: 0 5px 0 0;
}

.close {
  // background-color: #ef5350;
  min-width: 35px;
  border-radius: 0 5px 0 0;
  overflow: hidden;
}

.close-icon {
  font-size: 18px;
  transition: font-size 0.1s ease;
  text-align: end;
  width: 100%;
  height: 100%;
  align-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.close-icon:hover {
  font-size: 18.5px;
}

.view-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -30px;
  left: 12px;
  padding: 8px;
  width: 50px;
  height: 12px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow:
    0 3px 1px -2px $table-low-shadow,
    0 2px 2px 0 $table-medium-shadow,
    0 1px 5px 0 $table-low-shadow;
  .view {
    cursor: pointer;
    background-color: $transparent-white;
    .iconsMatRipple {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
    }
    .info {

    }
    .checkList {

    }
    .download {

    }
    &.selected {
      background-color: rgba($blue, 0.85);
      &:after {
        filter: brightness(1);
        opacity: 1;
      }
    }
  }
}

.disabled-button {
  background-color: rgba(128, 128, 128, 0.5) !important;
  pointer-events: none;
}

.disabled-button-border {
  border-left: 15px solid transparent;
  border-bottom: 26px solid rgba(128, 128, 128, 0.5);
  opacity: 0.5;
  z-index: 99;
}


/* Status */

.pause[disabled] {
  background-color: orange !important;
  pointer-events: none;
  opacity: 0.5;
}

.running-state-text, .paused-state-text, .stopped-text {
  font-weight: bold;
}

.running-state-text {
  color: #32ba7c;
}

.paused-state-text {
  color: orange;
}

.stopped-text {
  color: #d4145a;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.running-state, .paused-state, .stopped {
  font-weight: bold;
}

.running-state {
  background-color: #32ba7c;
}

.paused-state {
  background-color: orange;
}

.stopped {
  background-color: #d4145a;
}

.emulatorOptions {
  position: relative;
  top: -23px;
  left: 360px;
  z-index: 9999;
}

// .apkContainer {
//   position: relative;
//   top: -79px;
//   left: -2px;
// }

.mobile-emulator-panel-dialog {
  width: 500px;
  max-height: 80vh;
  border-radius: 8px;
  overflow: hidden;
}


// Menu more vert emulator feature

.startMenu, .restartMenu, .pauseMenu, .modifyMenu, .closeMenu {
  padding: 0 16px;
  width: 136px;
  min-height: 30px !important;
  span {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;

  }
  mat-icon {
    font-size: 21px;
    margin-right: 16px;
    margin-top: 4px;

    vertical-align: middle;
  }
  img {
    font-size: 21px;
    margin-right: 17px;
    vertical-align: middle;
  }
}

.startMenu {
  mat-icon, span {
    color: #1565c0 !important;
  }
}

.restartMenu {
  background-color: transparent;
  .iconImgRestart {
    width: 21px;
    height: 21px;
    filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(1046%) hue-rotate(185deg) brightness(105%) contrast(93%);
    // margin-right: 8px;
    // color: #1565c0 !important;
  }
  span {
    color: #1565c0 !important;
  }
}

.pauseMenu {
  mat-icon {
    color:  #ef5350 !important;
  }
  span {
    color:  #ef5350 !important;
  }
}

.dissabled-more-vert {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
