<mat-dialog-actions class="dialog-header">
  <h2 class="dialog-title">Mobile Devices</h2>
  <!-- <div class="dialog-draggable-wrapper"> -->
  <draggable-window class="dialog-draggable"></draggable-window>
  <!-- </div> -->
</mat-dialog-actions>

<mat-dialog-content class="scrollable-content">
  <ng-container>
    <!-- <h2 mat-dialog-title>Mobile Devices</h2> -->
    <!-- Available Devices -->
    <div class="devices">
      <!-- Mobile selection section -->
      <div class="mobile-selector-box">
        <div class="mobiles">
          <!-- Iterate over mobile containers list -->
          <div class="mobile" *ngFor="let mobile of mobiles">
            <div
              *ngLet="
                isThisMobileContainerRunning(
                  mobile.mobile_id
                ) as runningContainer
              ">
              <!-- Take it and put it above on the mobile div with X  -->
              <!-- Popup a confirmation box to Yes/No -->
              <div class="button-container" *ngIf="runningContainer">
                <button
                  (click)="terminateMobile(runningContainer)"
                  mat-raised-button
                  color="warn"
                  class="clipped">
                 <mat-icon>close</mat-icon>
                </button>
              </div>
              
              <!-- Mobile details -->
              <div class="mobile-details">
                <h4>Mobile Information</h4>
                <mat-divider></mat-divider>
                <div class="emulator-info">
                  <i class="material-icons">adb</i>
                  <strong>Mobile Name:</strong>
                  {{ mobile.mobile_image_name }}
                  <mat-icon
                    (click)="importClipboard(mobile.mobile_image_name)"
                    [ngClass]="{ active: isIconActive }"
                    class="copyClipboardIcon"
                    [color]="isIconActive ? 'primary' : ''">
                    content_copy
                  </mat-icon>
                </div>
                <div class="emulator-info" *ngIf="runningContainer">
                  <i class="material-icons">adb</i>
                  <strong>Mobile Code:</strong>
                  {{ runningContainer.hostname }}
                  <mat-icon
                    (click)="importClipboard(runningContainer.hostname)"
                    [ngClass]="{ active: isIconActive }"
                    class="copyClipboardIcon"
                    [color]="isIconActive ? 'primary' : ''">
                    content_copy
                  </mat-icon>
                </div>
                <ng-container *ngIf="runningContainer">
                  <div class="status-container">
                    <i class="material-icons">{{ runningContainer ? 'check_circle' : 'highlight_off' }}</i>
                    <strong>Status:</strong>
                    {{ runningContainer ? 'Running' : 'Stopped' }}
                    <!-- Corrected ngClass syntax -->
                    <span [ngClass]="{ 'running': runningContainer, 'stopped': !runningContainer }" class="status-circle"></span>
                  </div>
                </ng-container>
                
                <button
                  mat-button
                  class="moreOrLess"
                  (click)="toggleDetails(mobile.mobile_id)">
                  {{
                    showDetails[mobile.mobile_id] ? 'Show Less' : 'Show More'
                  }} Details
                  <i
                    class="material-icons rotate-icon"
                    [ngClass]="{ rotated: showDetails[mobile.mobile_id] }">
                    chevron_right
                  </i>
                </button>

                <div class="moreInfo" *ngIf="showDetails[mobile.mobile_id]">
                  <div>
                    <i class="material-icons">info</i>
                    <strong>Device Name:</strong>
                    {{ mobile.mobile_json.deviceName }}
                  </div>
                  <div>
                    <i class="material-icons">memory</i>
                    <strong>Architecture:</strong>
                    {{ mobile.mobile_json.architecture }}
                  </div>
                  <div>
                    <i class="material-icons">phone_android</i>
                    <strong>Android Version:</strong>
                    {{ mobile.mobile_json.android_version }}
                  </div>
                  <div>
                    <i class="material-icons">code</i>
                    <strong>API Level:</strong>
                    {{ mobile.mobile_json.api_level }}
                  </div>
                 
                </div>

                <h4>Mobile Actions</h4>
                <mat-divider></mat-divider>
                <div class="apk-selection">
                  <mat-slide-toggle
                    [disabled]="!runningContainer"
                    class="mat-slider-toggle"
                    id="isShared_{{ mobile.mobile_id }}"
                    color="primary"
                    [checked]="runningContainer?.shared"
                    (change)="
                      updateSharedStatus($event, mobile, runningContainer)
                    ">
                    Share this mobile with others
                  </mat-slide-toggle>
                  <div
                    [ngClass]="{ 'disabled-content': !runningContainer }"
                    class="row-content">
                    <mat-icon [inline]="true">info</mat-icon>
                    <p
                      [matTooltip]="'mobile_list.apk_file' | translate"
                      matTooltipPosition="above">
                      Install Application
                    </p>
                  </div>
                  <mat-form-field appearance="fill" class="select-app">
                    <mat-label>Select App</mat-label>
                    <mat-select
                      [disabled]="!runningContainer"
                      id="apkFileSelectBox_{{ mobile.mobile_id }}"
                      (selectionChange)="
                        updateAPKSelection($event, mobile, runningContainer)
                      ">
                      <mat-option
                        *ngFor="let apk_file of this.data.uploadedAPKsList"
                        [value]="apk_file.id">
                        {{ apk_file.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button
                    class="mobile-buttons-install"
                    mat-raised-button
                    color="primary"
                    [disabled]="!mobile.selectedAPKFileID"
                    (click)="installAPK(mobile, runningContainer)">
                    Install App
                  </button>
                </div>
              </div>

              <!-- Actions: Start, Stop, Inspect -->
              <div class="mobile-buttons">
                <button
                  *ngIf="!runningContainer"
                  (click)="startMobile(mobile.mobile_id)"
                  mat-raised-button
                  color="primary"
                  class="start-stop-inpect-buttons start">
                  Start
                </button>

                <ng-container *ngIf="runningContainer">
                  <button
                    (click)="restartMobile(runningContainer)"
                    [disable]="!runningContainer.isPaused"
                    mat-raised-button
                    color="warn"
                    class="start-stop-inpect-buttons">
                    Restart
                  </button>
                  <button
                    (click)="pauseMobile(runningContainer)"
                    [disable]="runningContainer.isPaused"
                    mat-raised-button
                    color="warn"
                    class="start-stop-inpect-buttons">
                    Pause
                  </button>

                  <button
                    (click)="inspectMobile(runningContainer, mobile)"
                    mat-raised-button
                    color="basic"
                    class="start-stop-inpect-buttons">
                    <span class="inspect-text">Inspect</span>
                    <i class="material-icons icon-on-hover">visibility</i>
                  </button>
                  <button
                    (click)="noVNCMobile(runningContainer, mobile)"
                    mat-raised-button
                    color="basic"
                    class="start-stop-inpect-buttons noVNCButton">
                    <span class="inspect-text">noVNC</span>
                    <i class="material-icons icon-on-hover">visibility</i>
                  </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Available Devices -->
    <div class="devices">
      <!-- Mobile selection section -->
      <div class="mobile-selector-box">
        <h3>Shared Mobile Devices</h3>
        <div class="mobiles">
          <!-- Iterate over mobile containers list -->
          <div class="mobile" *ngFor="let container of sharedMobileContainers">
            <!-- Mobile details -->
            <div class="mobile-details">
              <h4>Shared Device Information</h4>
              <mat-divider></mat-divider>
              <div>
                <i class="material-icons">code</i>
                <strong>API Level:</strong>
                {{ container.image.mobile_json.api_level }}
              </div>
              <div>
                <i class="material-icons">info</i>
                <strong>Device Name:</strong>
                {{ container.image.mobile_json.deviceName }}
              </div>
              <div>
                <i class="material-icons">memory</i>
                <strong>Architecture:</strong>
                {{ container.image.mobile_json.architecture }}
              </div>
              <div>
                <i class="material-icons">phone_android</i>
                <strong>Android Version:</strong>
                {{ container.image.mobile_json.android_version }}
              </div>

              <!-- Share emulator checkbox -->
              <div *ngIf="container.apk_file">
                <p>
                  Uploaded and Installed apk file {{ container.apk_file.name }}
                </p>
              </div>
            </div>

            <!-- Actions: Start, Stop, Inspect -->
            <div class="mobile-buttons">
              <button
                (click)="inspectMobile(container, container.image)"
                mat-raised-button
                color="basic"
                class="inspect">
                <span class="inspect-text">Inspect</span>
                <i class="material-icons icon-on-hover">visibility</i>
              </button>
              <button
                (click)="noVNCMobile(runningContainer, mobile)"
                mat-raised-button
                color="basic"
                class="inspect">
                <span class="inspect-text">noVNC</span>
                <i class="material-icons icon-on-hover">visibility</i>
              </button>
            </div>
            <div class="created-by">
              <strong>Created by:</strong> {{ container.created_by_name }}
            </div>
          </div>
          <p *ngIf="sharedMobileContainers.length == 0">
            There are no shared mobiles available for you. You can ask your
            teammates to share their mobile emulators so you can collaborate on
            the same machine.
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions class="dialog-footer">
  <button mat-stroked-button color="warn" mat-dialog-close class="closeButton">
    Close
  </button>
</mat-dialog-actions>
