@import 'color';
@import 'breakpoints';

h4 {
  color: #1565c0;
}

h2, h3{
  color: $blue;
  margin-left: 20px;
}

::ng-deep .mobile-emulator-panel {
  background-color: #f7f7f7;
}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

.devices {
  .mobile-selector-box {
    .mobiles {
      display: flex;
      gap: 50px;
      margin: 30px 0 20px 10px;
      flex-wrap: wrap;
      .mobile {
        padding: 20px 20px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px 0px 5px 5px;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 390px;
        height: 145px;
        min-width: 390px;
        background-color: #F5F5F5;
        .mobile-icon {
          width: 100px;
          height: 200px;
          background-size: 82px;
          /* No quotes around pixel values */
          background-position: left;
          background-repeat: no-repeat;
          position: relative;
        }
      }
    }
  }
}

.not-running {
  height: 30px;
}

.not-running-2 {
  height: 25px;
}

.dialog-header {
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  align-items: center;
  box-sizing: content-box;
  margin-bottom: 0px;
  width: 100%;
  overflow: hidden;
}

.dialog-footer {
  position: relative;
  bottom: -75px;
}

.dialog-footer-nolicense {
  display: flex;
  flex-wrap: wrap;
  width: 73%;
  position: fixed;
  bottom: 110px;
}

mat-dialog-content {
  width: 100%;
  height: 100%;
}

.mobiles {
  display: flex;
  flex-direction: row;
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;
}

.mobile-buttons-install {
  height: 40px;
}

.mobile-buttons-shared {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;

  .inspect-shared {
    margin-right: 10px;
  }

  .start{
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
  }

  .icon-on-hover {
    display: none;
  }

  button:hover .inspect-text {
    display: none;
  }

  button:hover .icon-on-hover {
    display: inline-block;
    width: 41px;
  }

  .inspect-text {
    display: inline-block;
  }
}

.hideShadow {
  height: 5px;
  width: 78px;
  background-color: #F5F5F5;
  position: absolute;
  top: 23px;
}

.mobile-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 28px;
  align-items: center;
  justify-content: center;

  .start{
    margin-left: auto;
    margin-right: 10px;
    font-weight: bold;
  }

  .restart {
    background-color: #ffbf59;
  }
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

.clipped {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  background-color: #ef5350;
}

.clipped {
  font-size: 18px;
  transition: font-size 0.3s ease;
  text-align: center;
  width: 100%;
  height: 100%;
  align-content: center;
  cursor: pointer;
}

.clipped:hover, .close-icon:hover {
  font-size: 20px;
}


.mobile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  div {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 14px;
    gap: 5px;
    strong {
      align-items: center;
      margin-left: 5px;
      margin-right: 5px;
    }
    i {
      font-size: 17px;
      width: 16px;
    }
    mat-icon {
      font-size: 15px;
    }
  }
  .status-container {
    margin-left: 10px;
    font-size: 14px;
  }
  .get-app {
    position: relative;
    top: -22px;
    left: -1px;
  }
  .installedApp {
    display: flex;
    font-weight: bold;
    position: relative;
    top: -22px;
    left: -2px;
  }
}

.mobile-details-shared {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -27px;
  div {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 14px;
    gap: 5px;
    strong {
      align-items: center;
      margin-left: 5px;
      margin-right: 5px;
    }
    i {
      font-size: 17px;
      width: 16px;
    }
    mat-icon {
      font-size: 15px;
      // margin-right: 5px;
    }
  }
  .status-container {
    margin-left: 10px;
    font-size: 14px;
  }
  .get-app {
    position: relative;
    top: -15px;
  }
  .installedApp {
    display: flex;
    font-weight: bold;
    position: relative;
    top: -15px;
  }
}

.status-container {
  display: flex;
  align-items: center;
}

.running-text {
  font-weight: bold;
  color: $success;
}

::ng-deep .mdc-switch.mdc-switch--selected.mdc-switch--checked {
  cursor: default !important;
  pointer-events: none !important;
}

::ng-deep .mdc-switch.mdc-switch--unselected {
  cursor: default !important;
  pointer-events: none !important;
}

::ng-deep .mdc-switch__icons:hover {
  animation: none !important;
  transition: none !important;
}

.pop-up-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  font-size: 14px;
  padding: 0 16px;
  color: $darker-step;
}

.pop-up-info mat-menu-item {
  display: flex;
  align-items: center;
  gap: 8px;
  strong {
    margin-left: -10px;
  }
}

.pop-up-info i,
.pop-up-info mat-icon {
  font-size: 16px;
  margin-right: 8px;
}

.pop-up-info strong {
  flex-grow: 1;
}

.row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    font-weight: bold;
    font-size: 14px;
  }

}

mat-divider {
  margin-bottom: 10px !important;
}

.status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
}

.status-circle.running {
  background-color: $success;
}

.status-circle.stopped {
  background-color: $bad;
}

.disabled-content {
  opacity: 0.5;
  pointer-events: none;
}

.created-by {
  text-align: right;
  margin-top: -20px;
  margin-right: 10px;
  font-size: 14px;
}

.emulator-info {
  .moreInfo {
    transform: scale(1.2);
    position: relative;
    top: -12px;
    left: -12px;
  }
  .moreInfoShared {
    transform: scale(1.2);
    position: relative;
    top: -7px;
    left: -12px;
  }
  .copyClipboardIcon {
    transform: scale(0.9);
    width: 15px;
    margin-left: 2px;
    cursor: pointer;

    &.active {
      animation: changeColor 3s forwards;
    }
  }
}

// .copyClipboardIcon {
//   transform: scale(1);
//   width: 15px;
//   margin-left: 10px;
//   cursor: pointer;
//   &.active {
//     animation: changeColor 3s forwards;
//   }
// }

@keyframes changeColor {
  0% {
    color: $blue;
  }
  100% {
    color: inherit;
  }
}

.scrollable-content {
  max-height: 58vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.not-dialog-scrollable-content::-webkit-scrollbar {
  display: none;
}

.not-dialog-scrollable-content {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

mobile-list {
  height: 100%;
  display: flex;
}

.notDialog-landing {
  padding: 25px 15px 15px 15px;
  height: calc(100% + 50px);
  min-height: 1200px;
}

.dialog-title {
  flex-grow: 1;
  margin: 15px 0 15px 11px;
}

.not-dialog-title {
  flex-grow: 1;
  margin: 0 0 20px 0;
}

.toggle-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
}

.toggle-button:hover {
  text-decoration: none;
}

.rotate-icon {
  transition: transform 0.3s ease;
  margin-left: 4px;
  margin-bottom: 3px;
  font-size: 20px;
}

.rotated {
  transform: rotate(90deg);
}

.handle {
  top: -13px !important;
}

.inspect-hover, .novnc-hover {
  font-weight: bold;
}

.not-running-dialog{
  height: 30px;
}

// ####################################
// # NO DIALOG                        #
// ####################################

.container-father {
  display: flex;

  margin-right: 10px;
  width: 1000px;
}

.selectFormField {
  width: 300px;
}

@include for-phone-only {
  .container-father {
    position: relative;
    height: 15vh;
  }

  .selectFormField {
    width: 145px;
  }

  .container-father .selectFormField:nth-last-of-type(2) {
    position: absolute;
    left: 0;
    top: 0;
  }

  .container-father .selectFormField:nth-last-of-type(1) {
    position: absolute;
    right: 0;
    top: 0;
  }

  button {
    align-self: flex-end;
  }

  .add, .button-column{
    margin-bottom: 10px;
    width: auto;
  }
}

.feature {
  height: 15px;
  margin-right: 8px;
}

.columns-button-wrapper {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.department-name {
  display: flex;
}

.get-app {
  font-size: 18px !important;
  color: $darker-step !important;
}

.selectDepExplan {
  margin-left: 10px;
}

.mat-form-field-wrapper {
  font-size: 13px;
}

.mobile-information {
  display: flex;
  flex-direction: column !important;
  margin-bottom: 20px;
  position: relative;
  top: -57px;
  .emulator-info {
    .moreInfoStrong {
      position: relative;
      left: -24px;
    }
  }
}

.mobile-information-shared {
  display: flex;
  flex-direction: column !important;
  margin-bottom: 20px;
  position: relative;
  top: -4px;
  .emulator-info {
    .moreInfoStrongShared {
      position: relative;
      left: -24px;
      top: 6px;
    }
  }
}

.mobile-devices-header {
  display: flex;
  padding: 0 20px 0 10px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  color: $darker-step;
  .mobile-results {
    color: $blue;
  }
}

.spinner-active {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.spinner {
  position: relative;
  top: 0px;
  right: 2px;
}

.department-warning {
  display: inline-flex;
  align-items: center;
  color: $blue;
  margin-bottom: 15px;
  .mat-icon {
    font-size: 19px;
    margin-right: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
}

.nonMobileShared {
  color: $primary-color;
}

.license-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  .containerContract {
    height: 650px;
    width: 30%;
    display: flex;
    align-items: center;
    .mobileContactImage {
      height: 400px;
    }
  }
}

.license-icon {
  font-size: 22px;
  cursor: pointer;
  margin-right: 5px;
}

.email {
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.containerExplanations {
  margin-left: 10px;
}

.license-text,
.contactMail {
  display: flex;
  align-items: center;
}

.license-text {
  font-size: 14px;
  color: $darker-step;
  line-height: 1.4;
  width: 600px;
}

.license-text a {
  color: $blue;
  text-decoration: underline;
}

.contactMail,
.mailTo  {
  font-size: 14px;
  color: $darker-step;
  line-height: 1.4;
}

.contactMail {
  margin-top: 20px;
}

.mailTo {
  margin-left: 30px;
  a {
    text-decoration: none;
  }
}

.mailTo:hover {
  a {
    text-decoration: underline;
  }
}

.email {
  color: $blue;
}

.bought-license-panel {
  width: 81vw;
}

/* Para pantallas más pequeñas */
@media (max-width: 1800px) {
  .license-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerContract {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .mobileContactImage {
    height: auto;
    max-width: none;
    margin-bottom: 20px;
  }

  .containerExplanations {
    width: 100%;
    padding: 10px;
  }
}

// Landing mobile ( Not dialog)

.info-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

.image-large {
  width: 50%;
  height: auto;
}

.text-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  flex: 1;
}

.text-row {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $darker-step;
  line-height: 1.5;
}

.icon-tooltip {
  font-size: 22px;
  margin-right: 10px;
  color: $blue;
}

.icon-email {
  font-size: 20px;
  margin-right: 10px;
  color: $blue;
}

.email-link a {
  text-decoration: none;
  color: $blue;
  font-size: 16px;
  line-height: 1.4;
  margin-left: 35px;
}

.email-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .image-large {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }

  .text-column {
    width: 100%;
    padding: 20px;
  }
}

.container-buttons {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: -45px;
  left: -42px;
}

.container-buttons-shared {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  top: -19px;
  left: -32px;
}

.start, .restart, .pause, .close {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  min-width: 64px;
  height: 26px;
  color: $table-background-opaque;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
}

.restart, .pause {
  transform: skew(-30deg);
}


// Only start
.border-left-start-restart {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-bottom: 26px solid $blue;
}

// Only restart
.border-left-restart {
  width: 0;
  height: 0;
  border-bottom: 26px solid $blue;
  margin-right: 61px;
}

.restart {
  background-color: $blue;
  width: 82px;
}

.restart {
 span, mat-icon {
  transform: skew(30deg);
 }
 mat-icon {
  font-size: 18px;
  position: relative;
  top: 3px;
  left: 7px;
 }
}

.spinnerPause {
  position: relative;
  left: -2px;
  top: -0.5px;
}

.start {
  background-color: $blue;
  border-radius: 0 5px 0 0;
}

.start-stop-inpect-buttons {
  background-color: #F5F5F5;
  height: 24px;
  width: 80px;
  border-radius: 5px 0 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.2);
}

.container-buttons {
  .icon-on-hover {
    display: none;
  }

  div:hover .inspect-text {
    display: none;
  }

  div:hover .icon-on-hover {
    display: inline-block;
    width: 41px;
    margin-top: 2px;
    margin-left: 30px;
    font-size: 18px;
  }

  .inspect-text {
    display: inline-block;
  }
}

.container-buttons-shared {
  .icon-on-hover {
    display: none;
  }

  div:hover .inspect-text {
    display: none;
  }

  div:hover .icon-on-hover {
    display: inline-block;
    width: 41px;
    margin-top: 2px;
    margin-left: 30px;
    font-size: 18px;
  }

  .inspect-text {
    display: inline-block;
  }
}

.start-stop-inpect-buttons::after {
  font-weight: bold;
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 20px;
  height: 26px;
  background-color: #F5F5F5;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
  transform: skewX(30deg);
  z-index: 9;
}


.container-novnc-left {
  position: relative;
  right: 208px;
}

.container-inspect-left {
  position: relative;
  right: 204px;
}

.container-inspect-left-shared {
  position: relative;
  right: 37px;
}

.container-novnc-left-shared {
	position: relative;
  right: 18px;
}

// Close
.border-left-close {
  height: 0px;
  border-left: 15px solid transparent;
  border-bottom: 26px solid #da4747;
  position: absolute;
  top: 0px;
  right: -63px;
  border-radius: 0 5px 0 0;
}

.close {
  min-width: 35px;
  border-radius: 0 5px 0 0;
  overflow: hidden;
}

.close-icon {
  font-size: 18px;
  transition: font-size 0.1s ease;
  text-align: end;
  width: 100%;
  height: 100%;
  align-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.close-icon:hover {
  font-size: 18.5px;
}

.disabled-button {
  background-color: $darker-step !important;
  pointer-events: none;
}

.disabled-button-border {
  border-left: 15px solid transparent;
  border-bottom: 26px solid $darker-step;
  opacity: 0.5;
}

.stopped-text {
  font-weight: bold;
}

.stopped-text {
  color: #d4145a;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.stopped {
  font-weight: bold;
}

.stopped {
  background-color: #d4145a;
}

.emulatorOptions {
  position: relative;
  top: -32px;
  left: 360px;
  z-index: 999;
}

.mobile-emulator-panel-dialog {
  width: 500px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f7f7f7;
}

// Menu more vert emulator feature
.startMenu, .restartMenu, .pauseMenu, .modifyMenu, .closeMenu {
  padding: 0 16px;
  width: 136px;
  min-height: 30px !important;
  span {
    font-weight: bold;
    color: $darker-step;
    font-size: 14px;
  }
  mat-icon {
    font-size: 21px;
    margin-right: 16px;
    margin-top: 4px;
    vertical-align: middle;
  }
  .close-icon {
    margin-right: 18px;
  }
  img {
    font-size: 21px;
    margin-right: 19px;
    vertical-align: middle;
  }
  .modifySpan {
    margin-right: 29px !important;
  }
}

.startMenu {
  mat-icon, span {
    color: $blue !important;
  }
}

.restartMenu {
  background-color: transparent;
  .iconImgRestart {
    width: 21px;
    height: 21px;
    filter: brightness(0) saturate(100%) invert(26%) sepia(94%) saturate(1046%) hue-rotate(185deg) brightness(105%) contrast(93%);
  }
  span {
    color: $blue !important;
  }
}

.pauseMenu {
  mat-icon {
    color:  #ef5350 !important;
  }
  span {
    color:  #ef5350 !important;
  }
}

.modifyMenu {
  mat-icon {
    font-size: 21px;
  }
  mat-icon, span {
    color: $darker-step;
  }
}

.closeMenu {
  mat-icon {
    color:  #ef5350 !important;
  }
  span {
    color:  #ef5350 !important;
  }
}

.dissabled-more-vert {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

::ng-deep .mobile-emulator-panel-dialog .mat-dialog-content {
  width: 100% !important;
}


// Inclinated container
.skewed-button-container {
  display: inline-block;
  transform: skew(-30deg);
}

.restart-bg {
  background-color: $blue;
  width: 90px;
  height: 26px;
  margin-right: -182px;
}

.pause-bg {
  background-color: #f57c00;
  width: 90px;
  height: 26px;
  margin-right: -182px;
}

.skewed-button {
  display: flex;
  height: 18.6px;
  padding: 3px 0px 4px 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $table-background-opaque;
  font-size: 0.9rem;
  mat-icon {
    height: 14px;
    width: 15px;
    margin-right: 6px;
    margin-left: 7px;
    font-size: 16px;
  }
}

.skewed-content {
  transform: skew(30deg);
  display: inline-block;
  margin-right: 3px;
  font-size: 16px;
}

.skewed-content-span {
  transform: skew(30deg);
  display: inline-block;
  margin-right: 3px;
  font-size: 14px;
  letter-spacing: 1px;
}

.spinnerPause {
  transform: skew(30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 18px;
}

// Mobile shared

.sharedEmulator {
  position: absolute;
  top: 147px;
  left: 373px;
  mat-slide-toggle {
    transform: scale(0.8);
    background-color: var(--mdc-theme-primary) !important;
    opacity: 1 !important;
  }
  .mat-slide-toggle.mat-checked::after {
    background-color: #333 !important;
  }
  .mat-slide-toggle.mat-checked::after {
    background-color: #333;
  }
}

::ng-deep .mat-dialog-container {
  background-color: #f7f7f7;
}

::ng-deep .mobile-emulator-panel-dialog {
  width: 80vw;
}

::ng-deep div mat-slide-toggle button {
  transform: scale(0.8);
}

::ng-deep .mat-badge-content.mat-badge-active {
  transform: scale(0.8);
  font-size: 14px;
  margin-right: -150px;
  margin-top: 8px;
}

.noDialogCloseButton {
  margin-top: 22px;
}