@import 'color';

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host::ng-deep .enter-value.mat-mdc-form-field.mat-focused .mat-form-field-ripple {
  background-color: $blue;
}

:host::ng-deep .mat-mdc-form-field {
  width: 100%;
}
