h2 {
  margin: 50px 0 40px;
  font-size: 12pt;
  text-transform: uppercase;
}

:host {
  display: block;
  margin-bottom: 50px;
}

::ng-deep button.add-item {
  font-size: 16px !important;
  font-weight: bold !important;
  margin-top: 20px !important;
}

::ng-deep .mat-icon {
  font-size: 21px !important;
  margin-right: 5px;
}

browser:nth-child(2n + 2) {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
