@import 'color';
@import 'breakpoints';

:host {
  display: block;
  padding: 0 10px;
  margin-top: -20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border-spacing: 0;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  thead tr {
    height: 55px;
    th {
      white-space: nowrap;
      &:not(:first-child):not(:last-child):hover {
        cursor: pointer;
        background-color: rgba(black, 0.03);
      }
      .arrow-icon {
        transition: transform 0.3s ease-in-out;
        vertical-align: middle;
        &.reversed {
          transform: rotateX(180deg);
        }
      }
    }
  }
  tr td,
  tr th {
    &.id,
        &.run, &.date, // Last run date
        &.duration, &.execution-time, // Last run duration
        &.steps, // Last run total steps
        &.department, // Department
        &.application, // Application
        &.environment, // Environment
        &.browsers, // List of browsers
        &.scheduled, &.schedule // Edit schedule
    {
      // On mobile only show ID, Name and Status
      display: none;
    }
    // On tablet add Last run fields and browsers
    &.id, // Running feature
        &.run, &.date, // Last run date
        &.duration, &.execution-time, // Last run duration
        &.steps, // Last run total steps
        &.scheduled, &.schedule // Edit schedule
    {
      @include for-tablet-portrait-up {
        display: table-cell;
      }
    }
    // On tablet landscape add Browsers
    &.browsers // List of browsers
    {
      @include for-tablet-landscape-up {
        display: table-cell;
      }
    }
    // On desktop show all fields
    &.department, // Department
        &.application, // Application
        &.environment // Environment
    {
      @include for-desktop-up {
        display: table-cell;
      }
    }
  }
  tbody tr {
    height: 45px;
    cursor: pointer;
    &:nth-child(2n + 2) {
      background-color: rgba(black, 0.02);
    }
    &:hover {
      background-color: rgba(black, 0.05);
    }
  }
  td {
    font-weight: bold;
    color: rgba(black, 0.55);
    text-align: center;
    &.name {
      text-align: left;
      & > div {
        display: flex;
        align-items: center;
        .mat-icon {
          margin-right: 5px;
          font-size: 22px;
          line-height: 22px;
          height: 22px;
          width: 22px;
        }
      }
    }
  }
  th,
  td {
    padding: 0 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
  th:first-of-type,
  td:first-of-type {
    padding-left: 5px;
    &.running {
      width: 40px;
      &.disabled {
        width: 5px;
      }
    }
    .mat-icon {
      width: 30px;
      height: 30px;
      font-size: 25px;
      line-height: 30px;
    }
  }
  th:last-of-type,
  td:last-of-type {
    padding-right: 5px;
  }
}

.state {
  display: flex;
  align-items: center;
  justify-content: center;
  .mat-icon {
    margin-right: 5px;
  }
  &::ng-deep .mat-progress-spinner {
    margin-right: 10px;
  }
  &.success {
    color: $good;
  }
  &.running {
    color: $blue;
  }
  &.failed {
    color: $remove;
  }
  span {
    display: inline-block;
    width: 60px;
    text-align: left;
  }
}

.execution-time {
  color: $bad !important;
}

td.settings {
  width: 20px;
  .mat-icon {
    line-height: 30px;
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}

:host::ng-deep .exec-feature-loading {
  margin: 0 auto;
}

sort-arrow {
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: 1tr;
  vertical-align: bottom;
}

.hide-me {
  display: none;
}
