<h2>Other Useful links</h2>

<div class="data">
  <div class="button-row">
    <a class="export-features" href="/backend/api/dataset" mat-stroked-button>
      <mat-icon>cloud_download</mat-icon>Click to download Dataset</a
    >
  </div>
  <h2>Update Step Actions and Selenoid Browser information</h2>
  <div class="button-row">
    <button class="add-item" mat-stroked-button (click)="updateActions()">
      <mat-icon>sync</mat-icon>Update Step Actions
    </button>
  </div>

  <div class="button-row">
    <button class="add-item" mat-stroked-button (click)="updateBrowsers()">
      <mat-icon>sync</mat-icon>Update Browsers
    </button>
  </div>
</div>

<h2>Backend Housekeeping logs</h2>
<div class="Housekeeping-logs">
  <housekeeping
    [houseKeepingLog]="houseKeepingLog"
    *ngFor="let houseKeepingLog of houseKeepingLogs">
  </housekeeping>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
