<!-- Header section-->
<!-- <div class="header">
    <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
</div> -->
<ng-container *ngIf="pagination$ | async as pagination">
    <ng-container *ngIf="pagination.results.length > 0; else noItemsFound">
        <!-- Rows section -->
        <!-- <div class="paginated-rows">
            <ng-container *ngFor="let item of pagination.results; let last$ = last; trackBy: trackFn.bind(this, trackByKey)">
                <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
            </ng-container>
        </div>
        <div class="pagination">
            <ng-container *ngIf="loading$ | async as loading; else pageButtons">
                <mat-spinner class="loading-page" color="primary" diameter="22"></mat-spinner>
            </ng-container>
            <ng-template #pageButtons>
                <ng-container *ngIf="pagination.count > 10">
                    <mat-paginator [length]="pagination.count"
                        [pageIndex]="pagination.page - 1"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[10, 25, 100, 250, 500]"
                        [showFirstLastButtons]="true"
                        (page)="pageChange($event)">
                    </mat-paginator>
                </ng-container>
            </ng-template>
        </div> -->



            <ng-container *ngLet="feature_results$ | async as data"> 
                <div class="table_container">
                    
                    <mtx-grid [data]="data"
                        [columns]="columns"
                        [showToolbar]="true"
                        [sortOnFront]="true"
                        [sortDisableClear]="true"
                        [sortDisabled]="false"
                        [rowSelectable]="true"
                        [pageSize]="pagination.size"
                        [hideRowSelectionCheckbox]="true"
                        [columnMenuHeaderText]="'Columns Settings'"
                        (page)="pageChange($event)"
                        (rowClick)="getRowData($event.rowData)"
                        sortStart="asc"
                        [cellTemplate]="{
                                        status: statusTpl,
                                        browsers: browsersTpl,
                                        result_date: result_dateTpl,
                                        execution_time: execution_timeTpl,
                                        pixel_diff: pixel_diffTpl,
                                        skipped: skippedTpl,
                                        fails: failsTpl,
                                        video_url: video_urlTpl
                                    }"
                        [toolbarTemplate]="toolbarTpl"
                        [pageSizeOptions]="[10, 25, 50, 100, 200]">
                    </mtx-grid>

                    <!----------------------------- Additional toolbar template ------------------------>
                    <ng-template #toolbarTpl> 
                        <button stopPropagation [matMenuTriggerFor]="tools" mat-icon-button>
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <!---------------------------- Status column template ------------------------------->
                    <ng-template #statusTpl let-row let-index="index" let-col="colDef">
                        <div class="status" [class.success]="row.status == 'Success'">{{row.status}}</div>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <!---------------------------- Browser column template ------------------------------->
                    <ng-template #browsersTpl let-row let-index="index" let-col="colDef">
                        <div class="browsers"> <i class="my-icons" [style.backgroundImage]="row.browser | browserIcon"></i> </div>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <!-------------------------- result date column template ----------------------------->
                    <ng-template #result_dateTpl let-row let-index="index" let-col="colDef">
                        <div class="result_date"> {{row.result_date | amParse | amDateFormat:'MMMM d yyyy, HH:mm a'}} </div>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <!------------------------- execution time column template --------------------------->
                    <ng-template #execution_timeTpl let-row let-index="index" let-col="colDef">
                        <div class="execution_time"> {{ row.execution_time | secondsToHumanReadable }} </div>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <!------------------------ pixel difference column template -------------------------->
                    <ng-template #pixel_diffTpl let-row let-index="index" let-col="colDef">
                        <div class="pixel_diff"> {{ row.pixel_diff | pixelDifference }} </div>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <!-------------------------- failed steps column template ---------------------------->
                    <ng-template #failsTpl let-row let-index="index" let-col="colDef">
                        <div *ngIf="row.fails > 0; else score" class="okTpl"> {{ row.fails }} </div>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <!-------------------------- skipped steps column template ---------------------------->
                    <ng-template #skippedTpl let-row let-index="index" let-col="colDef">
                        <div *ngIf="row.skipped > 0; else score" class="skipped_steps"> {{ row.skipped }} </div>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <!------------------------------ video and menu column ------------------------------->
                    <ng-template #video_urlTpl let-row let-index="index" let-col="colDef" style="display:flex">
                        <div *ngIf="row.video_url" class="video" matTooltip="View recording" matTooltipPosition="above" stopPropagation (click)="openVideo(row)">
                            <mat-icon>videocam</mat-icon>
                        </div>
                        <div class="options">
                            <button stopPropagation [matMenuTriggerFor]="featureResultMenu" mat-icon-button>
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>

                        <mat-menu #featureResultMenu="matMenu">
                            <!-- Archive / Unarchive button -->
                            <button (click)="archive(row)" mat-menu-item>
                                <ng-container *ngIf="row.archived; else archivedResult">
                                    <span [matTooltip]="'unsave' | translate" matTooltipPosition="before">
                                        <mat-icon>unarchive</mat-icon>Unsave result
                                    </span>
                                </ng-container>
                                <ng-template #archivedResult>
                                    <span [matTooltip]="'save' | translate" matTooltipPosition="before">
                                        <mat-icon>archive</mat-icon>Save result
                                    </span>
                                </ng-template>
                            </button>
                            <button *ngIf="!row.archived" (click)="deleteFeatureResult(row)" mat-menu-item>
                                <span>
                                    <mat-icon>delete</mat-icon>Delete
                                </span>
                            </button>
                        </mat-menu>
                    </ng-template>
                    <!------------------------------------------------------------------------------------>

                    <mat-menu #tools>
                        <div stopPropagation class="mat-menu-panel-category">Clear results</div>
                        <!-- All 4 options to delete runs -->
                        <button mat-menu-item (click)="clearRuns('all')">Clear all</button>
                        <button mat-menu-item (click)="clearRuns('all_failed')">Clear all failed</button>
                        <button mat-menu-item (click)="clearRuns('all_except_last')">Clear all except last run</button>
                        <mat-divider></mat-divider>
                        <div stopPropagation class="mat-menu-panel-category">Options</div>
                        <!-- Handle checkbox, if the user also wants to delete the associated template images -->
                        <button stopPropagation mat-menu-item>
                            <mat-checkbox
                                [matTooltip]="'tooltips.delete_templates_with_features' | translate"
                                matTooltipPosition="below"
                                [checked]="deleteTemplateWithResults$ | async"
                                (change)="handleDeleteTemplateWithResults($event)"
                                color="primary">
                                Also delete templates
                            </mat-checkbox>
                        </button>
                        <button stopPropagation mat-menu-item>
                            <mat-checkbox color="primary" [checked]="archived$ | async" (change)="handleArchived($event)">Show saved items</mat-checkbox>
                        </button>
                    </mat-menu>

                    <ng-template #score> <div>-</div> </ng-template>

                    
                </div>


              </ng-container>



    </ng-container>


    <ng-template #noItemsFound>
        <!-- Not Found footer template -->
        <div class="no-items" *ngIf="noItemsTemplate">
            <ng-container *ngTemplateOutlet="noItemsTemplate"></ng-container>
        </div>
    </ng-template>
</ng-container>
<ng-template #loadingPagination>
    <div class="skeleton-rows" *ngIf="useSkeletons; else spinner">
        <div class="skeleton-row" [style.height]="skeletonsHeight" [style.width]="skeletonsWidth" *ngFor="let item of skeletonItems$ | async"></div>
    </div>
    <ng-template #spinner>
        <mat-spinner class="loading-pagination" color="primary" diameter="40"></mat-spinner>
    </ng-template>
</ng-template>