
@import 'color';

.paginated-rows {
    display: flex;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
    line-height: 40px;
    font-weight: bold;
    &::ng-deep .mat-spinner {
        margin-top: 10px;
    }
    &::ng-deep .mat-icon {
        font-size: 30px;
        height: 30px;
        width: 30px;
    }
    .before {
        margin-right: 10px;
    }
    .after {
        margin-left: 10px;
    }
}

:host::ng-deep .loading-pagination {
    margin: 100px auto 0;
}

:host::ng-deep .mat-paginator-page-size-label {
    white-space: nowrap;
}

.skeleton-rows {
    .skeleton-row:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        @include skeleton;
    }
}

:host ::ng-deep .mtx-grid-toolbar {
    justify-content: flex-end !important;
    

    mat-icon:hover {
        transition: .2s;
        transform: scale(1.5);
    }
}

:host ::ng-deep .mtx-grid table {
    overflow-x: scroll;
    border-radius: 5px;
    background-color: $table-background-opaque;
    border-spacing: 0;
    box-shadow: 0 3px 1px -2px $table-low-shadow, 0 2px 2px 0 $table-medium-shadow, 0 1px 5px 0 $table-high-shadow;


    
    thead tr {
        height: 55px;
        z-index: 10;
        th {
            white-space: nowrap;
            font-size: 15px;
            font-weight: bold;
            color: $column-header-dark;
            z-index: 4 !important;
            &:not(:first-child):not(:last-child):hover {
                background-color: $high-black-opaque;
                cursor: pointer;
            }
            &.name {
                border-right: none !important;
            }
            mat-icon {
                display: none;
            }
            &:nth-child(3) {
                z-index: 5 !important;
            }
        }
    }
    tbody tr {
        height: 45px;
        cursor: pointer;
        &:nth-child(2n + 2) {
            background-color: $low-black-opaque;
        }
        &:hover {
            background-color: $high-black-opaque;
        }
        &.selected {
            background-color: $selected-black-opaque;
            td {
                &.name {
                    color: $blue;
                }
            }
        }
    }
    td {
        height: 50px;
        font-weight: bold;
        color: $dark;
        /* text-align: center; */

        .status {
            color: $bad;
            &.success { color: $success; }
        }

        &.name {
            text-align: left;
            border-right: none !important;
            & > div {
                display: flex;
                align-items: center;
                .mat-icon {
                    margin-right: 5px;
                    font-size: 22px;
                    line-height: 22px;
                    height: 22px;
                    width: 22px;
                }
            }
        }
        .time {
            color: $text-pink;
        }

        &:nth-last-child(1) {
            display: flex;
            align-items: center;
        }
    }
    th, td {
        padding: 0 5px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $table-low-shadow;
    }
    th:first-of-type,
    td:first-of-type {
        padding-left: 5px;
        &.running {
            width: 40px;
            &.disabled {
                width: 5px;
            }
        }
        .mat-icon {
            width: 30px;
            height: 30px;
            font-size: 25px;
            line-height: 30px;
        }
    }
    th:last-of-type,
    td:last-of-type {
        padding-right: 5px;
    }
}