<div class="current_filters">
  <cometa-feature-titles></cometa-feature-titles>
  <cometa-feature-actions
    [latestFeatureResultId]="latestFeatureResultId"></cometa-feature-actions>
</div>

<div class="chart-section" [ngClass]="{ noChart: total < 10 }">
  <div class="return">
    <div (click)="returnToMain()" class="return-item">
      <i></i>
      <div class="return-text">
        {{ "main_view.return" | translate }}
      </div>
    </div>
  </div>
  <ng-container>
    <!--charts will be displayed when test has been performed more than 10 times-->
    <div *ngIf="total >= 10" class="charts">
      <div class="behave-charts">
        <!-- Highchart -->
        <behave-chart-desktop-steps
          *ngIf="results"
          [data]="results"></behave-chart-desktop-steps>
      </div>
    </div>
    <!-- will be shown if the test has not been performed 10 times-->
    <div *ngIf="total < 10" class="no-chart">
      <img src="assets/img/poster_2.svg" alt="shown when there is no charts" />
      <p [innerHTML]='"main_view.explanation" | translate'>
      </p>
    </div>
    <!-- Mobile Header -->
    <div class="mobile-info header">
      <div class="steps">
        {{ "main_view.mobile_steps" | translate }}
      </div>
      <div class="browser">
        {{ "main_view.mobile_browsers" | translate }}
      </div>
      <div class="last_test">
        {{ "main_view.mobile_last_test" | translate }}
      </div>
    </div>
    <!-- Mobile Stats -->
    <div class="mobile-info" *ngIf="results[0] as lastRun">
      <div class="steps">{{ lastRun.total }}</div>
      <div class="steps">{{ 1 }}</div>
      <div
        class="steps last-result-status"
        *ngLet="lastRun.success as passed"
        [ngClass]="passed ? 'success' : 'failed'">
        {{ passed ? 'OK' : 'NOK' }}
      </div>
    </div>
  </ng-container>
</div>

<mtx-grid
  [data]="results"
  [columns]="columns"
  [sortOnFront]="true"
  sortActive="result_date"
  sortDirection="desc"
  [sortDisableClear]="true"
  [sortDisabled]="false"
  [showToolbar]="true"
  [showColumnMenuButton]="true"
  [columnMenuButtonType]="'stroked'"
  [columnMenuButtonIcon]="'view_column'"
  [length]="total"
  [loading]="isLoading"
  [pageOnFront]="false"
  [pageIndex]="query.page"
  [pageSize]="query.size"
  [pageSizeOptions]="[10, 25, 50, 100, 200, 500]"
  (rowClick)="openContent($event.rowData)"
  [cellTemplate]="{
    status: statusTpl,
    result_date: dateTpl,
    execution_time: timeTpl,
    description: descriptionTpl,
    pixel_diff: pixelTpl,
    browser: browserTpl
  }"
  [noResultTemplate]="noResultTpl"
  [showPaginator]="showPagination"
  [toolbarTemplate]="toolbarTpl"
  (page)="updateData($event)">
</mtx-grid>

<!-- ROW TEMPLATES -->
<ng-template #statusTpl let-row let-index="index" let-col="colDef">
  <div class="cell status" *ngLet="row.status == 'Success' as passed">
    <!-- Status box -->
    <div
      class="status-box passed"
      stopPropagation
      [matMenuTriggerFor]="runStatus"
      *ngIf="passed; else failed">
      {{ "main_view.passed" | translate }}
    </div>
    <ng-template #failed>
      <div
        class="status-box failed"
        stopPropagation
        [matMenuTriggerFor]="runStatus">
        {{ "main_view.failed" | translate }}
      </div>
    </ng-template>
    <!-- Override feature result status -->
    <mat-menu #runStatus="matMenu">
      <div class="menu-header">
        {{ "main_view.override_runs" | translate }}
      </div>
      <button (click)="setResultStatus(row, 'Success')" mat-menu-item>
        <div class="status-option passed">
          {{ "main_view.passed" | translate }}
        </div>
      </button>
      <button (click)="setResultStatus(row, 'Failed')" mat-menu-item>
        <div class="status-option failed">
          {{ "main_view.failed" | translate }}
        </div>
      </button>
      <mat-divider></mat-divider>
      <button (click)="setResultStatus(row, '')" mat-menu-item>
        <div class="status-option default">
          {{ "main_view.default" | translate }}
        </div>
      </button>
    </mat-menu>
  </div>
</ng-template>

<ng-template #dateTpl let-row let-index="index" let-col="colDef">
  <span>{{
    row.result_date | amParse | amDateFormat: 'MMMM d yyyy, HH:mm'
  }}</span>
</ng-template>

<ng-template #timeTpl let-row let-index="index" let-col="colDef">
  <span>{{ row.execution_time | secondsToHumanReadable }}</span>
</ng-template>

<ng-template #descriptionTpl let-row let-index="index" let-col="colDef">
  <span
    *ngIf="row.description; else hyphen"
    [matTooltip]="row.description"
    class="feature_description"
    >{{ row.description }}</span>
  <ng-template #hyphen>-</ng-template>
</ng-template>

<ng-template #pixelTpl let-row let-index="index" let-col="colDef">
  <span>{{ row.pixel_diff | pixelDifference }}</span>
</ng-template>

<ng-template #browserTpl let-row let-index="index" let-col="colDef">
  <i
    class="browser-icon aligned-center"
    [attr.data-browser-version]="row.browser.browser_version"
    matTooltipPosition="above"
    [matTooltip]="row.browser.browser | titlecase"
    [style.backgroundImage]="row.browser.browser | browserIcon"></i>
</ng-template>

<!-- TOOLBAR TEMPLATE -->
<ng-template #toolbarTpl>
  <div class="custom_toolbar">
    <mat-checkbox
      color="primary"
      [checked]="archived$ | async"
      (change)="handleArchived($event)"
      >
      {{ "main_view.clear_show_archived_returns" | translate }}
    </mat-checkbox>
    <button mat-stroked-button [matMenuTriggerFor]="clearRunsTemplate">
      <mat-icon>delete</mat-icon>
      <span class="mdc-button__label">
        {{ "main_view.clear_feature_results" | translate }}
      </span>
    </button>
  </div>

  <!-- CLEAR Feature Results MENU -->
  <mat-menu #clearRunsTemplate>
    <div stopPropagation class="mat-menu-panel-category">
      {{ "main_view.clear_results" | translate }}
    </div>
    <!-- All 4 options to delete runs -->
    <button mat-menu-item (click)="clearRuns('all')">
      {{ "main_view.clear_all" | translate }}
    </button>
    <button mat-menu-item (click)="clearRuns('all_failed')">
      {{ "main_view.clear_all_failed" | translate }}
    </button>
    <button mat-menu-item (click)="clearRuns('all_except_last')">
      {{ "main_view.clear_all_except" | translate }}
    </button>
    <mat-divider></mat-divider>
    <div stopPropagation class="mat-menu-panel-category">
      {{ "main_view.clear_all_options" | translate }}
    </div>
    <!-- Handle checkbox, if the user also wants to delete the associated template images -->
    <button stopPropagation mat-menu-item>
      <mat-checkbox
        [matTooltip]="'tooltips.delete_templates_with_features' | translate"
        matTooltipPosition="below"
        [checked]="deleteTemplateWithResults$ | async"
        (change)="handleDeleteTemplateWithResults($event)"
        color="primary">
        {{ "main_view.clear_all_delete" | translate }}
      </mat-checkbox>
    </button>
  </mat-menu>
</ng-template>

<!-- NO RESULTS TEMPLATE -->
<ng-template #noResultTpl>
  <div class="no-tests" [innerHTML]="'main_view.results_template' | translate">
  </div> 
</ng-template>
