
<h2 mat-dialog-title>Restore Feature</h2>
<mat-dialog-content>
  <!-- <mat-icon class="warning-icon">restore</mat-icon> -->
  <p>Are you sure you want to restore this feature? This feature will be permanently deleted in 30 days.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-stroked-button
    color="warn"
    mat-dialog-close
    (click)="onCancel()">
    Cancel
  </button>
  <button
    mat-stroked-button
    color="primary" 
    (click)="onConfirm()">
    <mat-icon>restore</mat-icon>
    Restore
  </button>
</mat-dialog-actions>