<h2 mat-dialog-title class="dialog-title">Restore Feature</h2>
<mat-dialog-content class="dialog-content">
  <!-- <mat-icon class="warning-icon">restore</mat-icon> -->
  <p>Are you sure you want to restore this feature? This will cancel the scheduled deletion and make the feature available again.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-stroked-button
    color="warn"
    mat-dialog-close
    (click)="onCancel()">
    Cancel
  </button>
  <button
    mat-stroked-button
    color="primary" 
    (click)="onConfirm()">
    <mat-icon class="warning-icon">restore</mat-icon>
    Restore
  </button>
</mat-dialog-actions>