@import 'color';

.reload-icon {
  display: block;
  height: 120px;
  width: 120px;
  background-image: url(^assets/update.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px auto 30px;
}

p {
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  &.title {
    font-size: 18px;
    color: $blue;
  }
}

h2 {
  color: $blue;
}

button {
  color: $blue;
}
