@import 'color';

:host::ng-deep .enter-value.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $blue;
}

:host::ng-deep .mat-form-field {
  width: 100%;
}

.logOutput {
  display: block;
  width: 500px;
  height: 500px;
  padding: 10px;
  margin-top: 5px;
  border-color: rgba(black, 0.2) !important;
  border-width: 2px;
  border-radius: 5px;
  outline: none;
}

.mat-spinner {
  display: block;
  margin: 0 auto;
}
