@import 'color';

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
:host::ng-deep .enter-value.mat-mdc-form-field.mat-focused .mat-form-field-ripple {
  background-color: $blue;
}

:host::ng-deep .mat-mdc-form-field {
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-mdc-dialog-container {
  min-width: 600px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 400px;
  overflow: hidden;
}

.logOutput {
  min-width: 400px;
  min-height: 400px;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-color: rgba(black, 0.2) !important;
  border-radius: 5px;
}

.mat-mdc-progress-spinner {
  display: block;
  margin: 0 auto;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-actions {
  margin: 0;
  padding: 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
