
@import 'color';
@import 'breakpoints';

h2 {
    color: $blue;
}

button {
    font-weight: bold;
}

button.submit {
    color: $blue;
}

.add {
    cursor: pointer;
    color: $blue;
    margin-left: 15px;
    margin-top: 10px;
}