
@import 'color';
@import 'breakpoints';

h2 {
    color: $blue;
}

button {
    font-weight: bold;
}

button.submit {
    color: $blue;
}

.add {
    cursor: pointer;
    color: $blue;
    margin-left: 15px;
    margin-top: 10px;
}

.global-timeout-modifier {
    display: grid;
    grid-template-columns: 150px 150px;
    place-items: center start;
    gap: 5px;

    button {
        height: 40px;
        display: inline-block;
    }

    @include for-tablet-landscape-only {
        grid-template-columns: 150px 150px 50px;
    }
}