<h2 mat-dialog-title>
  {{ 'data_driven_executed_and_stop.title_execute' | translate }}
</h2>
<mat-dialog-content>
  <p [innerHTML]="'data_driven_executed_and_stop.dialog_content_execute' | translate: {'data.file_name': data.file_name}">
  </p>
  <br />
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="go()">
    {{ 'data_driven_executed_and_stop.yes_execute' | translate }}
  </button>
  <button mat-stroked-button color="warn" (click)="onNoClick()">
    No
  </button>
</mat-dialog-actions>
