<draggable-window></draggable-window>
<form [formGroup]="editMobileForm">
  <ng-container>
    <h2 mat-dialog-title>Edit Mobile Device</h2>
  </ng-container>
  <mat-dialog-content>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Information</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="edit-feature-info">
          <mat-form-field appearance="fill" class="edit-dep">
            <mat-label>Department</mat-label>
            <input matInput [value]="data.department_name" disabled>
          </mat-form-field>
          <mat-form-field appearance="fill" class="edit-app">
            <mat-label>Application</mat-label>
            <mat-select formControlName="selectedApp">
              <mat-option *ngFor="let apk of data.uploadedAPKsList" [value]="apk">
                {{ apk.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-flat-button color="primary" (click)="saveChanges()">Save</button>
  </mat-dialog-actions>
</form>
