<draggable-window></draggable-window>
<form [formGroup]="editMobileForm">
  <ng-container>
    <h2 mat-dialog-title>Edit Mobile Device</h2>
  </ng-container>
  <mat-dialog-content>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Install APKs</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="edit-feature-info">
          <mat-form-field appearance="fill" class="edit-dep">
            <mat-label>Department</mat-label>
            <input matInput [value]="data.department_name" disabled>
          </mat-form-field>
          <mat-form-field appearance="fill" class="edit-app">
            <mat-label>Application</mat-label>
            <mat-select formControlName="selectedApp">
              <mat-option *ngFor="let apk of data.uploadedAPKsList" [value]="apk">
                {{ apk.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Installed APKs</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="installed-apks">
          <mat-list *ngIf="data.installedAPKs?.length > 0; else noAPKs">
            <mat-list-item *ngFor="let installedApk of data.installedAPKs; let i = index">
              <mat-icon color="primary">check_circle</mat-icon>
              <span>{{ installedApk.name }}</span>
              <span class="spacer"></span>
              <button mat-icon-button color="warn" (click)="removeInstalledApk(installedApk, i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
          <ng-template #noAPKs>
            <p>No APKs installed</p>
          </ng-template>
        </div>
      </mat-expansion-panel>

      <!-- Sharing Settings Panel -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>Sharing Emulator</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="sharing-settings">
          <mat-slide-toggle
            [disabled]="!data.runningContainer"
            class="mat-slider-toggle"
            id="isShared_{{ data.mobile.mobile_id }}"
            color="primary"
            [checked]="data.runningContainer?.shared"
            (change)="updateSharedStatus($event, data.mobile, data.runningContainer)">
            <span>Share this mobile with others</span>
          </mat-slide-toggle>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-flat-button color="primary" (click)="saveChanges()">Save</button>
  </mat-dialog-actions>
</form>
