// l1-feature-item-list.component.scss

// Scss file for the item view of the feature list

// Author: dph000
@import 'color';
@import 'breakpoints';

:host {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 170px;
  margin-bottom: 30px;
  margin-top: 20px;
  @include for-tablet-portrait-up {
    width: 100%;
  }
  @include for-tablet-landscape-up {
    width: 50%;
    margin-bottom: 20px;
  }
  @include for-desktop-up {
    width: 33.333333%;
  }
  @include for-big-desktop-up {
    width: 25%;
  }
  float: left;
  position: relative;
  .wrapper {
    height: 100%;
    &.running {
      .run span,
      .run .run-test {
        display: none;
      }
      .run:after {
        content: 'View';
        vertical-align: middle;
      }
    }
    .top-buttons-container {
      position: absolute;
      top: -26px;
      right: 0;
      .state {
        height: 20px;
        &.success {
          background-color: $success;
          .triangle {
            border-bottom-color: $success;
          }
        }
        &.canceled {
          background-color: $orange;
          .triangle {
            border-bottom-color: $orange;
          }
        }
        &.failed {
          background-color: lighten($remove, 10);
          .triangle {
            border-bottom-color: lighten($remove, 10);
          }
        }
        &.running {
          background-color: $medium;
          .triangle {
            border-bottom-color: $medium;
          }
        }
        padding: 3px 10px 3px 0;
        padding-right: 20px;
        display: inline-block;
        color: $pure-white;
        vertical-align: middle;
        position: relative;
        font-size: 0.9rem;
        .triangle {
          position: absolute;
          bottom: 0;
          left: -15px;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-bottom: 26px solid transparent;
        }
      }
      .run {
        height: 20px;
        background-color: $blue;
        padding: 3px 10px 3px 0;
        color: $pure-white;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        font-size: 0.9rem;
        border-top-right-radius: 5px;
        .run-test {
          height: 12px;
          width: 10px;
          background-image: url(^assets/play-button_2.svg);
          background-repeat: no-repeat;
          background-size: contain;
          vertical-align: middle;
        }
        .triangle {
          position: absolute;
          bottom: 0;
          left: -15px;
          width: 0;
          height: 0;
          border-left: 15px solid transparent;
          border-bottom: 26px solid $blue;
        }
      }
    }
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .options {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
  }
  .name {
    color: $blue;
    font-size: 21pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .steps {
    margin-top: 10px;
  }
  .exec_time {
    color: $bad;
  }
  .browser {
    color: #546e7a;
    margin-top: 10px;
  }
}

// Folder item
.folder-container {
  height: 100%;
  // Main folder
  .folder {
    background-color: $folder;
    box-shadow:
      0 3px 1px -2px $table-high-shadow,
      0 2px 2px 0 $table-medium-shadow,
      0 1px 5px 0 $table-low-shadow,
      0 -6px 15px -13px $table-high-shadow;
    z-index: 2;
  }
  // Paper inside of folders with items
  .folder-paper {
    background-color: $pure-white !important;
    z-index: 1;
    box-shadow: 0 -6px 15px -13px $table-high-shadow;
  }
  // Rear part of the folder
  .folder-behind {
    margin-top: -170px;
    background-color: $folder-back;
    box-shadow: none;
    height: calc(100% + 20px);
    // Element above the folder
    .folder-top-container {
      .current-step {
        width: 50%;
        background-color: $folder-back;
      }
      .triangle {
        border-bottom: 26px solid $folder-back !important;
      }
    }
  }
}

.state-icon {
  height: 14px !important;
  width: 15px !important;
  vertical-align: middle !important;
  margin-right: 6px !important;
  font-size: 16px !important;
}

input {
  border: 0;
  background-color: transparent;
  outline: 0;
  color: inherit;
  font-size: inherit;
  padding: 3px 5px 3px 0;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  width: calc(100% - 25px);
  &:focus {
    border-bottom-color: $blue;
  }
}

.feature-id {
  position: absolute;
  bottom: 8px;
  right: 10px;
  font-weight: bold;
  color: rgba(black, 0.35);
}

.top-left-container {
  position: absolute;
  opacity: 0;
  left: 15px;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  &.visible {
    opacity: 1;
    left: -1.5px;
    pointer-events: initial;
  }
  top: -27px;
  width: 100%;
  max-width: 50%;
  overflow: hidden;
  .current-step {
    border-top-left-radius: 3px;
    padding: 4px 10px;
    padding-right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: calc(100% - 15px);
    background-color: $step;
    color: $pure-white;
    font-size: 0.9rem;
    height: 26px;
    line-height: 16px;
    position: relative;
    .mat-icon {
      margin-right: 8px !important;
      color: rgba(white, 0.95);
    }
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      width: 100%;
    }
    .triangle {
      position: absolute;
      right: -15px;
      width: 0;
      height: 0;
      border-right: 15px solid transparent;
      border-bottom: 26px solid $step;
    }
  }
}

:host::ng-deep .item-loader {
  margin-bottom: -5px;
  display: inline-block;
  height: 13px;
  circle {
    stroke: $pure-white;
  }
}

:host::ng-deep {
  .mat-progress-spinner-indeterminate-animation {
    /* keep anim slow to avoid wobble from rounding errors */
    animation-duration: 9s !important;
  }
  .mat-progress-spinner-indeterminate-animation circle {
    animation-name: progress-spinner-stroke-rotate !important;
    animation-timing-function: linear !important;
    animation-duration: 4s !important;
  }
  @keyframes progress-spinner-stroke-rotate {
    $start: 200%; /* approx 2/3 of circle circumference */
    $end: 20%;
    0% {
      stroke-dashoffset: $start;
    }
    50% {
      stroke-dashoffset: $end;
    }
    100% {
      stroke-dashoffset: $start;
      transform: rotate(720deg);
    }
  }

  .parent-container {
    display: block;
  }
  
  .parent-container.hidden {
    display: none;
  }
  
  
  .cont-fath-folder {
    position: relative; 
    width: 100%; 
    transition: width 0.2s;
  }
  
  .cont-son-folder {
    position: absolute;
    top: 40px; 
    left: 103.1%; 
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: #636769b5;
    border-radius: 150px;
    height: 50px;
    width: 50px;
    clip-path: inset(0 50% 0 0);
    transition: width 0.2s;
    opacity: 1;
  }
  
  .cont-son-folder:hover {
    cursor: default;
    width: 550px; 
    transform: translateX(-50%);
    .domainIcon-1 {
      opacity: 0;
    }
    .domainIcon-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16pt;
      transition: font-size 0.3s ease;
    }
    .domainIcon-2:hover {
      font-size: 17pt;
    }
    .folder-go-to:hover {
      transform: scale(1.20);
    }
    .absolute-path {
      opacity: 1;
      margin-left: 10px;
    }
  }
  
  .absolute-path {
    display: flex;
    align-items: center;
    margin-left: -20px;
    opacity: 0;
    span {
      font: unset;
      font-size: 15px;
      max-width: 50px;
      margin-left: 5px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span:nth-of-type(odd) {
      cursor: pointer; 
    }
  }
  
  .circle-domainIcon-2 {
    border-radius: 150px;
    height: 35px;
    width: 35px;
    background-color: hsl(220, 4%, 71%);
    opacity: 98%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .chevron{
    font-size: 16px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .folder-go-to {
    height: 18pt;
    transition: transform 0.3s ease;
    min-width: 18px;
    background-image: url(^assets/icons/folder.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }
  
  .domainIcon-1{
    font-size: 21pt;
  }

  
}

.plus-one-starred {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  position: absolute;
  top: 124px;
  right: 70px;
  animation: shrinkAndFade 2s forwards;
}

@keyframes shrinkAndFade {
  0% {
    font-size: 16px;
    opacity: 1;
  }
  100% {
    font-size: 14px;
    opacity: 0;
  }
}

.star-black {
  font-size: 16px;
  vertical-align: middle;
  position: absolute;
  top: 124.4px;
  right: 48px;
}

.star-half-inverted {
  transform: scaleX(-1);
  position: absolute;
  left: 12px;
  top: 4px;
}