<div class="row run" *ngLet="test | featureResultPassed as passed" (click)="changeShow()" [class.showed]="show$ | async">
    <div class="status-bar" [ngClass]="passed ? 'success' : 'failed'"></div>
    <!-- Iterate over each enabled header -->
    <div class="cell status">
        <!-- Status box -->
        <div class="status-box passed" stopPropagation [matMenuTriggerFor]="runStatus" *ngIf="passed; else failed">Passed</div>
        <ng-template #failed>
            <div class="status-box failed" stopPropagation [matMenuTriggerFor]="runStatus">Failed</div>
        </ng-template>
        <!-- Override feature result status -->
        <mat-menu #runStatus="matMenu">
            <div class="menu-header">Override run status:</div>
            <button (click)="setResultStatus(test, 'Success')" mat-menu-item>
                <div class="status-option passed">Passed</div>
            </button>
            <button (click)="setResultStatus(test, 'Failed')" mat-menu-item>
                <div class="status-option failed">Failed</div>
            </button>
            <mat-divider></mat-divider>
            <button (click)="setResultStatus(test, '')" mat-menu-item>
                <div class="status-option default">Default</div>
            </button>
        </mat-menu>
    </div>
    <div class="cell run date_time">
        <i></i>
        {{ test.result_date | amParse | amDateFormat:'MMMM d yyyy, HH:mm a' }}
    </div>
    <div class="cell total run number">
        {{ test.total }}
    </div>
    <ng-container *ngLet="percentMode$ | async as percent">
        <!-- OK field -->
        <div class="cell ok run number">
            <ng-container *ngTemplateOutlet="percent ? percentNumber : simpleNumber; context: { $implicit: test.ok }"></ng-container>
        </div>
        <!-- NOK field -->
        <div class="cell nok run number">
            <ng-container *ngTemplateOutlet="percent ? percentNumber : simpleNumber; context: { $implicit: test.fails }"></ng-container>
        </div>
        <!-- Skipped field -->
        <div class="cell skipped run number">
            <ng-container *ngTemplateOutlet="percent ? percentNumber : simpleNumber; context: { $implicit: test.skipped }"></ng-container>
        </div>
        <!-- Template for percents -->
        <ng-template #percentNumber let-number>
            {{ number | percentageField:test.total }}
        </ng-template>
        <!-- Template for simple values -->
        <ng-template #simpleNumber let-number>
            {{ number }}
        </ng-template>
    </ng-container>
    <div class="cell run execution_time number">
        {{ test.execution_time | secondsToHumanReadable }}
    </div>
    <div class="cell run browser">
        <i class="browser-icon" matTooltipPosition="above" [matTooltip]="test.browser.browser | titlecase" [style.backgroundImage]="test.browser.browser | browserIcon"></i>
    </div>
    <div class="cell run pixel">
        {{ test.pixel_diff | pixelDifference }}
    </div>
    <!-- Video icon button -->
    <ng-container *ngIf="test?.video_url; else noVideo">
        <div class="video" matTooltip="View recording" matTooltipPosition="above" stopPropagation (click)="openVideo(test)">
            <mat-icon>videocam</mat-icon>
        </div>
    </ng-container>
    <ng-template #noVideo>
        <div class="video"></div>
    </ng-template>
    <div class="options">
        <button stopPropagation [matMenuTriggerFor]="featureResultMenu" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <mat-menu #featureResultMenu="matMenu">
        <button mat-menu-item *ngIf="test?.video_url" (click)="openVideo(test)">
            <span>
                <mat-icon>videocam</mat-icon>View video
            </span>
        </button>
        <button (click)="archive(test)" mat-menu-item>
            <ng-container *ngIf="test.archived; else archivedRun">
                <span [matTooltip]="'unsave' | translate" matTooltipPosition="before"><mat-icon>unarchive</mat-icon>Unsave run</span>
            </ng-container>
            <ng-template #archivedRun>
                <span [matTooltip]="'save' | translate" matTooltipPosition="before"><mat-icon>archive</mat-icon>Save run</span>
            </ng-template>
        </button>
        <button *ngIf="!test.archived" (click)="deleteFeatureResult(test)" mat-menu-item>
            <span>
                <mat-icon>delete</mat-icon>Delete
            </span>
        </button>
    </mat-menu>
</div>
<!-- <ng-container *ngIf="show$ | async">
        <div class="row test" *ngLet="run | featureResultPassed as passed" [ngClass]="{'executing': run.running}" (click)="stepView(run)">
            <div class="status-bar" [ngClass]="passed ? 'success' : 'failed'"></div>
            <div class="cell status">
                <div stopPropagation [matMenuTriggerFor]="resultStatus" class="status-box passed" *ngIf="passed; else failed">Passed</div>
                <ng-template #failed>
                    <div stopPropagation [matMenuTriggerFor]="resultStatus" class="status-box failed">Failed</div>
                </ng-template>
                <mat-menu #resultStatus="matMenu">
                    <div class="menu-header">Override result status:</div>
                    <button (click)="setResultStatus(run, 'Success')" mat-menu-item>
                        <div class="status-option passed">Passed</div>
                    </button>
                    <button (click)="setResultStatus(run, 'Failed')" mat-menu-item>
                        <div class="status-option failed">Failed</div>
                    </button>
                    <mat-divider></mat-divider>
                    <button (click)="setResultStatus(run, '')" mat-menu-item>
                        <div class="status-option default">Default</div>
                    </button>
                </mat-menu>
            </div>
            <div class="cell date_time">
                <i [style.backgroundImage]="run.browser | browserIcon"></i>
                <div class="browser-title" *ngIf="run.browser as browser; else showDate">
                    {{ browser | browserComboText }}
                </div>
                <ng-template #showDate>
                    <span class="firstLetterUppercase">{{ run?.result_date | amParse | amDateFormat:'MMMM d yyyy, HH:mm a' | firstLetterUppercase }}</span>
                </ng-template>
            </div>
            <div class="hide-mobile cell total number">
                {{ run.total }}
            </div>
            <ng-container *ngLet="percentMode$ | async as percent">
                <div class="cell ok number">
                    <ng-container *ngTemplateOutlet="percent ? percentNumber : simpleNumber; context: { $implicit: run.ok }"></ng-container>
                </div>
                <div class="cell nok number">
                    <ng-container *ngTemplateOutlet="percent ? percentNumber : simpleNumber; context: { $implicit: run.fails }"></ng-container>
                </div>
                <div class="cell skipped number">
                    <ng-container *ngTemplateOutlet="percent ? percentNumber : simpleNumber; context: { $implicit: run.skipped }"></ng-container>
                </div>
                <ng-template #percentNumber let-number>
                    {{ number | percentageField:run.total }}
                </ng-template>
                <ng-template #simpleNumber let-number>
                    {{ number }}
                </ng-template>
            </ng-container>
            <div class="time cell number">
                {{ run.execution_time | secondsToHumanReadable }}
            </div>
            <div class="hide-mobile browser cell"></div>
            <div class="cell pixel">
                <div class="pixel-difference">
                    <span>{{ run.pixel_diff | pixelDifference }}</span>
                    <i class="view-pixel-difference"></i>
                </div>
            </div>
            <ng-container *ngIf="run.video_url; else noVideo">
                <div class="video" matTooltip="View recording" matTooltipPosition="above" stopPropagation (click)="openVideo(run)">
                    <mat-icon>videocam</mat-icon>
                </div>
            </ng-container>
            <ng-template #noVideo>
                <div class="video"></div>
            </ng-template>
            <div class="options">
                <button stopPropagation [matMenuTriggerFor]="featureResultMenu" mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            <mat-menu #featureResultMenu="matMenu">
                <button *ngIf="run?.files?.length > 0" [matMenuTriggerFor]="resultDownloads" mat-menu-item>
                    <span>
                        <mat-icon>file_download</mat-icon>Download files
                    </span>
                </button>
                <button (click)="openVideo(run)" mat-menu-item *ngIf="run.video_url">
                    <span>
                        <mat-icon>videocam</mat-icon>View video
                    </span>
                </button>
                <button (click)="archive(run)" mat-menu-item>
                    <ng-container *ngIf="run.archived; else archivedResult">
                        <span [matTooltip]="'unsave' | translate" matTooltipPosition="before">
                            <mat-icon>unarchive</mat-icon>Unsave result
                        </span>
                    </ng-container>
                    <ng-template #archivedResult>
                        <span [matTooltip]="'save' | translate" matTooltipPosition="before">
                            <mat-icon>archive</mat-icon>Save result
                        </span>
                    </ng-template>
                </button>
                <button *ngIf="!run.archived" (click)="deleteFeatureResult(run)" mat-menu-item>
                    <span>
                        <mat-icon>delete</mat-icon>Delete
                    </span>
                </button>
                <a target="_blank" [href]="run.feature_result_id | pdfLink | safeUrl" mat-menu-item>
                    <span>
                        <mat-icon>picture_as_pdf</mat-icon>Download PDF
                    </span>
                </a>
            </mat-menu>
            <mat-menu #resultDownloads="matMenu">
                <a [href]="file | downloadLink" *ngFor="let file of run.files" mat-menu-item>
                    <mat-icon>insert_drive_file</mat-icon>{{ file | downloadName }}</a>
            </mat-menu>
        </div>
</ng-container> -->