<div class="tests" *ngLet="percentMode$ | async as percentMode">
  <div></div>
  <div class="cell status">
    <span>STATUS</span>
  </div>
  <div
    class="cell date"
    (click)="changeSort('result_date')"
    [ngClass]="{ active: sortBy == 'result_date', reverse: reverse }">
    <span>{{ 'MAIN_VIEW.DATE' | translate }}</span>
  </div>
  <div
    class="hide-mobile cell total"
    (click)="changeSort('total')"
    [ngClass]="{ active: sortBy == 'total', reverse: reverse }">
    <span>steps #</span>
  </div>
  <div
    class="hide-mobile cell ok"
    (click)="changeSort('ok')"
    [ngClass]="{ active: sortBy == 'ok', reverse: reverse }">
    <span>ok {{ percentMode ? '%' : '#' }}</span>
  </div>
  <div
    class="hide-mobile cell nok"
    (click)="changeSort('fails')"
    [ngClass]="{ active: sortBy == 'fails', reverse: reverse }">
    <span>nok {{ percentMode ? '%' : '#' }}</span>
  </div>
  <div
    class="hide-mobile cell skipped"
    (click)="changeSort('skipped')"
    [ngClass]="{ active: sortBy == 'skipped', reverse: reverse }">
    <span>skipped {{ percentMode ? '%' : '#' }}</span>
  </div>
  <div class="show-mobile cell ok">
    <span>ok / nok / skip. {{ percentMode ? '%' : '#' }}</span>
  </div>
  <div
    class="execution_time cell"
    (click)="changeSort('execution_time')"
    [ngClass]="{ active: sortBy == 'execution_time', reverse: reverse }">
    <span>time</span>
  </div>
  <div
    class="hide-mobile cell browser"
    (click)="changeSort('browser_name')"
    [ngClass]="{ active: sortBy == 'browser_name', reverse: reverse }">
    <span>browser</span>
  </div>
  <div
    class="cell pixel"
    (click)="changeSort('pixel_diff')"
    [ngClass]="{ active: sortBy == 'pixel_diff', reverse: reverse }">
    <span>pixel difference</span>
  </div>
  <div class="all-options">
    <div [matMenuTriggerFor]="history" class="more"></div>
    <!-- Submenu of clear history -->
    <mat-menu #history="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="tableHeaders">
        Table customization
      </button>
      <button mat-menu-item [matMenuTriggerFor]="clearRunsTemplate">
        Clear feature results
      </button>
      <button stopPropagation mat-menu-item>
        <mat-checkbox
          color="primary"
          [checked]="archived$ | async"
          (change)="handleArchived($event)"
          >Show saved items</mat-checkbox
        >
      </button>
    </mat-menu>
    <!-- Table customization -->
    <mat-menu class="organize-headers" #tableHeaders>
      <div
        class="header-list"
        cdkDropList
        (cdkDropListDropped)="headerChanged($event)">
        <button
          class="cdk-header-item"
          *ngFor="
            let header of allHeaders | async;
            let i = index;
            trackBy: getUniqueHeader
          "
          cdkDrag
          cdkDragLockAxis="y"
          cdkDragBoundary=".header-list"
          stopPropagation
          mat-menu-item>
          <div cdkDragHandle class="move-vertical"></div>
          <mat-checkbox
            [checked]="header.enable"
            [disabled]="header.disabled"
            [matTooltip]="'Option disabled due to screen size'"
            [matTooltipDisabled]="!header.disabled"
            (change)="handleHeaderChange($event, i)"
            color="primary"
            >{{ 'headers.' + header.id | translate }}</mat-checkbox
          >
        </button>
      </div>
    </mat-menu>
    <!-- Sub menu for clear all runs & results -->
    <mat-menu #clearRunsTemplate>
      <div stopPropagation class="mat-menu-panel-category">Clear results</div>
      <!-- All 4 options to delete runs -->
      <button mat-menu-item (click)="clearRuns('all')">Clear all</button>
      <button mat-menu-item (click)="clearRuns('all_failed')">
        Clear all failed
      </button>
      <button mat-menu-item (click)="clearRuns('all_except_last')">
        Clear all except last run
      </button>
      <mat-divider></mat-divider>
      <div stopPropagation class="mat-menu-panel-category">Options</div>
      <!-- Handle checkbox, if the user also wants to delete the associated template images -->
      <button stopPropagation mat-menu-item>
        <mat-checkbox
          [matTooltip]="'tooltips.delete_templates_with_features' | translate"
          matTooltipPosition="below"
          [checked]="deleteTemplateWithResults$ | async"
          (change)="handleDeleteTemplateWithResults($event)"
          color="primary">
          Also delete templates
        </mat-checkbox>
      </button>
    </mat-menu>
  </div>
</div>
