
@import 'color';

:host {
    display: block;
    width: 100%;
    padding: 45px 30px 60px;
    box-sizing: border-box;
    line-height: 25px;
    overflow-x: hidden;
    max-height: calc(100vh - var(--header-height));
}

.shortcuts-dialog{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
}

.shortcuts-dialog > div > h2 {
    margin-bottom: 2px;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
}

mtx-grid{
    max-width: 400px;
    z-index: -1;
}

mtx-grid th {
    font-weight: bold;
    
}

mtx-grid td {
    text-align: center;
  }

.websocket {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: inline-flex;
    .intro {
        margin-right: 15px;
    }
    &.connected .status {
        background-color: #4caf50;
    }
    .status {
        display: block;
        height: 15px;
        width: 15px;
        background-color: #e53935;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.about-header {
    display: block;
    width: 100%;
    border-bottom: 2px solid $secondary-color;
    margin: 20px 0 30px;
    line-height: 40px;
    font-weight: bold;
}

.change-title {
    color: $blue;
    font-weight: bold;
}

.change-title + ul > li {
    padding-left: 30px;
}

ul li {
    list-style-type: none;
    line-height: 30px;
    & > ul li {
        &:before {
            content: "• ";
            color: $blue;
        }
    }
}