// l1-feature-starred-list.component.scss

// Scss file for the starred features list

// Author: dph000

.container {
  height: 90vh;
  line-height: 90vh;
  text-align: center;
  h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
