
<stand-by-browser-header
  [header_stand_by_browsers]="stand_by_browsers"
  (selectionChanged)="onBrowserSelectionChanged($event)"
  (deleteMultiple)="deleteAllBrowsers($event)">
</stand-by-browser-header>



    
<!-- Data Rows -->
     
<div *ngFor="let stand_by_browser of stand_by_browsers; let i = index; trackBy: trackByFn" [ngClass]="{ 'even': i % 2 === 1 }">
  <div class="specs"> 
      
      <!-- Check Box -->
      <div class="checkbox">
        <mat-checkbox
          [checked]="selectedBrowserIds.includes(stand_by_browser.id)"
          (change)="onCheckboxToggle(stand_by_browser.id, $event.checked)">
        </mat-checkbox>        
      </div>
  
      <!-- Browser ID -->
      <div class="id" >
        <span matTooltip="ID" matTooltipPosition="above">{{ stand_by_browser.id}}</span>
      </div>
      
      <!-- Name -->
      <div class="name" >
        <input
          [value]="stand_by_browser | standByBrowserComboText"
          readonly
          spellcheck="false"
          autocomplete="off"
          (focus)="onInputFocus()"
          (blur)="onInputBlur()" matTooltip="Name" matTooltipPosition="above"/>
        
      </div>
   
    
        
      <!-- Service ID -->
      <div class="service_id" matTooltip="Service_ID" matTooltipPosition="above" (click)="copyToClipboard(stand_by_browser.service_id)">
           <!--<span>{{ stand_by_browser.service_id | slice:0:12 }}</span>-->

            <!--<span class="icon-container-clipboard">
              <i class="material-icons clipboard-icon">content_copy</i>
            </span>-->
            <span class="id-container">
              {{ stand_by_browser.service_id | slice:0:12 }}
            </span>
          
      </div>

      

      <!-- Statu-->
      <div class="status" >
        <span matTooltip="Status" matTooltipPosition="above">{{ stand_by_browser.service_status }}</span>
      </div>

      
      
      <!-- Usage -->
      <div class="usage" >
        <span matTooltip="Usage" matTooltipPosition="above">{{ stand_by_browser.in_use ? 'Used' : 'Not Used' }}</span>
      </div>

      <!-- Labels -->
      <div class="info" matTooltip="Information" matTooltipPosition="above">
        <pre>{{ stand_by_browser.labels | json }}</pre>
      </div>

      <!-- Created On -->
      <div class="created_on" matTooltip="Created_On" matTooltipPosition="above">
        <span>{{
          stand_by_browser.created_on
          | amParse
          | amDateFormat: "MMMM d yyyy',' HH:mm a"
          | firstLetterUppercase
        }}</span>
      </div>
      
    <!-- Remove -->
      <div (click)="removeBrowserContainer(stand_by_browser.id)"
           class="remove "></div>
    </div>


  </div>

           
        

      
      
    

    
  
