@import 'color';
@import 'breakpoints';
 

:host {
  width: 100%;
  height: 40px;
  align-items: center;
  line-height: 40px;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: auto;
}


.specs {
  //width: 100%;
  flex: 1;
  display: flex;
  text-align: center;
}


.id {
  text-overflow: ellipsis;
  //overflow: hidden;
  white-space: nowrap; 
  border: 2px solid transparent;
  border-radius: 3px;
   span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}

.name {
  flex: 0 120px;
  margin-left: 30px;
  text-overflow: ellipsis;
 //overflow: hidden;
  white-space: nowrap;        
  input {
    background: transparent;
    border: 0;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    
  } 
}


.service_id {
  flex: 0 120px;
  margin-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}

.status {
  flex: 0 120px;
  margin-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}


 .usage {
  flex: 0 120px;
  margin-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}


.info {
  flex: 0 120px;
  margin-left: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}


.created_on {
  flex: 0 120px;
  margin-left: 30px;
  text-overflow: ellipsis;
  //overflow: hidden;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}

.remove {
  flex: 0 0 100px;
  margin-left: 250px;
  padding: 0 10px;
  //overflow: hidden;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  &:hover:after {
    transform: scale(1.2);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 15px;
    width: 15px;
    opacity: 0.5;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    background-image: url(^assets/delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}



.specs {
   display: block;
  @include for-tablet-portrait-up {
    display: flex;
  }

}


.info,
.status,
.usage,
.service_id {
  display: none;
  @include for-tablet-portrait-up {
    display: block;
  }
}

.even {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}




.checkbox{
  margin-left: 15px;
}


.icon-container-clipboard {
 opacity: 0;
}


.service_id .id-container:hover .icon-container-clipboard {
  opacity: 1;
  position: relative;
  right: 5px;
  top: 2px;
  color: $dark;
}

.clipboard-icon {
  font-size: 14px;
  color: #555;
  opacity: 0.8;
}



.id-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 15px;
    max-width: 100%;
  }


