@import 'color';

 

:host {
  width: 100%  
}

.icon {
  flex: 0 0 40px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 25px;
    opacity: 0.7;
    width: 25px;
    background-image: url(^assets/tire.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

h2 {
  margin: 50px 0 40px;
  font-size: 12pt;
  text-transform: uppercase;
}

.remove {
  flex: 0 0 40px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  &:hover:after {
    transform: scale(1.2);
  }
  background: none;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 15px;
    width: 15px;
    opacity: 0.5;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    background-image: url(^assets/delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}


.row {
  padding: 10px;
  text-align: center;
  border: 1px solid #7d781d;
}


.grid-table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  font-family: sans-serif;
  margin: 20px auto;
}

.grid-table > div {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.header {
  font-weight: bold;
}

.icon {
  background-image: url('/assets/browser-icon.svg'); /* or dynamic with [ngStyle] */
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
}
