@import 'color';
@import 'breakpoints';
 

:host {
  width: 100%;
  height: 40px;
  align-items: center;
  line-height: 40px;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: auto;
}


.specs {
  flex: 1;
  display: flex;
}


.checkbox{
  margin-left: 15px;
  width: 3%;
}



.id {
  text-overflow: ellipsis;
  white-space: nowrap; 
  border: 2px solid transparent;
  border-radius: 3px;
  width: 5%;
   span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}

.name {
  width: 10%;
  text-overflow: ellipsis;
  white-space: nowrap;        
  input {
    background: transparent;
    border: 0;
    outline: 0;
    display: inline-block;
    vertical-align: middle;
    
  } 
}


.service_id {
  width: 12%;
  text-overflow: ellipsis;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}

.status {
  width: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}


 .usage {
  width: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
   text-align: center;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}


.info {
  width: 20%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

/* Only apply line-height when labels have value */
.info.has-value {
  line-height: 20px;
}

.created_on {
  width: 10%;
  text-overflow: ellipsis;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}

.remove {
  width: 10%;
  //margin-left: 200px;
  padding: 0 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  &:hover:after {
    transform: scale(1.2);
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 15px;
    width: 15px;
    opacity: 0.5;
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    background-image: url(^assets/delete.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}









.specs {
   display: block;
  @include for-tablet-portrait-up {
    display: flex;
  }

}


.info,
.status,
.usage,
.service_id {
  display: none;
  @include for-tablet-portrait-up {
    display: block;
  }
}

.even {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}



.icon-container-clipboard {
 opacity: 0;
}


.service_id .id-container:hover .icon-container-clipboard {
  opacity: 1;
  position: relative;
  right: 5px;
  top: 2px;
  color: $dark;
}

.clipboard-icon {
  font-size: 14px;
  color: #555;
  opacity: 0.8;
}



.id-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 15px;
    max-width: 100%;
  }


