
<div class="specs header">
    <!-- Header Row -->
    <div class="id">
      <span>ID</span>/<span >Image</span>
    </div>
    
    <div class="service_id">
      <span>Service ID</span>
    </div>
    <div class="status">
      <span>Status</span>/<span> Usage</span>
    </div>
    <div class="info">
      <span>Info</span>
    </div>
    <div class="created_on">
      <span>Created On </span>
    </div>
    <div class="action">
      <span>Action</span>
    </div>
</div>
  
    
<!-- Data Rows -->
     
<div *ngFor="let stand_by_browser of stand_by_browsers; let i = index; trackBy: trackByFn" [ngClass]="{ 'even': i % 2 === 1 }">
  <div class="specs"> 
    
      <div class="checkbox">
        <mat-checkbox
          [checked]="checked$ | async"
          (change)="checkboxChange.emit($event.checked)"
          color="primary">
        </mat-checkbox>
      </div>
  
      <!-- Browser ID --><!-- Name -->
      <div class="name" matTooltip="ID" matTooltipPosition="above">
        <span>{{ stand_by_browser.id}}</span>/<input
          [value]="stand_by_browser | standByBrowserComboText"
          readonly
          spellcheck="false"
          autocomplete="off"
          (focus)="onInputFocus()"
          (blur)="onInputBlur()" />
        
      </div>
   
    
        
      <!-- Service ID -->
      <div class="service_id" matTooltip="Service_ID" matTooltipPosition="above" (click)="copyToClipboard(service_id)">
        <!--  <span>{{ stand_by_browser.service_id }}</span> -->
        <!-- <p class="icon-container-clipboard">
            <!-- <span class="icon-container-clipboard" >
              <i >content_copy</i>
            </span> 
            <span class="material-icons clipboard-icon" >{{ stand_by_browser.service_id }}</span>
          </p> -->
          <span  >{{ stand_by_browser.service_id }}</span>
      </div>

      

      <!-- Status --><!-- Usage -->
      <div class="status" matTooltip="Status" matTooltipPosition="above">
        <span>{{ stand_by_browser.service_status }}</span>/<span>{{ stand_by_browser.in_use ? 'Used' : 'Not Used' }}</span>
      </div>

      <!-- Labels -->
      <div class="info" matTooltip="Info" matTooltipPosition="above">
        <pre>{{ stand_by_browser.labels | json }}</pre>
      </div>

      <!-- Created On -->
      <div class="created_on" matTooltip="Created_On" matTooltipPosition="above">
        <span>{{
          stand_by_browser.created_on
          | amParse
          | amDateFormat: "MMMM d yyyy',' HH:mm a"
          | firstLetterUppercase
        }}</span>
      </div>
      
    <div class="remove-action">
      <div (click)="removeBrowserContainer(stand_by_browser.id)" matTooltip="Remove"
          matTooltipPosition="above" class="remove "> 
      </div>
    </div>


  </div>
</div>
           
        

      
      
    

    
  
