@use '@angular/material' as mat;

@include mat.core();
@include mat.core();

$cometa-primary: mat.m2-define-palette(mat.$m2-blue-palette, 800);
$cometa-accent: mat.m2-define-palette(mat.$m2-purple-palette, 900);
$cometa-warn: mat.m2-define-palette(mat.$m2-red-palette, 400);

$cometa-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $cometa-primary,
      accent: $cometa-accent,
      warn: $cometa-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($cometa-theme);
@include mat.all-component-themes($cometa-theme);
