@import 'breakpoints';

:host {
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    max-height: calc(100vh - var(--header-height));
}

.edit {
    display: block;
    position: absolute;
    top: 110px;
    z-index: 99;
    right: 28px;
    cursor: pointer;
    height: 32px;
    width: 32px;
    background: url(^assets/internal/COM_Edit_Icon.svg) no-repeat;
    background-size: contain;
    transform: scale(1) rotate(0deg);
    transition: transform .2s ease-in-out;
    &:hover {
        transform: scale(1.1) rotate(10deg);
    }
}

hr {
    width: 100%;
    height: 1px;
    display: block;
    background: rgba(black, .15);
}

.inline-block {
    display: inline-block,
}

.direction-box {
    position: absolute;
    top: 0;
    height: 100px;
    width: 60px;
    cursor: pointer;
    bottom: 0;
    margin: auto;
    display: none;
    @include for-tablet-portrait-up {
        display: block;
    }
    background-image: url(^assets/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform .3s ease-in-out;
    opacity: .6;
    z-index: 98;
    &:hover {
        opacity: 1;
    }
    &.previous {
        transform: rotate(-180deg);
        left: 30px;
        &:hover {
            transform: rotate(-180deg) translateX(15px) scale(1.1);
        }
    }
    &.next {
        right: 30px;
        &:hover {
            transform: translateX(15px) scale(1.1);
        }
    }
}

.return {
    padding: 20px;
    box-sizing: border-box;
    @include for-tablet-portrait-up {
        flex-wrap: nowrap;
    }
    .return-item {
        display: block;
        align-items: center;
        opacity: .6;
        cursor: pointer;

        // creates unnecessary white space
        // height: 50px;
        // line-height: 50px;

        white-space: nowrap;
        @include for-tablet-portrait-up {
            display: inline-block;
            & + .return-item {
                margin-left: 10px;
            }
        }
        .return-text {
            font-size: 14pt;
            font-weight: bold;
            color: rgba(0,0,0,0.6);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: middle;
        }
        i {
            height: 15px;
            width: 15px;
            display: inline-block;
            margin-right: 10px;
            background: url(^assets/left-arrow.svg) no-repeat;
            background-size: contain;
            vertical-align: middle;
        }
    }
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    @include for-tablet-portrait-up {
        max-width: 800px;
        margin: 0 auto 50px;
        padding: 0 20px;
        flex-wrap: nowrap;
    }
    .col {
        flex: 0 50%;
        @include for-tablet-portrait-up {
            flex: 1;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        &.ok {
            i.tick {
                background: url(^assets/internal/COM_OK_Icon.svg) no-repeat;
                background-size: contain;
            }
            span.tick {
                color: #00A99D;
            }
        }
        &.nok {
            i.tick {
                background: url(^assets/internal/COM_NotOK_Icon.svg) no-repeat;
                background-size: contain;
            }
            span.tick {
                color: #E49033;
            }
        }
        i.tick {
            flex: 0 50px;
            height: 50px;
            margin-right: 15px;
        }
        span.tick {
            font-weight: bold;
            font-size: 40pt;
        }
        .result {
            margin-left: 20px;
            font-weight: bold;
            font-size: 15pt;
        }
        .pixel_diff {
            font-size: 45pt;
            display: inline-block;
            font-weight: bold;
            color: #D4145A;
            text-transform: uppercase;
        }
        .total_pixel_diff {
            display: inline-block;
            font-weight: bold;
            font-size: 15pt;
            width: 105px;
            margin-left: 20px;
        }
        &.pixels {
            flex: 1;
            margin-top: 20px;
            @include for-tablet-portrait-up {
                margin-top: 0;
                flex: 0 300px;
            }
            justify-content: space-between;
            align-items: center;
        }
        i.pixels {
            flex: 0 130px;
            min-width: 130px;
            height: 45px;
            background-image: url(^assets/pixels_grafic.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 25px;
        }
        i.time {
            flex: 0 50px;
            width: 50px;
            height: 50px;
            background: url(^assets/internal/COM_Time_Icon.svg) no-repeat;
            background-size: contain;
            margin-right: 20px;
        }
        span.time {
            color: #107A92;
            font-size: 30pt;
            font-weight: bold;
            margin-right: 20px;
            @include maxWidth(700px) {
                margin-left: 0;
            }
        }
    }
}

.content {
    text-align: center;
    padding: 0 30px;
    box-sizing: border-box;
    .col {
        display: inline-block;
        width: 100%;
        max-width: 350px;
        height: 320px;
        position: relative;
        margin-bottom: 50px;
        margin: 30px 0;
        .image {
            display: block;
            height: calc(100% - 40px);
            margin-top: 20px;
            width: 100%;
            position: relative;
            background-color: rgba(black, .05);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 3px;
            &:hover .image-actions {
                display: block;
            }
            .image-actions {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 3px;
                background-color: rgba(black, .3);
                @include for-tablet-portrait-up {
                    display: none;
                }
                .action-btn {
                    display: block;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 55px;
                    width: 55px;
                    cursor: pointer;
                    border-radius: 50%;
                    background-color: rgba(black, .85);
                    background-position: center;
                    background-repeat: no-repeat;
                    transform: scale(1);
                    transition: transform .1s ease-in-out;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
                .zoom {
                    right: 100px;
                    background-image: url(^assets/eye.svg);
                    background-size: 30px;
                    @include for-tablet-portrait-up {
                        right: 80px;
                    }
                }
                .remove {
                    left: 100px;
                    background-image: url(^assets/trash.svg);
                    background-size: 25px;
                    @include for-tablet-portrait-up {
                        left: 80px;
                    }
                }
            }
        }
        .image-type {
            text-align: left;
            font-weight: bold;
            font-size: 1.1rem;
        }
        .image-type:before {
            content: "";
            display: inline-block;
            height: 14px;
            width: 14px;
            position: relative;
            top: 1px;
            margin-right: 15px;
            border-radius: 50%;
        }
        &.red .image-type:before {
            background: #FC0D1B;
        }
        &.orange .image-type:before {
            background: #E49033;
        }
        &.green .image-type:before {
            background: #6F9F4B;
        }
    }
    .col:not(:first-child) {
        margin-left: 70px;
        @include maxWidth(700px) {
            margin-left: 0;
        }
    }
}

.current_filters {
    // previous flexbox rules, broke layout by wrapping feature description text too much
    // which caused contaner to push below contains below, thus altering view display constantly on screen resize
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 20px 0;
    height: 85px;
    @include for-tablet-portrait-up-plus30 {
        flex-direction: row;
    }
}

.zoomer {
    display: block;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    position: fixed;
    height: calc(100% - 145px);
    top: 85px;
    left: 0;
    z-index: 99;
    .image {
        position: fixed;
        width: 80%;
        height: calc(90% - 145px);
        display: block;
        margin: auto;
        left: 0;
        right: 0;
        top: 85px;
        bottom: 60px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}
