<div class="header-main">
  <div class="fLeft">
    <div class="title" routerLink="/">
      <span class="secondary-color as-text">co.</span>meta
    </div>
    <div class="confidential-title">
      Complete Meta Test Automation
    </div>
  </div>
  <div class="fRight action-buttons">
    <div (click)="openMenu()" class="icon">
      <i class="menu"></i>
    </div>
    <div class="icon" *ngIf="canCreateFeature && hasSubscription" (click)="_sharedActions.openEditFeature()" matTooltip="Create a new feature" matTooltipPosition="below" aria-label="Create feature">
      <i class="upload"></i>
    </div>
    <div class="icon" [routerLink]="['/my-account']" routerLinkActive="active" matTooltip="Your profile" matTooltipPosition="below" aria-label="Open profile">
      <i class="user"></i>
    </div>
</div>
<div class="menu_backdrop" [class.opened]="openedMenu" (click)="closeMenu()"></div>
<div class="menu" [@opened]="openedMenu">
  <i (click)="closeMenu()" class="close"></i>
  <ul>
    <!--router link implementation was out of date-->
    <li [routerLink]="['/new']" (click)="closeMenu()">main</li>
    <li [routerLink]="['/search']" (click)="closeMenu()">Main old</li>
    <li [routerLink]="['/pricing']" *ngIf="requiresPayment" (click)="closeMenu()" >pricing</li>
    <li [routerLink]="['/about']" (click)="closeMenu()">about</li>
    <li [routerLink]="['/help']" (click)="closeMenu()">help</li>
    <li [routerLink]="['/admin']" *ngIf="canViewAdminPanel" (click)="closeMenu()">admin</li>
    <li (click)="logout()">Logout</li>
  </ul>
</div>