<video
  (loadedmetadata)="showHeader$.next(true)"
  *ngIf="src; else loading"
  autoplay
  controls>
  <source [src]="src" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<ng-template #loading>
  <mat-spinner diameter="50" color="primary"></mat-spinner>
</ng-template>
<div *ngIf="showHeader$ | async" class="header">
  <div class="left">
    <button
      [matTooltip]="'whats_new.close' | translate | titlecase"
      (click)="dialogRef.close()"
      mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="browser">
      <i [style.backgroundImage]="result.browser | browserIcon"></i>
      {{ result.browser | browserComboText }}
    </div>
  </div>
  <div class="right">
    <div class="feature-name">{{ result.feature_name }}</div>
  </div>
</div>
