<video
  (loadedmetadata)="showHeader$.next(true)"
  *ngIf="src; else loading"
  autoplay
  controls>
  <source [src]="src" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<ng-template #loading>
  <mat-spinner diameter="50" color="primary"></mat-spinner>
</ng-template>
<div *ngIf="(showHeader$ | async) && result" class="header">
  <div class="left">
    <button
      [matTooltip]="'whats_new.close' | translate | titlecase"
      (click)="dialogRef.close()"
      mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div>
      <ng-container class="browser"*ngIf="data.type === 'browser'; else mobile">
        <i [style.backgroundImage]="result.browser | browserIcon"></i>
        {{ result.browser | browserComboText }}
      </ng-container>
      <ng-template #mobile>
        <ng-template #mobile>
          <div class="mobile-info">
            <i class="android-icon"></i>
            <span>Mobile</span>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <div class="right">
    <div class="feature-name" *ngIf="result.feature_name">{{ result.feature_name }}</div>
  </div>
</div>
